[2020-04-20 14:16] az0 commented on #880
Thank you for the report, @Ashutosh-Kukreti
I see three problems.

1. On Linux, BleachBit doesn't come with a theme, and support for dark mode depends on your GTK system theme. For example, Yaru and Adwaita support a dark theme.  You can check your them in BleachBit's diagnostics window, and if you change your system theme to a GTK theme that supports dark mode, I think it will work.

2. `Theme pa

[2020-04-20 14:18] az0 commented on #877
Thank you for the report, @troette . I'll look into it.

Your Windows system is set to German, right?

[2020-04-20 14:21] troette commented on #877
Hi Andrew

Thanks for your replay. my keyboard Swissgerman:

BleachBit version 4.0.0
Build number 1628
locale.getdefaultlocale = ('de_CH', 'cp1252')

------ Originalnachricht ------
Von: "Andrew Ziem" <notifications@github.com>
An: "bleachbit/bleachbit" <bleachbit@noreply.github.com>
Cc: "troette" <quandolf@gmail.com>; "Mention"
<mention@noreply.github.com>
Gesendet: 20.04.2020 16:18:20
Betreff: R

[2020-04-20 14:30] az0 commented on #876
While there may be no harm, I recommend uninstalling first. Even if you forget, the installer will remind you as shown in this screenshot:

![2020-04-20 uninstall BleachBit](https://user-images.githubusercontent.com/933680/79763226-0ae12080-82e1-11ea-9280-d4a7d1e6331d.png)

[2020-04-20 14:30] #876 closed

[2020-04-20 14:35] az0 commented on #879
I believe it was there in 3.2.0, but it's not there now in 4.0.0:

![2020-04-20 BleachBit 400 missing version](https://user-images.githubusercontent.com/933680/79763807-c73ae680-82e1-11ea-997f-148a4f36d7ba.png)

[2020-04-20 14:45] az0 commented on #874
I have not looked into it, but I am guessing BleachBit should be forced to read these Google Chrome files in utf-8 encoding instead of the system cp1252 encoding.

[2020-04-20 17:49] ediowar opened #881 "AttributeError: 'NoneType' object has no attribute 'get_iter'"
[bleachbit_4.0.0_all_ubuntu1604.deb](https://www.bleachbit.org/download/file/t?file=bleachbit_4.0.0_all_ubuntu1604.deb)
`sudo bleachbit`
The menu option "Shred Settings and Quit"
[code]

[2020-04-21 08:43] MusiqueGraeme commented on #879
It was definitely there in 3.2.0.

[2020-04-21 09:05] acmatl opened #882 "File "bleachbit_4.0.0_all_debian10. deb" SHA256 wrong"
The SHA256 number of the file "bleachbit_4.0.0_all_debian10. deb" has to be a56665081769ed52a2f4913a014039ec9d807e7839260862017a3a0b90ae94fc but I get a different one 22ac38b863f5916af56893bea8f18c2f96c4af12359daac2969b9c6883f1dac4 I downloaded it from https://www.bleachbit.org/download/linux

What's wrong?

[2020-04-21 13:56] az0 commented on #882
I downloaded Debian 10 and got the correct hash `a56665081769ed52a2f4913a014039ec9d807e7839260862017a3a0b90ae94fc` .

Your hash `22ac38b863f5916af56893bea8f18c2f96c4af12359daac2969b9c6883f1dac4` perfectly matches another file `bleachbit_4.0.0_all_ubuntu1910.deb`.

Does this help?

[2020-04-21 15:01] acmatl commented on #882
Yes of course, I got the wrong hash, thank you very much

[2020-04-21 15:01] #882 closed

[2020-04-22 01:03] j0taDasFestas opened #884 "[WinError 5] Acess Denied.: Command to delete C:\Windows\Logs\waasmedi"
Getting this error when trying delete those logs using last winapp2.ini

`[WinError 5] Acess Denied .: Command to delete C:\Windows\Logs\waasmedic\waasmedic.20200420_205024_218.etl`
and rest of folder files

Thanks great software !

[2020-04-22 02:43] az0 opened #883 "McAfee false positive for BleachBit 4.0.0"
[BleachBit-4.0.0-setup.exe](https://www.virustotal.com/gui/file/03fb4dcede9843a22f5c488de6124d80c0427d9a80c0f6e21466bd83c39ee360/detection)

- McAfee-GW-Edition: RDN/Generic.grp
- McAfee: RDN/Generic.grp

[BleachBit-4.0.0-portable.zip](https://www.virustotal.com/gui/file/1d27d3828e258981ddabeb3a2427983d3deb2efb8d9c4c7369d2610d6d55b305/detection)

- McAfee-GW-Edition: RDN/Generic.grp
- McAfee: RDN/

[2020-04-22 02:52] az0 commented on #883
I submitted two files by FTP

BleachBit-4.0.0-portable.zip
BleachBit-4.0.0-setup.exe

[2020-04-22 03:03] j0taDasFestas commented on #884
Last one 4.0

[2020-04-22 06:49] dr-ss opened #885 "Wanting to help!"
Howdy,

I'd like to help out this project and don't know how else to do this. Can we get in contact via email (somehow) and work on doing some beta testing? I have a Citrix XenServer build with the following:

Ubuntu (latest if needed)
Linux Mint (latest if needed)
Windows 2012 R2 ISO
Time is available...

See tech-idea.com (blog for more background).

Thanks!

[2020-04-23 06:56] ediowar commented on #880
What are the requirements for BleachBit 4? [Install on Linux](https://docs.bleachbit.org/doc/install-on-linux.html)
From _usr_bin_bleachbit.0.crash:
[code]

[2020-04-23 09:30] Ashutosh-Kukreti commented on #880
@ediowar I'm using Manjaro (arch based) and I've already installed python 3.8 and I can't find libpython and my system is up to date. Kerenl : 5.4.33-3-MANJARO

[2020-04-23 12:02] fkru opened #886 "BleachBit 4.0.0 with nonworking built-in languages"
Given openSUSE Tumbleweed with a German environment and bleachbit-4.0.0, I always get English as default language, even though "de" is the only one ticked under "Languages". Installing bleachbit-lang works as expected. Do I miss something? Thx.

[2020-04-23 12:46] fkru commented on #886
I have just noticed that bleachbit 4.0.0 from
https://build.opensuse.org/package/binaries/home:andrew_z/bleachbit/openSUSE_Tumbleweed works fine. So it seems to be a downstream issue.

[2020-04-23 12:46] #886 closed

[2020-04-23 17:04] az0 commented on #883
Reply from McAfee

[2020-04-23 17:15] az0 commented on #885
When I release beta versions (example: [3.9.2](https://www.bleachbit.org/news/bleachbit-392-beta)), I write areas of focus for testing.

There is also an [article on testing](https://www.bleachbit.org/contribute/testing). (The article is older, so let me know if something needs updated or explained.)

Another way to test is just to use the software like you would normally. When you notice a proble

[2020-04-23 17:17] az0 commented on #886
The package in the OBS andrew_z repository and the package on www.bleachbit.org includes the translations and software application in one  installation package, while I think the official openSUSE package requires you two install two installation packages. They are different styles of packaging.

[2020-04-23 22:03] terrycloth opened #888 "Also delete Winapp.py when building for Unix"
A pretty minor issue, but... The `delete_windows_files` make target deletes Windows-specific files when building for Unix-like OSes, right.

[code]

But this leaves the file `Winapp.py` intact. And skimming that file, it looks sorta like it is also Windows-specific, so it should probably be removed too.

[2020-04-24 05:56] Manoj-zos opened #889 "frequent restarts after first run"
Hello Team
after running bleach bit for first time, it tool almost 18 mins to complete. once restarted the systems hangs up a lot time and there are frequent auto restarts and blue screens. Should i restore any important file deleted by bleachbit. please help

[2020-04-24 08:00] gzu88bv opened #890 "UnicodeDecodeError cleaning Google Chrome with BleachBit 4.0.0"
Upgraded to version 4.0.0
running on Windows 10 Pro
see red error on enclosed file
upgraded from version 3.0.0
![2020-04-24_144236](https://user-images.githubusercontent.com/26356673/80189030-372bd280-863c-11ea-9966-318a251b7cdd.png)

[2020-04-24 08:01] gzu88bv commented on #890
Have no idea to get rid of error

[2020-04-24 08:06] gzu88bv opened #891 "Error after upgrading to v4.0.0"
BleachBit v4.0.0
Windows 10 Pro
see enclosed file
upgraded from v3.0.0
![2020-04-24_144236](https://user-images.githubusercontent.com/26356673/80189642-2d569f00-863d-11ea-9469-45e6a2e99600.png)

[2020-04-24 08:07] #891 closed

[2020-04-24 14:05] az0 commented on #891
This is a duplicate of https://github.com/bleachbit/bleachbit/issues/890

[2020-04-24 14:08] az0 commented on #890
@gzu88bv

You closed this issue. Normally that means the problem is resolved, and no more action is needed. I think that's not the case, so I will reopen the issue.

The problem is BleachBit is reading a Google Chrome file with the wrong encoding, so it cannot read it. This means one file cannot be cleaned, but it does not cause any damage. Your issue is the same as another user's https://github.c

[2020-04-24 14:16] #880 closed

[2020-04-24 14:17] az0 commented on #883
For BleachBit-4.0.0-setup.exe, McAfee is "undetected" though McAfee-GW-Edition still has the false positive

[2020-04-24 15:26] gzu88bv commented on #890
I was not too familiar with GitHub when reporting the bug, but do
appreciate your valuable time and answer. Just sent you a few dollars for a
beer or two over the weekend. Kind regards Hans
He

Andrew Ziem <notifications@github.com> schrieb am Fr., 24. Apr. 2020, 21:08:

[2020-04-24 18:32] katasta commented on #878
I think that one will answer a lot of questions:
https://averagelinuxuser.com/clean-arch-linux/#3-clean-the-cache-in-your-home-directory

[2020-04-24 18:45] katasta opened #892 "After using bleachbit with root no more discspace is available (4.0.0.1)"
Hey guys.
I did learn not to use blechbit with root. After the action i did read about some issues. Won't do it again. But it happens;)

Now: The phenomenon is that no more free space is sent to the manjaro system even though the disk analysis shows free space. So I can't install an update anymore. When I uninstall a program NO free space is generated.

Unfortunately I uninstalled bleachbit, but s

[2020-04-24 22:27] ediowar commented on #892
[Q: I closed BleachBit while it was working for a long time, and now my hard drive is full. How do I fix it?](https://docs.bleachbit.org/doc/frequently-asked-questions.html)

[2020-04-25 08:07] Manoj-zos commented on #889
Hello Buddy
Iam on windows and my version is 4.0.0

[2020-04-25 10:08] thejoker3000 opened #893 "BleachBit window disappears (launched from context menu)"
After right click and clean with bleachbit option is selected, the window (after confirmation) will disappear but when checking the size of a file, it is decreasing meaning that the program is deleting files but no window is shown either during the process or after. I don't know if this was some kind of feature or if it is a bug.

[2020-04-25 11:28] topas-rec commented on #540
Tried to install BleachBit through package manager in Debian 10.3 today and it doesn't start with the error mentioned above:

`~$ bleachbit

Traceback (most recent call last):
  File "/usr/bin/bleachbit", line 38, in <module>
    import gtk
ModuleNotFoundError: No module named 'gtk'
`

[2020-04-25 14:07] az0 opened #894 "ModuleNotFoundError: No module named 'gtk' on Debian 10.3"
Tried to install BleachBit through package manager in Debian 10.3 today and it doesn't start with the error mentioned above:

`~$ bleachbit

Traceback (most recent call last):
  File "/usr/bin/bleachbit", line 38, in <module>
    import gtk
ModuleNotFoundError: No module named 'gtk'
`

_Originally posted by @topas-rec in https://github.com/bleachbit/bleachbit/issues/540#issuecomment-619364818_

[2020-04-25 14:09] az0 commented on #540
I think this your situation is different than issue 540, so I created a separate issue ticket https://github.com/bleachbit/bleachbit/issues/894 . In other, please give me some more details. I'll write the questions there.

Also, I am closing 540 because the discussion is a year old

[2020-04-25 14:09] #540 closed

[2020-04-25 14:11] az0 commented on #894
@topas-rec

When you wrote you installed through package manager, do you mean from the Debian repository Which version of BleachBit is that?

Assuming you have BleachBit 3.0 or 3.2, install the Debian packages libgtk-3-0, and gir1.2-gtk-3.0 .

Debian and other Linux distributions often have old (sometimes ancient) versions of BleachBit. The latest stable release is BleachBit 4.0.0. Please try it.

[2020-04-25 14:12] az0 commented on #889
How much free space is left on your hard drive? I mean the number for your C: drive like shown from [Windows Explorer like in this screenshot](https://www.lifewire.com/thmb/0HZ-erEALjFj1035bQQiKmVVSC4=/1301x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/005_how-to-check-free-hard-drive-space-in-windows-2619187-5beb61d6c9e77c0051cdfd2e.jpg).

[2020-04-25 14:15] az0 commented on #893
@aawheatley
This does not sound like a feature. Are you on Windows 10? Which version of BleachBit?

[2020-04-25 14:54] az0 opened #895 "Microsoft false positive for BleachBit 4.0.0"
BleachBit-4.0.0-portable.zip
[VirusTotal link](https://www.virustotal.com/gui/file/1d27d3828e258981ddabeb3a2427983d3deb2efb8d9c4c7369d2610d6d55b305/detection)

Microsoft detects it as PUA:Win32/Presenoker

[2020-04-25 15:58] aawheatley commented on #893
Yes, Windows 10 latest and here is some more info:

Build number 1628
GTK version 3.18.9
GTK theme = Adwaita
GTK icon theme = Adwaita
GTK prefer dark theme = False
SQLite version 3.31.1

[2020-04-25 16:02] aawheatley commented on #893
Also, been looking for a log file but can't find any logs for bleachbit.

[2020-04-25 16:32] topas-rec commented on #894
Thanks for creating this issue.
I installed it through the gui package manager "Software" not apt this time. In the GUI the source repository is shown which is debian-stable-main and bleachbit is version 2.0-3 (Updated 25.04.2020 says the repo).

I thought I could get the Debian minor release out of `lsb_release` but unfortunetely not:
[code]

That bleachbit version is one and a half years old - s

[2020-04-25 16:34] topas-rec commented on #894
I'll try your suggestions later and come back to this.

[2020-04-25 17:13] az0 commented on #893
You mentioned you have a problem with BleachBit disappearing when you start it from the Windows context menu (right click---shred with BleachBit). Do you have any trouble with BleachBit disappearing when you start BleachBit normally (like by left clicking on its icon)?

[2020-04-25 17:15] az0 commented on #894
BleachBit 2.0 was released February 2018, though Debian may have made a tweak later. This version requires that you install GTK 2. I forget the package names needed, but because of so many improvements, I recommend installing the latest BleachBit (currently 4.0.0) from www.bleachbit.org . Let me know how that goes.

OK, sounds good.

[2020-04-25 17:20] topas-rec commented on #894
The suggested packages are already installed (Tried them though they might only help above version 2)
Installing the package manually from www.bleachbit.org helps - no issue starting the app.

I usually don't like manually installed packages. In this case it is okay, since Bleachbit seems to check for updates automatically. It would be better to be able to use the software store even if the app is

[2020-04-25 17:22] topas-rec commented on #894
Should be installed.

[2020-04-25 17:25] topas-rec commented on #894
[code]

Some other GTK related packages might solve the issue - but don't mind. In this case (automatic updates) I'm happy with the manual install and other Debian 10 users should benefit from this discussion. Maybe Debian packages will be updated some day.

[2020-04-25 17:55] topas-rec commented on #894
Issue can be closed in my eyes.
Thanks for everyone who reads this and is part of the development team. Your app is very helpful and I use it since years!

[2020-04-25 18:08] Gitoffthelawn commented on #879
@MusiqueGraeme What tool are you using to check for current versions?  Just curious.

[2020-04-25 18:16] Gitoffthelawn opened #896 "BB 4.0 Portable takes much longer to open (at least for first launch)"
Coming from v3.2.0 Portable, BleachBit v4.0 Portable takes very approximately 20-30 times longer to open on the first run.

After about 30 seconds, I assumed it crashed.  But I'm patient, so I just waited it out.  After about 45 seconds (very approximate), the BleachBit UI appeared.  There was no indication it was running until that time (except in Task Manager / Process Explorer).

Version 3.2.0

[2020-04-25 18:21] Gitoffthelawn opened #897 "BB 4.0 displays a "monitor" debug message"
In BB 4.0, the first line when opening reads:

`closest monitor (0) geometry = (0, 0)+(####, ####), window geometry = (####, ####)+(####, ####)`

It looks like a debug message that's accidentally getting displayed.  Debug mode is off.

Tested on Win7 on a multi-monitor system when only 1 of the 2 monitors was enabled.

[2020-04-25 20:22] aawheatley commented on #893
No. I also open bleachbit - selected clean folders - selected the folder I wanted to remove and it worked fine. No disappearing. So I believe it is a function when doing right click---shred with BleachBit

[2020-04-25 21:00] az0 commented on #893
Thank you for the clarification. We will look into it

[2020-04-25 21:45] ediowar commented on #896
https://github.com/bleachbit/bleachbit/issues/821#issuecomment-612558244

[2020-04-25 22:49] Gitoffthelawn commented on #896
Actually, it wasn't my machine.  But that box had Avira running on it.

[2020-04-26 15:29] az0 commented on #894
Debian and Ubuntu follow a "no rolling release policy," so they update BleachBit only with new releases of the Linux distribution. For example, Ubuntu 19.10 will never get a newer version of BleachBit in Ubuntu 19.10, but Ubuntu 20.04 can have a newer version of BleachBit.

OK.

:)

[2020-04-26 15:29] #894 closed

[2020-04-26 15:35] az0 commented on #892
To add on to what ediowar wrote, you can try this command to look BleachBit's large files that apparently it wasn't able to clean because it was shutdown prematurely. Not all huge files were created by BleachBit. The files it created have very long names made of random characters.

`find / -type f -size +1G`

[2020-04-26 15:35] #892 closed

[2020-04-26 20:18] ediowar commented on #895
Undetected. You can close it.

[2020-04-26 20:31] ediowar commented on #883
Fixed/

[2020-04-26 20:52] mkhon commented on #875
There is separate issue about "Access denied": #337

[2020-04-26 20:59] mkhon commented on #337
I see "Access Denied" for files like "C:\Windows\Logs\waasmedic\waasmedic.20200419_171709_135.etl"
Such files just don't have write permission ACL

[2020-04-26 21:54] az0 commented on #895
@ediowar
Thank you

[2020-04-26 21:55] az0 commented on #883
@ediowar Thank you again

[2020-04-26 21:55] #883 closed

[2020-04-26 21:56] #875 closed

[2020-04-26 21:57] az0 commented on #875
@David-Gonzalez1109

Regarding error `TypeError: ord() expected string of length 1, but int found` please test [CI build](https://ci.bleachbit.org/) version 4.0.1.1635 , and let me know how it goes. It has Max's fix for wiping special files on Windows when running as administrator.

[2020-04-27 02:32] ediowar commented on #895
Again PUA:Win32/Presenoker :)

[2020-04-27 12:06] gator101 opened #899 "BB 4.0 Wipe Free Space not working"
BB version 4.0.0 Windows 10 errors on Wipe Free Space (see attached screenshot and data log)

![Bleachbit_screenshot_2020-04-27](https://user-images.githubusercontent.com/64414155/80370265-11970700-8890-11ea-8374-a7e497200dcc.png)

[Bleachbit_diagnostics_27_04_2020.txt](https://github.com/bleachbit/bleachbit/files/4539448/Bleachbit_diagnostics_27_04_2020.txt)

[2020-04-27 13:15] FrostKnight commented on #540
Oh sorry, I forgot to mention, my error is solved because, I had to change in compiling, /usr/local to /usr in the prefix to get it to work, no worries, its solved anyhow to sum it up. :)

[2020-04-27 13:16] ediowar commented on #899
Try new unstable build [1635](https://ci.bleachbit.org/?prefix=dl/4.0.1.1635/)

[2020-04-27 13:45] gator101 commented on #899
Seems to erase the free space, but with 6 errors.

![2020-04-27 (2)](https://user-images.githubusercontent.com/64414155/80379116-f16e4480-889d-11ea-8c8a-131e6b89acdf.png)
![2020-04-27 (3)](https://user-images.githubusercontent.com/64414155/80379124-f3d09e80-889d-11ea-8682-36876c940b32.png)
[Bleachbit_1605_log.txt](https://github.com/bleachbit/bleachbit/files/4539999/Bleachbit_1605_log.txt)

[2020-04-27 14:05] ediowar commented on #899
Please correct build number in the file name.

[2020-04-27 14:19] az0 commented on #895
Hmm. A few days ago I scanned the individual files, and I couldn't find any that Microsoft detected

[2020-04-27 14:54] gator101 commented on #899
Errors appeared after 11 minutes. If I run only Wipe Free Space then one error appears immediately (see attached screenshot 4).

![BB_build_1605_screenshot_2020-04-27 (4)](https://user-images.githubusercontent.com/64414155/80386425-a22d1180-88a7-11ea-92e3-47d1bae27874.png)

[2020-04-27 15:08] ediowar commented on #899
Could you change the language to English (rename C: \ downloads \ BleachBit-Portable \ share \ locale \de) and post an error message here? Message enclose on both sides in ```

[2020-04-27 15:19] gator101 commented on #899
[code]

[2020-04-27 15:37] ediowar commented on #899
@az0 the number of characters in the file name = 257. So it should be?

[2020-04-27 15:47] ediowar commented on #895
AI has changed its mind.

[2020-04-27 16:17] ediowar commented on #899
Same. Wndows 7 SL 64-bit. Build number 1635
[code]
258 characters in the file name

[2020-04-27 17:03] MaxWhite20062003 opened #900 "Which option creates a "new, temporary file for wiping free space"?"
I'm the type of maniac who selects all BleachBit options to free up as much space as possible, however, there is an option that creates a "new, temporary file for wiping free space."

Can anyone help me find out which option enables this procedure?

It is because I think that this option would only shorten the useful life of my storage drive, since I use BleachBit frequently with all option select

[2020-04-27 18:11] ediowar commented on #900
[Shred files and wipe disks ](https://docs.bleachbit.org/doc/shred-files-and-wipe-disks.htmll)

[2020-04-27 20:12] az0 commented on #900
Under the system category, there is an option "free disk space." When you enable it, there should be a warning that it's very slow. Try unchecking that box.

[2020-04-27 20:12] #900 closed

[2020-04-29 00:27] dr-ss commented on #885
I'll keep this open a few more days while I poke around right quick. This way I can ask a question if I run into something. My apologies for the latent reply.

Thanks!

[2020-04-29 04:03] GrepSecurity commented on #877
@az0 , do you have any update on this issue? I am facing the same error, also, the Chrome History wasn't cleared.

Running on 4.0.0

[2020-04-29 12:31] mayerthomas opened #901 "Fontconfig error: Cannot load default config file on Windows 10"
When I start BleachBit on my Windows-10-Machine, instead of text i only see rectangles in the application.
Starting via BleachBit-Debugging-Terminal brings the following error:
Fontconfig error: Cannot load default config file

![Anmerkung 2020-04-29 143228](https://user-images.githubusercontent.com/19205702/80596202-489f2100-8a26-11ea-9a4d-8a11b99095fd.jpg)

[2020-04-29 17:37] s-ankur opened #902 "Syntax Error while installing on Ubuntu 20.04"
![image](https://user-images.githubusercontent.com/33252312/80627679-e964ff00-8a6d-11ea-83ff-d8f7dd21309e.png)
`/usr/share/bleachbit/bleachbit/__init__.py:260: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if msgctxt is not None and msgctxt is not "":
`

There's an warning that appears while installing BleachBit with apt.

[2020-04-29 17:44] s-ankur commented on #902
This is because Python has started to treat this [type of expression ](https://adamj.eu/tech/2020/01/21/why-does-python-3-8-syntaxwarning-for-is-literal/)
`variable is not literal`
as a syntaxwarning beginning from python3.8

[2020-04-29 19:27] #902 closed

[2020-04-29 19:33] David-Gonzalez1109 commented on #875
A little better? Only 411 errors. All appear to be winapp2 errors.

DG

On Apr 26, 2020, at 4:57 PM, Andrew Ziem <notifications@github.com<mailto:notifications@github.com>> wrote:

@David-Gonzalez1109<https://github.com/David-Gonzalez1109>

Regarding error TypeError: ord() expected string of length 1, but int found please test CI build<https://ci.bleachbit.org/> version 4.0.1.1635 , and let me kno

[2020-05-01 08:34] marcTremblay2 opened #904 "Add package for Fedora 32"
Hello,
i create this issue following your message here : https://www.bleachbit.org/forum/fedora-32-bleachbit-not-available#comment-3314

Here is the issue from bleachbit support  :

i just upgrade from fedora 31 to fedora 32 workstation.
Bleachbit was removed during this upgrade.
I have been using Bleachbit for 6 years on fedora and it is the fisrt time i meet this issue.

I tried to install from

[2020-05-01 18:15] OlideG-William opened #905 "The problem is ModuleNotFoundError: No module named 'gi' in bleachbit 4.0.0"
Traceback (most recent call last):
  File "/usr/bin/bleachbit", line 43, in <module>
    import bleachbit.GUI
  File "/usr/share/bleachbit/GUI.py", line 25, in <module>
    from bleachbit import GuiBasic
  File "/usr/share/bleachbit/GuiBasic.py", line 28, in <module>
    import gi
ModuleNotFoundError: No module named 'gi'

i have a problem i dont know how to solve it tried everything and installed

[2020-05-01 18:53] fridaycarrot commented on #877
Hi, I have the same issue, using english:

Error: google_chrome.history: Function: Clean file: C:\Users\xxxxx\AppData\Local\Google\Chrome\User Data\Default\History
Traceback (most recent call last):
  File "C:\projects\bleachbit\bleachbit\Worker.py", line 87, in execute
  File "C:\projects\bleachbit\bleachbit\Command.py", line 160, in execute
  File "C:\projects\bleachbit\bleachbit\Special.py", li

[2020-05-01 21:38] ediowar commented on #905
Exactly 4.0.0? https://github.com/bleachbit/bleachbit/issues/894

[2020-05-02 02:49] ToddAndMargo opened #906 "Error 22 when wiping free space"
How can I fix this?

BleachBit-4.0.0-portable
W10-1909 x64

Wiping free disk space erases remnants of files that were deleted without shredding. It does not free up space.Error: _gui.free_disk_space: Function: Overwrite free disk space C:\
Traceback (most recent call last):
  File "C:\projects\bleachbit\bleachbit\Worker.py", line 87, in execute
  File "C:\projects\bleachbit\bleachbit\Command.py",

[2020-05-02 10:49] AnaemicStar commented on #905
I also use Manjaro Linux. I use kernel 4.19. I am unable to open Bleachbit.

[2020-05-02 13:02] f43tgrhb35SD7633 opened #908 "Could not show link"
Hello,

I use the BleachBit 4.0.0 portable version on Windows 8.1.
https://www.bleachbit.org/download/file/t?file=BleachBit-4.0.0-portable.zip

When I go to About BleachBit -> Website

Here comes that error message:
***Could not show link
Failed to execute helper program (Invalid argument)***

Yes I have set Firefox as my default browser.

[2020-05-02 13:06] f43tgrhb35SD7633 opened #909 "Where is exe, portable (zip) files on github?"
Hello,

cannot see exe, portable (zip) files under releases. https://github.com/bleachbit/bleachbit/releases

Please add.

[2020-05-02 13:09] f43tgrhb35SD7633 opened #910 "Add: Change language"
It would be very good if the language could be changed in the BleachBit settings without changing the Windows system language.

[2020-05-02 14:30] az0 commented on #909
Please see https://www.bleachbit.org/

[2020-05-02 14:30] #909 closed

[2020-05-02 14:36] az0 commented on #905
Did you install BleachBit from source code or from a repository?

Dp you have the gtk3 package (like [Arch requires](https://www.archlinux.org/packages/community/any/bleachbit/))?

I am not familiar with package names on Manjaro. Please review the package names for the [RPM](https://github.com/bleachbit/bleachbit/blob/master/bleachbit.spec) and [DEB](https://github.com/bleachbit/bleachbit/blob/mas

[2020-05-02 14:38] az0 commented on #906
Thank you for the report. This is a bug in BleachBit 4.0.0. It's like issue https://github.com/bleachbit/bleachbit/issues/899 . For now, one workaround is to downgrade to BleachBit 3.2.0. When a fix is ready, I'll post a message here to ask you to try it out

[2020-05-02 14:42] az0 commented on #901
@mayerthomas

Is your Windows system set to English?  If not, which language is it?

[2020-05-02 16:21] ediowar commented on #905
https://gitlab.manjaro.org/explore/groups
http://ftp.riken.jp/Linux/manjaro/testing/community/x86_64/

[2020-05-02 21:16] f43tgrhb35SD7633 commented on #909
Why not at github? https://github.com/bleachbit/bleachbit/releases

That would be very convenient as a second source.

[2020-05-02 21:26] az0 commented on #909
I agree it would be a little more convenient, but it would significantly reduce the revenue that fuels the project, so it would slow development. There are no revenues from license, subscriptions, or support, and I don't want to "shoot myself in the foot."

[2020-05-02 23:53] AnaemicStar commented on #905
@az0
From the Manjaro repository.

[2020-05-03 00:19] az0 commented on #905
@AnaemicStar  @OlideG-William
**1**
Did you install both packages **gtk3** and **python-gobject**?

**2**
What if you run `python3 /usr/bin/bleachbit`?

**3**
Can you start any other Python3+GTK applications such as gedit, gnome-tweaks, gpodder, gramps, liferea, pychess, rhythmbox, or totem?

[2020-05-03 00:55] ediowar commented on #905
https://forum.manjaro.org/t/stable-update-2019-10-10-gnome-3-34-1-plasma-5-16-5-kde-apps-framework-pamac-9-0-mesa-19-2-1/106563/13

[2020-05-03 08:11] AnaemicStar commented on #905
@ediowar
"Which DE?"

I use Xfce.
I deleted the .config/bleachbit in the Home folder and then reinstalled Bleachbit. This solved the problem. Bleachbit now opens.
I looked but couldn't find the solution. Thanks alot.

[2020-05-03 23:35] ediowar commented on #905
@OlideG-William Post a link to your distribution.

[2020-05-04 01:36] ediowar commented on #908
In my case, when I try to open the link, BB closes without error message.
BleachBit 4.0.0 portable version on Windows 8 SL

[2020-05-06 14:49] Rencer opened #912 "Fullscreen-window size always bigger than the monitor's actual physical resolution."
I never have any problem running bleachbit. But for some time, a few updates before, it won't even start. If I just simply try to run from the menu, it won't run.
Than I tried it to run in terminal, and it just write this error on the screen continously, impossible to even  stop it with the usual CTRL+C combo. Must kill the process manually.
The error message is:

This error never occured before,

[2020-05-06 15:52] mkhon commented on #912
Which OS is this? Also, how many monitors do you have?

[2020-05-06 19:18] sebas22 opened #913 "v4.0.0 erase all extensions of libreoffice"
BleachBit version 4.0.0
Git revision f2093f8
GTK version 3.24.5
debian buster

When we clean LibreOffice, option "cache", BleachBit delete all the content of ~/.config/libreoffice/4/user/uno_packages/cache

namely :
~/.config/libreoffice/4/user/uno_packages/cache/registry/  (all content and the folder itself)
~/.config/libreoffice/4/user/uno_packages/cache/uno_packages/ (all content and the folder

[2020-05-06 20:21] ediowar commented on #912
@Rencer https://github.com/bleachbit/bleachbit/commit/6a79f7ce17361209613762d447392e538b1a0f63

[2020-05-07 07:30] antonio-rojas commented on #912
That commit is included in 4.0 but the issue still happens

[2020-05-07 22:57] ediowar commented on #912
@antonio-rojas @Rencer

- Which BB release?

- Do you have this issue in [BB 4.0.0](https://www.bleachbit.org/download/linux)?

- Post a link to your Linux distribution.

[2020-05-07 23:47] ediowar commented on #912
@antonio-rojas , @Rencer
- Which BB release?
- Do you have this issue in [BB 4.0.0](https://www.bleachbit.org/download/linux)?
- Post here a link to your Linux distribution, your 'bleachbit.ini' config file and the diagnostic message like in the comment https://github.com/bleachbit/bleachbit/commit/7d348ce63aded3d130a0f9a2d5c9947437b25697#commitcomment-38243607
- Have you tried reinstalling BB? ht

[2020-05-08 00:02] Danster83 opened #914 "Google Chrome Can No Longer Be Fully Cleaned On Windows Yet Again"
I had posted this to the author before and he made a bug fix to the problem but Alphabet Google really does not want you to wipe all their tracks so Alphabet Google's Response  is to break Bleach Bit again.  Google sadly has some poor businesses practices.  I and my business have currently switched everyone over to Microsoft Edge.  I really like Microsoft Edge's New Browser compared to the Google

[2020-05-08 01:29] ediowar commented on #914
Even with activated "Download and update community cleanup templates (winapp2.ini)" in settings?

[2020-05-08 02:26] Danster83 commented on #914
Well, Surprise, Surprise --- I just updated with the latest Google Version and it allows beach bit to work again.  I was not even offered it until today.

https://chromereleases.googleblog.com/2020/05/stable-channel-update-for-desktop.html

[2020-05-08 02:26] #914 closed

[2020-05-08 02:50] ediowar opened #915 "AttributeError: 'gi.repository.Gtk' object has no attribute 'show_uri_on_window'"
Ubuntu 16.04.6 LTS, BleachBit version 4.0.1
Running from source code, Git revision https://github.com/bleachbit/bleachbit/commit/9166c50c2a14c557d32fc8d9fde3d676ff324cf5
GTK version 3.18.9
### Steps to Reproduce
Menu - Help - Open web browser to update.bleachbit.org? - Ok
[code]

[2020-05-08 09:27] Axeltherabbit commented on #905
it seems due to the python version on arch: "python" is  3.8 and "python3" is 3.8.2.
to fix it you can just replace the first line of /usr/bin/bleachbit
`!/usr/bin/env python3` with `!/usr/bin/env python`

[2020-05-08 13:02] fkru commented on #912
I can confirm the above-mentioned issue on openSUSE Tumbleweed 20200506 with KDE and bleachbit-4.0.0. Changing 'window_maximized' to 'False' solves the issue for me. In addition, maximizing bleachbit's screen manually works as expected. Interestingly, I am experiencing this issue only with X11, with Wayland everything works as expected.

[2020-05-08 13:15] fkru commented on #912
By the way, when starting bleachbit from the console with 'window_maximized=True' in bleachbit.ini, I am seeing https://user-images.githubusercontent.com/44164186/78308072-fbb75000-7536-11ea-9fc3-b6ca9ff8b938.png

[2020-05-09 00:09] dr-ss commented on #885
Closing this out, sorry for leaving this open for so long.

[2020-05-09 00:09] #885 closed

[2020-05-09 19:52] m0lz commented on #912
On Windows 10 x64 v1905

Bleachbit v4.0.0 always loads, but unusually I see a similar message as the OP in the report window of Bleachbit ..

closest monitor (0) geometry = (0, 0)+(1600, 900), window geometry = (270, 149)+(1052, 600)

See attached screenshot

![bleachbit](https://user-images.githubusercontent.com/20239221/81483547-f1275f00-9236-11ea-8160-fe369982978e.png)

[2020-05-09 20:49] #337 closed

[2020-05-09 20:51] az0 commented on #337
Max made a change to allow BleachBit to delete more files. Please try build 4.0.1.1642 (or later) from the [CI site](https://ci.bleachbit.org/). It should be there in ~10 minutes. Please let me know how it goes by adding a comment here.

[2020-05-10 02:39] ediowar commented on #904
@marcTremblay2 Grab binary packages directly https://software.opensuse.org/download/package?package=bleachbit&project=home%3Aandrew_z

[2020-05-10 02:56] ediowar commented on #912
Which distribution (official release or experimental/community packages)? Go to https://software.opensuse.org/package/bleachbit?search_term=bleachbit and click on Show bleachbit for other distributions.

[2020-05-10 03:21] ediowar commented on #912
@m0lz This is another issue https://github.com/bleachbit/bleachbit/issues/897

[2020-05-10 04:00] ediowar opened #916 "Duplicate issues"
To avoid duplicate issues, I propose add the text at https://www.bleachbit.org/help
Ask a question on [GitHub](https://github.com/bleachbit/bleachbit/issues/new) **after searching for a similar issue [bleachbit issues](https://github.com/bleachbit/bleachbit/issues)**

[2020-05-10 04:12] ediowar commented on #897
https://github.com/bleachbit/bleachbit/commit/7d348ce63aded3d130a0f9a2d5c9947437b25697#commitcomment-38355790

[2020-05-10 09:07] antonio-rojas commented on #912
4.0.0

Yes

https://www.archlinux.org/packages/community/any/bleachbit/
[code]
[code]

[2020-05-10 10:10] fkru commented on #912
I have been using openSUSE Tumbleweed's official bleachbit from  here: https://build.opensuse.org/package/binaries/openSUSE:Factory/bleachbit/standard

[2020-05-10 10:33] ediowar commented on #912
[Download BleachBit for Linux](https://www.bleachbit.org/download/linux) from home site.

[2020-05-10 11:18] ediowar commented on #912
@antonio-rojas so did you deleted the .config/bleachbit in the Home and root folders and then reinstalled Bleachbit?

[2020-05-10 11:32] antonio-rojas commented on #912
Yes

[2020-05-10 12:04] ediowar commented on #912
https://aur.archlinux.org/packages/bleachbit-git/

[2020-05-10 12:14] antonio-rojas commented on #912
What do you mean by this?

[2020-05-10 12:19] ediowar commented on #912
For some reason, there is no problem with another package.

[2020-05-10 12:25] antonio-rojas commented on #912
The same thing happens with the AUR bleachbit-git package. I'd be surprised if it weren't the case since there are no commits related to this between 4.0 and current git

[2020-05-10 18:12] fkru commented on #912
Installing bleachbit from AZ's repo for openSUSE Tumbleweed does not solve the issue, even if I use a new bleachbit.ini.

[2020-05-10 18:30] cliftonprince opened #917 "Notifications posted against settings"
Windows 10 "notifications from applications" doesn't list BleachBit, so you can't turn them off, but BleachBit posts notifications anyway. Neither the action center nor the notifications settings can make them go away. Not a big whoop but definitely a contradiction ...

Screenshots attached ...
first screenshot shows a notification popped up
![Annotation 2020-05-10 132157](https://user-images.gith

[2020-05-10 18:31] cliftonprince opened #918 "Website button fails"
Button in "about BleachBit" that's supposed to link to the BleachBit website doesn't work, screenshot below ...
![Annotation 2020-05-10 132313](https://user-images.githubusercontent.com/17009729/81507373-95a2b300-92c2-11ea-9d2c-84af9ffa7406.png)

[2020-05-11 10:47] zensubz opened #919 "Gdk-CRITICAL error"
Hi,

I use a custom bleachbit.ini file kept at /root/.config/bleachbit, and run bleachbit in CLI mode (bleachbit --preset -c) to clean unneeded files. I have noticed that the current version (v4.0.x, python3-based) produces the following error message if I run bleachbit (in CLI mode) inside a chroot environment:

(bleachbit:32577): Gdk-CRITICAL **: 10:45:13.712: gdk_screen_get_root_window: asserti

[2020-05-11 14:38] az0 commented on #916
A long time ago, duplicate issues used to bother me, and I'd combine them. Lately, I prefer each user to report the issue individually for a few reasons

1. It shows the bug is important, if more people report it
2. Sometimes what looks like a duplicate might be a separate issue
3. During the diagnosis and confirmation, separate issues keep the conversations separate and easier to read.

What do y

[2020-05-11 14:40] az0 commented on #897
This shows up at the "info" level, but it should show up only at the "debug" level to make it usually hidden

[2020-05-11 15:06] ediowar commented on #916
I agree.

[2020-05-11 15:06] #916 closed

[2020-05-11 17:37] TheMissingLink59 opened #920 "Remove localization files"
Many tools (also those that we use without an installed) have sub-folders with localization info. Often language subfolders with many small files. Is there a way in BleachBit to have these cleaned (except for a preferred language)? If that's not available yet, how would one set this up?

[2020-05-11 19:03] AmanAjayVarma commented on #919
I also have this problem

[code]

[2020-05-12 00:23] crop211 commented on #901
I also have this problem. Bleachbit will not show fonts. Only rectangles

Attached are a screenshot showing Bleachbit display and Bleachbit log.

![2020-05-12_09h49_05](https://user-images.githubusercontent.com/63181179/81624530-e65efc80-93e5-11ea-99b4-388a9f3dc712.png)

[bleachbit.log](https://github.com/bleachbit/bleachbit/files/4612723/bleachbit.log)

.
This has been occuring for a long time. I

[2020-05-12 00:46] crop211 commented on #901
Just thought I'd add.

Bleachbit Portable produces the same Error.

This is the output of the Bleachbit Debugging Terminal.

Fontconfig error: Cannot load default config file
Fontconfig error: Cannot load default config file
Fontconfig error: Cannot load default config file
Fontconfig error: Cannot load default config file
closest monitor (0) geometry = (0, 0)+(1366, 768), window geometry = (283,

[2020-05-12 04:49] ediowar commented on #920
Wich OS?

Select all languages you wish to keep. If your native language is Klingon, select Klingon. Locale files for unchecked languages will be deleted when cleaning Localizations under System.
This option is not available in Windows.

https://docs.bleachbit.org/doc/preferences.html

[2020-05-12 15:51] peter-marshall commented on #888
I'll work on this one.

[2020-05-12 15:51] peter-marshall commented on #678
I'll work on this one.

[2020-05-12 16:03] peter-marshall commented on #844
I'll work on this one.

[2020-05-12 16:10] peter-marshall commented on #879
I'll work on this one.

[2020-05-12 16:49] ediowar commented on #918
Same. Windows 8 SL (64-bit)
[code]

[2020-05-12 19:03] TheMissingLink59 commented on #920
Windows (10)...

[2020-05-12 21:27] az0 commented on #879
@peter-marshall
Background: BleachBit 3.2.0 and all previous versions used Python version 2 with py2exe. BleachBit 4.0.0 introduced Python 3.4 (for Windows), and it still used py2exe. I think py2exe was responsible for adding the metadata to the .exe file

@Gitoffthelawn
I checked the metadata using the regular Windows Explorer. Just right click on the file to view properties.

[2020-05-13 01:18] 0pLuS0 commented on #876
Thanks!

[2020-05-13 21:00] JaneyHMR opened #921 "AVG issue"
AVG just quarantined libgio-2.0-0.dll . . .  idp.generic.
BleachBit-4.0.0 on Windows 10.
Is this a false positive?

[2020-05-14 15:03] JaneyHMR commented on #921
I created an AVG exception and tried to re-install but got this -
![re-install](https://user-images.githubusercontent.com/65313207/81950904-6f4f8100-95fc-11ea-8364-10c6556e1123.PNG)

[2020-05-14 22:42] az0 commented on #921
@JaneyHMR
Regarding the "error opening file" during reinstallation, make sure you are running with elevated privileges. Instead of double left clicking on the installer, right click on it and choose "run as administrator."

For troubleshooting, two alternatives that don't require admin privileges (1) choose the installer option to install for just the current user or (2) use the portable version.

[2020-05-15 03:36] az0 commented on #895
Fixed

[2020-05-15 03:36] #895 closed

[2020-05-15 03:41] az0 commented on #873
I've gotten no reply, and it's still a false positive. I resubmitted, and I got this confirmation on the web site

That's all I can do, so I will close the issue

[2020-05-15 03:41] #873 closed

[2020-05-15 03:46] az0 commented on #921
Sometimes there are false positives, but I don't see that here.

I uploaded `libgio-2.0-0.dll` from BleachBit 4.0.0 to VirusTotal. It scanned it with 70 virus scanners (including AVG), and none detected it as malware.

Can you please confirm your file has the same checksums? (Checking any one checksum is fine.)

MD5	1de50887d2da1f9b937f1648bfc5088e
SHA-1	3c636d2c083746b23d2c978860040247c4ae1c46
SH

[2020-05-15 03:51] az0 commented on #896
@Gitoffthelawn
Do you know if this is consistently a problem?

[2020-05-15 03:58] az0 commented on #905
I see @Axeltherabbit  and @AnaemicStar have a solution.

@OlideG-William
Were you able to read this thread? Have you found a solution?

[2020-05-15 04:00] az0 commented on #884
@j0taDasFestas
This issue looks like https://github.com/bleachbit/bleachbit/issues/337 which also has "access denied. Please see this [recent comment ](https://github.com/bleachbit/bleachbit/issues/337#issuecomment-626233719) there and try that solution. Then, please post a comment here to let me know whether that helped.

[2020-05-15 10:15] j0taDasFestas commented on #884
This version you say ?
https://ci.bleachbit.org/
Thanks

[2020-05-15 12:16] ediowar opened #922 "Gdk-CRITICAL **: gdk_screen_get_root_window: assertion 'GDK_IS_SCREEN (screen)' failed"
openSUSE Tumbleweed 20200511 KDE
Desktop Sessions: Plasma, Plasma (Wayland), Plasma (Full Wayland), Openbox
Running from source code, Git revision https://github.com/bleachbit/bleachbit/commit/f93647aa02b8c9a985c6c6dc84026cf6a22a28ef
BleachBit version 4.0.1
GTK version 3.24.20
[code]
Same with https://download.opensuse.org/repositories/home:/andrew_z/openSUSE_Tumbleweed/noarch/bleachbit-4.0.0-1.11

[2020-05-15 13:36] ediowar commented on #796
openSUSE Tumbleweed official release 4.0.0 https://software.opensuse.org/package/bleachbit?search_term=bleachbit Old error. Is this a mistake of yours or the maker of the package?
[code]

[2020-05-16 08:51] fkru commented on #922
I confirm your observation with openSUSE TW20200514 and KDE. Seems to be a dup of #919?

[2020-05-16 16:02] JaneyHMR commented on #921
Sorry, it got zapped..
I got rid of AVG in the end, should have done it long ago.
I've reinstalled BB now, seems to be fine.
Thanks,
J.

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, 15 May 2020 04:47, Andrew Ziem <notifications@github.com> wrote:

[2020-05-16 19:54] Gitoffthelawn commented on #896
@azo I don't think it is.  I had access to that machine the other day, and BB took about 5-8 seconds to open.  Definitely not the 45 seconds it took before.

[2020-05-16 21:09] az0 commented on #896
@Gitoffthelawn
Thanks for the reply. Because it's not consistently a problem, are you okay with me closing the issue?

One guess on the root cause is the antivirus was getting accustomed to the new application.

[2020-05-16 21:11] az0 commented on #921
Thanks for the reply. OK, so I will close the issue.

[2020-05-16 21:11] #921 closed

[2020-05-16 21:13] az0 commented on #796
It looks like the RPM package is missing a dependency. Recently I agreed to maintain the openSUSE package, but I haven't started yet. Feel free to open an issue for that (either at openSUSE or here), and I will look into it.

[2020-05-16 21:31] az0 commented on #884
Yes. Currently, the newest version is [build 1642](https://ci.bleachbit.org/?prefix=dl/4.0.1.1642/)

[2020-05-17 00:24] j0taDasFestas commented on #884
False- positive ?
MD5 d75466f2fba0d35326dcdb19f040ed17
Avast -FileRepMalware
AVG - FileRepMalware
Bkav - HW32.Packed

[2020-05-17 08:57] antonio-rojas commented on #912
This depends on the window manager. For some popular window managers (kwin, mutter), the move command in https://github.com/bleachbit/bleachbit/blob/master/bleachbit/GUI.py#L1022 is a no-op since the window position is controlled by the WM itself. So the infinite loop happens as the window constantly tries to resize itself. In other WM such as openbox it works fine.

[2020-05-17 12:26] ediowar commented on #796
Posted  at https://build.opensuse.org/package/show/openSUSE%3AFactory/bleachbit It's all right?

[2020-05-17 16:52] az0 commented on #796
That's the production package. You can post a bug report at the development package here https://build.opensuse.org/package/show/utilities/bleachbit .

I have the fix ready, and I'm working on submitting it. The fix is simply to add a dependency for the missing package `typelib-1_0-Gtk-3_0` .

[2020-05-17 17:15] az0 commented on #884
Yes, I think it's a FP. I reported `BleachBit-4.0.1.1642-setup.exe`  to AVG as a FP. When they whitelist it, it will [show up on VirusTotal](https://www.virustotal.com/gui/file/a837e167a050220e0233208d4ee9b3bcb25fee24cb4fbc58c0adb42ffb7b2f71/detection)

[2020-05-17 17:17] az0 commented on #917
BleachBit will show a "Done" notification if the cleaning takes longer than 10 seconds or if the BleachBit window is not in focus.

You are correct that it doesn't register or coordinate with the Windows notification system.

[2020-05-17 19:29] j0taDasFestas commented on #884
working good no error on log

Andrew Ziem <notifications@github.com> escreveu no dia domingo, 17/05/2020
à(s) 18:15:

[2020-05-17 19:29] j0taDasFestas commented on #884
No error on log with that ver.

[2020-05-17 19:44] az0 commented on #918
On Windows 10 with BleachBit 4.0.0 installed, I get the error "could not show link: no application is registered as handling this file."

On a development machine with Windows 10, it runs fine.

I think the distribution is missing a component.

[2020-05-18 14:53] ediowar commented on #912
@antonio-rojas you seem to be right. I tried in openSUSE Tumbleweed to run BB in openbox and Plasma (Full Wayland), there is no such issue. In Plasma and Plasma (Wayland) there is an issue.

[2020-05-18 17:54] Gitoffthelawn commented on #896
@az0 Yes, thanks for asking! :smiley:

I'll close it now, and if it becomes a big problem or if you or others experience this issue, it can be re-opened.

[2020-05-18 17:54] #896 closed

[2020-05-18 20:18] ediowar commented on #905
[Bleachbit Not Opening](https://forum.manjaro.org/t/bleachbit-not-opening/140277)

[2020-05-18 23:15] Robertpuggle opened #923 "It's Running in the background for a long time"
I run it the first time it run normally and now it's running in the background

[2020-05-19 02:37] az0 commented on #923
Are you on Windows or Linux?

Which version of BleachBit?

What exactly did you do to check that it's running in the background? If it helps to explain, attach a screenshot

[2020-05-19 03:25] KidCisco76 opened #924 "BleachBit won't uninstall, trying to delete other files in the process..."
Problem was I downloaded the latest version of BB, no matter what I did, the program didn't even start. I believe I did see a instance in it in process manager tho. Being that it didn't work, I tried to uninstall it. What I noticed during the uninstall, it seemed to be deleting the same files in my Common Files folder over and over again, then starting in on another.  It didn't seem like it was tr

[2020-05-20 22:13] ediowar commented on #924
@KidCisco76 Post a link to the installation file.

[2020-05-21 00:54] KidCisco76 commented on #924
In my add/remove it says it was installed on the 16th. My Firefox history says this was the file that was downloaded. The actual page won't open, this link starts the install right away.

https://download.bleachbit.org/BleachBit-4.0.0-setup-English.exe

[2020-05-21 02:24] AmanAjayVarma commented on #919
I solved this problem with going to `/etc/ssh/sshd_config` and entering
[code]
Or

1. Installing `sudo apt install putty`
2. Opening putty
3. Connection -> SHH -> X11
4. - [ ] Enable X11 forwarding

[2020-05-21 04:01] zensubz commented on #919
In my case, it has already been uncommented in the default sshd_config...

[2020-05-21 04:07] az0 commented on #884
AVG replied, "We have analyzed the submitted file and we can confirm that it is not infected." I assume that means they will whitelist it.

OK, so I will close it as fixed. Thanks for confirming.

[2020-05-21 04:07] #884 closed

[2020-05-21 13:36] ediowar commented on #924
@KidCisco76 Check that there is no BB file in AV quarantine.

[2020-05-21 21:12] KidCisco76 commented on #924
Just checked Quarantine. Same day it was installed this was Quarantined.

![tHREAT](https://user-images.githubusercontent.com/65580777/82606544-417eb500-9b85-11ea-9d28-26f03389e37a.jpg)

I'll try that Sys File Checker tool...

[2020-05-21 23:32] ediowar commented on #924
Try to whitelist BleachBit-4.0.0-setup-English.exe and run it again.

[2020-05-21 23:39] ediowar commented on #924
Try to whitelist the .dll file and run BleachBit-4.0.0-setup-English.exe again.

[2020-05-22 10:31] AmanAjayVarma commented on #919
Then try to uncomment `X11UseForwarding yes` also.

[2020-05-22 15:35] ediowar opened #925 "Loop when maximizing the window on Linux in Plasma Desktop Session"
openSUSE Tumbleweed 20200519, Desktop Session: Plasma, Plasma (Wayland), single monitor.
https://download.opensuse.org/repositories/home:/andrew_z/openSUSE_Tumbleweed/noarch/bleachbit-4.0.0-1.14.noarch.rpm and latest git revision
`Maximized window (-18, -16)+(1402, 723): monitor (0) geometry = (0, 0)+(1366, 768)`
![Peek 2020-05-22 17-52](https://user-images.githubusercontent.com/44164186/82683982-

[2020-05-22 17:20] fkru commented on #912
Am 18.05.20 um 16:53 schrieb ediowar:

It seems that bug report #912 disappeared and is not available anymore
(cf. https://github.com/bleachbit/bleachbit/issues/912). How come?

[2020-05-22 21:28] NumDeP opened #926 "I noticed (4.0.0-1.1) update, after installing (4.0.0-1.4)"
I recently searched for updates on my openSuse Tumbleweed system and noticed the **bleachbit (4.0.0-1.4)** update. After the update had finished downloading and installing, I then noticed another update of **bleachbit (4.0.0-1.1)**.

I don't know what the exact issue is here as I haven't installed x-1.1 but it looks like a bug.

[2020-05-23 10:49] ediowar commented on #919
@AmanAjayVarma Which your OS?

[2020-05-23 14:38] AmanAjayVarma commented on #919
Linux Debian with LXQt and i3wm.

[2020-05-24 19:24] Robertpuggle commented on #923
I am on Windows

My Bleach Bit was 4.0.0

I Exit the program all the times and if i click the exes and it add a other one in the background

[2020-05-25 06:42] ediowar commented on #919
@AmanAjayVarma

`X11UseForwarding yes` is not in openSUSE Tumbleweed `/etc/ssh/sshd_config`
[sshd_config.txt](https://github.com/bleachbit/bleachbit/files/4675570/sshd_config.txt)

[2020-05-25 06:59] ediowar commented on #923
@Robertpuggle Which one? https://www.bleachbit.org/download/windows
You can record screen https://picpick.app/en/download/

[2020-05-25 11:57] Robertpuggle commented on #923
@ediowar It was these one BleachBit installer.exe
I don't have a recording soft ware

[2020-05-25 12:04] ediowar commented on #923
@Robertpuggle You can download the portable version from my link.
Check that no BB files are quarantined.

[2020-05-25 12:12] Robertpuggle commented on #923
@az0 @ediowar I Finley Got fixed I had to wait for a long time

[2020-05-26 02:10] XxJohnDoe040507xX opened #927 "Libgio error when running bleachbit normally."
My version is Windows 10. I have an antivirus (avg), firewall and a vpn in my browser already that is encrypted.

Today I was running bleachbit to clean up my pc cause it was slow upon startup cause I hadn't cleaned it in some time. I do a weekly clean usually but haven't gotten around to it cause of personal health issues.

Anyway during the scan today, my a/v stopped bleachbit from doing the cle

[2020-05-26 04:38] ediowar commented on #927
https://github.com/bleachbit/bleachbit/issues/921

[2020-05-26 20:45] #923 closed

[2020-05-26 21:12] tmlz opened #928 "Wrong language"
I specifically downloaded the English installer, but it still installed another language and I am not able to change it to English.

[2020-05-26 23:13] aimoon13 opened #929 "Will not install after update"
Hi,

I been using bleachbit for quite some time.

A few weeks ago there was an update and now whenever I try to install the latest version, I run through the .exe installer and at the end it just restarts the installation process from the beginning, following an endless loop.

OS: Windows 10

[2020-05-27 00:21] az0 commented on #928
The [BleachBit FAQ](https://docs.bleachbit.org/doc/frequently-asked-questions.html) states

Does this help?

[2020-05-27 00:23] az0 commented on #929
Please go to the Windows Control Panel. Which version of BleachBit does it think you have?

Also, do you know whether you chose the option to install for all users (which installs under `c:\program files x(86)`) or just for yourself (which installs under `c:\users`)?

Either way, please uninstall it from there and try again. Let me know how it goes.

[2020-05-27 00:24] az0 commented on #923
@Robertpuggle
Thank you for confirming.

If you think other people might have the same problem, you could post your solution here.

[2020-05-27 19:21] tmlz commented on #928
No, I did download the English installer

[2020-05-27 20:30] Robertpuggle opened #930 "My mane Disk keeps going max win i scan on the Bleachbit exe"
It will be lease and then it's maxing out of space can the Bleachbit team update the exe by 4.0.2 installer and the update paces the bug out and add a remove Junk files from uninstalled programs

[2020-05-27 20:50] Robertpuggle commented on #930
![Capture](https://user-images.githubusercontent.com/40573140/83070942-d83dec80-a031-11ea-930b-9d139be9536c.PNG)

[2020-05-27 21:27] ImmortaI opened #931 "Suggestion: Recycle Bin Context Menu, Shred with Bleach Bit"
As title suggests, an entry to shred contents of recycle bin straight from the context menu.

https://i.imgur.com/7VKUNCx.jpg

[2020-05-27 23:00] ediowar commented on #930
[Frequently Asked Questions](https://docs.bleachbit.org/doc/frequently-asked-questions.html)

[2020-05-28 10:06] skjerns opened #932 "Remove context menu"
BleachBit added a context menu to my files `Shred with BleachBit`, however I do not use this functionality.

How do I remove this entry? I did not find anything in the preferences. In my opinion, this should be set-able in the settings.

(Windows 10)

[2020-05-28 13:59] Robertpuggle commented on #930
@ediowar I did was not closed the exe I was running it and not these> I closed BleachBit while it was working for a long time, and now my hard drive is full.

[2020-05-28 22:22] ediowar commented on #930
https://github.com/bleachbit/bleachbit/issues/892#issuecomment-619571135

[2020-05-29 00:12] OnlinePlayer865 commented on #931
I would like this feature too. +1

[2020-05-29 04:32] az0 commented on #932
It's a setting in the installer. To remove the functionality, first uninstall. Then reinstall without this option enabled.

It's not something people often want to toggle.

[2020-05-29 04:35] az0 commented on #928
This may be related to a [known bug ](https://github.com/bleachbit/bleachbit/issues/864)in the English installer.

For now, one option is to install the regular installer (not the English installer) and uncheck the translations.

A second option is to delete the localization (i.e., translation files). I believe they are in `c:\program files (x86)\bleachbit\share\locale`. If you don't want them, it

[2020-05-29 04:46] az0 commented on #926
So you mean that openSUSE offered to "upgrade" you to an older version? This sounds like it would be a bug in the openSUSE package manager, Zypper. Do you agree?

[2020-05-29 05:03] az0 commented on #921
For what it's worth, I submitted [BleachBit-4.0.1.1642-setup.exe](https://ci.bleachbit.org/?prefix=dl/4.0.1.1642/) for [whitelisting](https://github.com/bleachbit/bleachbit/issues/884#issuecomment-629830710) to AVG, and they accepted it.

[2020-05-29 05:08] az0 commented on #927
A few weeks ago I submitted [BleachBit-4.0.1.1642-setup.exe](https://ci.bleachbit.org/?prefix=dl/4.0.1.1642/) for [whitelisting](https://github.com/bleachbit/bleachbit/issues/884#issuecomment-629830710) to AVG, and they accepted it. It included the same libgio as BleachBit 4.0.0. Because libgio has not changed between 4.0.0 and 4.0.1, I would hope this didn't happen.

Today I tried to submit libgi

[2020-05-29 23:32] Gitoffthelawn commented on #896
@az0 I received another report of this happening on a Windows box.  Unfortunately, I don't have more details at this time.

I'm fine if you reopen, or not.

I'll definitely let you know if I receive more details.

[2020-05-29 23:45] NumDeP commented on #926
Yeah that's right. I suppose it does look like a bug from openSuse's end. So what I basically did was `sudo zyyper dup` in command and received all the updates for the system including bleachbit (4.0.0-1.4) then in openSuse's Software Update portal on the bottom bar it showed an older version.

I should note I recently updated to the latest bleachbit (4.0.0-1.7)

[2020-05-30 01:44] ediowar commented on #926
[The proper way to update Tumbleweed](https://lwn.net/Articles/717489/)

[2020-05-30 03:15] ediowar commented on #926
@NumDeP

From which repository?

https://en.opensuse.org/SDB:Zypper_usage

[2020-05-30 03:32] ediowar commented on #926
@NumDeP

Did you add a repository or download bleachbit-4.0.0-1.4.noarch.rpm?

https://en.opensuse.org/SDB:Zypper_usage

[2020-06-01 00:07] Robert51 opened #933 "Strange red error entries in the log file (UnicodeDecodeError for Chrome and Opera)"
I managed to make Bleachbit launch and work on my Windows 10 64 bit system (build 4.0.1.1643). But the log file always includes the following red lines:
Error: opera.history: Function: Clean file: C:\Users\Admin\AppData\Roaming\Opera Software\Opera Stable\History

Traceback (most recent call last):
  File "C:\projects\bleachbit\bleachbit\Worker.py", line 87, in execute
  File "C:\projects\bleachbi

[2020-06-01 18:11] aimoon13 commented on #929
Thanks for your reply.

It is magically working now again...

Best Regards

On 27 May 2020, at 01:23, Andrew Ziem <notifications@github.com> wrote:

﻿

Please go to the Windows Control Panel. Which version of BleachBit does it think you have?

Also, do you know whether you chose the option to install for all users (which installs under c:\program files x(86)) or just for yourself (which installs u

[2020-06-03 15:44] Surfride10 commented on #877
bb 4.0.0 confirming Chrome Version 83.0.4103.61 (Official Build) (64-bit) chrome history is not cleanup, doing it manually...

[2020-06-03 15:46] Surfride10 opened #934 "Free Disk Space Failing"
Windows Server 2012r2
BB version 4.0.0 System:Free Disk Space fails with:

Wiping free disk space erases remnants of files that were deleted without shredding. It does not free up space.Error: system.free_disk_space: Function: Overwrite free disk space C:\
Traceback (most recent call last):
  File "C:\projects\bleachbit\bleachbit\Worker.py", line 87, in execute
  File "C:\projects\bleachbit\bleach

[2020-06-04 02:45] az0 commented on #934
Thank you for the report. This is a bug in BleachBit 4.0.0. It's like issue https://github.com/bleachbit/bleachbit/issues/899 . For now, one workaround is to downgrade to BleachBit 3.2.0. When a fix is ready, I'll post a message here to ask you to try it out

[2020-06-04 02:50] az0 commented on #933
The systems here look like issue https://github.com/bleachbit/bleachbit/issues/877 .

It is normal that you do not have the path `C:\projects\bleachbit\bleachbit`. This path refers to the environment on which BleachBit was built.

Would you please let me know the language of your system? It's shown in BleachBit under diagnostics. Specifically, please find the line that looks like `locale.getdefaul

[2020-06-04 03:49] cybercom02 opened #935 "Clean Zoom for linux"
Could you please add a cleanup for programs like anydesk (www.anydesk.com) and zoom (www.zoom.us), they both work on linux.

[2020-06-04 04:34] Robert51 commented on #933
BleachBit version 4.0.1
Build number 1643
GTK version 3.18.9
locale.getdefaultlocale = ('fr_FR', 'cp1252')

[2020-06-05 22:09] NumDeP commented on #926
download bleachbit-4.0.0-1.4.noarch.rpm

[2020-06-06 19:07] A-DarkStorm opened #936 "Bleachbit 4.0.0 portable And The Now Missing Windows OS8.1 Firewall"
For GitHub developers and Andrew.Ziem Author of Bleachbit.

[From the Desk Of What Little I know]

Bleachbit Portable
Before I Bleachedbit my Windows OS 8.1,
I already had re-installed the OS from a perfect Windows Image.
Then I ran Bleachbit Portable 4 or 5 times. Perfectly executed without
incurring any known damage to my OS.
It is only because this event is a second time, seemingly perfect repl

[2020-06-07 18:32] Robertpuggle commented on #930
My Blechbit is not sorce code @ediowar

[2020-06-07 18:40] ediowar commented on #930
@Robertpuggle

https://github.com/bleachbit/bleachbit/issues/892#issuecomment-619571135

[2020-06-07 19:02] Robertpuggle commented on #930
@ediowar  Tryed to find the plase in my folder to fin Blechbit big or the mecond file here

o add on to what ediowar wrote, you can try this command to look BleachBit's large files that apparently it wasn't able to clean because it was shutdown prematurely. Not all huge files were created by BleachBit. The files it created have very long names made of random characters.

find / -type f -size +1G

[2020-06-08 07:55] Saibamen opened #937 "No such file or directory: system32\\LogFiles\\Scm\\SCM.EVM"
`[Errno 2] No such file or directory: '\\\\?\\C:\\WINDOWS\\system32\\LogFiles\\Scm\\SCM.EVM': Command to delete C:\WINDOWS\system32\LogFiles\Scm\SCM.EVM`

BleachBit version 4.0.0

[2020-06-08 07:59] Saibamen opened #938 "google_chrome.cache error"
[code]

BleachBit version 4.0.0
Google Chrome 83.0.4103.97
Windows Server 2019 Standard

[2020-06-08 14:37] az0 commented on #938
This looks like the character encoding issue like https://github.com/bleachbit/bleachbit/issues/874

[2020-06-08 14:38] az0 commented on #935
Zoom and Anydesk are separate things, and it's best not to file them together. Because Zoom is so popular, I accept the Zoom part of this issue, so I changed the title.

[2020-06-08 15:56] KodrosX opened #939 "BleachBit not deleting whole Firefox URL History"
The option to clear URL history of Firefox does not delete *all* history.

Example:

Visit a couple URLs that are already bookmarked
Visit a couple of other URLs that are not stored as bookmarks
The URL history now shows 4 different URLs
Close Firefox
Use BB to clear Firefox URL history (places.sqlite)
Open Firefox

Firefox now has removed from the history the URLs that were visited which weren't

[2020-06-09 12:38] KodrosX commented on #939
I did some testing to make sure and examined the sqlite database after clearing the URL history (with BB, CCleaner or directly from Firefox):

### After clearing URL history with Firefox (or CCleaner):

- The contents of the `moz_historyvisits` table (`places.sqlite`) are completely cleared

- The table `moz_places` now only contains the bookmark records (if any bookmarks are stored by the user) w

[2020-06-09 17:12] cybercom02 commented on #935
I found this page, about: Finding and Viewing Recordings

https://support.zoom.us/hc/en-us/articles/206277393-Finding-and-Viewing-Recordings?mobile_site=true

[2020-06-09 17:19] cybercom02 commented on #935
I also find temporary files in: /home/propietario/Documents/Zoom/

[2020-06-09 17:24] cybercom02 commented on #935
I found these three pages that talks about log files:

https://support.zoom.us/hc/en-us/articles/205817409-Troubleshooting-Log-for-Linux

https://support.zoom.us/hc/en-us/articles/201512326-Troubleshooting-Log-for-PC

https://support.zoom.us/hc/en-us/articles/202022288-Troubleshooting-Log-For-Mac

[2020-06-13 00:03] ghost opened #940 "AttributeError: module 'gi' has no attribute 'require_version' on Mac OS X"
Hi, I'm getting this error running the latest `bleachbit.py` on macOS 10.15

`Traceback (most recent call last):
  File "bleachbit.py", line 43, in <module>
    import bleachbit.GUI
  File "/Users/user/Downloads/bleachbit/bleachbit/GUI.py", line 25, in <module>
    from bleachbit import GuiBasic
  File "/Users/user/Downloads/bleachbit/bleachbit/GuiBasic.py", line 29, in <module>
    gi.require_ver

[2020-06-13 20:45] 0pLuS0 opened #941 "Win10 - 4.0.0 - UI Desktop Dimensions & Preferences Theme Issues"
Hello,

I installed 4.0.0. over 3.2.0, so hopefully that is ok, and I didn't need to uninstall 3.2.0 first?

In 4.0.0 I noticed in the right side pane, in the upper top, it shows desktop UI dimensions, 3.2.0 did not do this, it looks odd, and I'm assuming a bug, it should be removed.

Also in the Preferences General - Custom - Drives - Whitelist, the words have a grey area surrounding the words, a

[2020-06-13 22:09] 0pLuS0 opened #942 "Win10 Icons Constantly Disappear"
Hello,

I've been using Bleachbit since you started this project and pretty much, since you introduced a Windows version, this problem has exsisted, I even reported a bug about this many years ago on your forum, I don't remember the reply you gave, but the problem still continues to this day.

Bleachbit for me personally in all the years I've used Windows, and that's going back to Win95, I've neve

[2020-06-14 14:37] Silur opened #943 "Wholeregex matches any expression"
# How to reproduce

Make a custom cleaner under `~/.config/bleachbit/cleaners/test.xml:
[code]
Running this cleaner will match every file the deep scanner runs trough:
[code]

While it's clear that the python regex engine doens't match any of these:
[code]

[2020-06-14 17:37] az0 commented on #943
I think the problem is as of BleachBit 4.0, deep scan supports only `regex` and not the other variants such as `wholeregex`.

[2020-06-14 17:48] az0 commented on #942
In about ten minutes, build 4.0.1.1645 will be posted to https://ci.bleachbit.org . Would you please try it out, and let me know whether it helped?

[2020-06-14 17:53] az0 commented on #940
Sorry, I am not familiar with Mac, but perhaps I can give you general advice that is useful. Some systems might have both Python 2 and Python 3 installed, so please be sure (1) you are using Python 3 to start BleachBit and (2) that you installed the Python 3 version of the GTK libraries.

Regarding (1), on Ubuntu to start BleachBit, the user must  run `python3 bleachbit.org` because `python bleach

[2020-06-14 18:21] gottabeleGIT commented on #940
Yes, I did use `python3` to attempt to start BleachBit when I got the error. I installed it, as well as `gtk+` and `gtk+3` from the Homebrew package manager since those seemed to be the only relevant GTK packages available on it.

[2020-06-14 18:27] gottabeleGIT commented on #940
Here are the available GTK packages from Home-brew:

![Screen Shot 2020-06-14 at 1 23 16 PM](https://user-images.githubusercontent.com/21181118/84600945-ac4ca480-ae42-11ea-9bba-bcd291cee42e.jpg)

Anything else that looks relevant that I should install?

Here is also the info for the `gtk+` and `gtk+3` packages:

![Screen Shot 2020-06-14 at 1 23 39 PM](https://user-images.githubusercontent.com/2118

[2020-06-14 22:01] arnstein99 opened #944 "Windows : Google Chrome : Save As dialog"
I find that in Microsoft Windows, Google Chrome "Save As" dialog box location does not go away. I mean,

1. I use Google Chrome dialog box to save an image file to disk.
2. I quit out of Google Chrome.
3. I run Bleachbit and clean.
4. I launch Google Chrome again and save an image to disk.

In the last step, Google Chrome defaults to saving the image to the same location  on disk as from step 1.

[2020-06-15 14:59] pizarrocz opened #945 "error cleanning"
hi, when i only have one ssd the program it work just fine, but now i have an ssd and hdd and it dosent work well, dosent clean all the files can anybody help me

![error](https://user-images.githubusercontent.com/66091627/84672993-0d4aaa00-af21-11ea-8962-55664343ce27.png)

[2020-06-15 15:55] pizarrocz commented on #945
i think i found the solution its just go settings and remove the other hard (units) drives, can anybody verify my problem?

[2020-06-16 04:55] az0 commented on #945
Earlier did you non-removable have  D: and E: drives?  If they existed when you first started BleachBit for the first time, it would have set them up for wiping when the "free disk space" option was run. However, it does not automatically remove these options later when the drives are removed, so that would explain the error. You fixed it by adjusting the preferences.

Does this help?

[2020-06-16 13:53] realagentwhite opened #946 "Theme Option Setting and Language Preferences"
I've been trying to figure a way to add a configuration that would allow a user to change the language of bleachbit after installation meaning that the program will install as usual but have an option in preferences to change to another.

Also, I thought it would be a good idea to have an option (if not hard to do) to be able to change themes. For example, say you want to use the theme from versio

[2020-06-17 03:08] az0 commented on #946
Assuming you are on Windows, please [see the FAQ](https://docs.bleachbit.org/doc/frequently-asked-questions.html#q-how-do-i-see-bleachbit-in-my-own-language-on-microsoft-windows)

Q: How do I see BleachBit in my own language on Microsoft Windows?
A: There are a few ways to affect the language of the BleachBit user interface.

In the Windows search bar, type “Language settings” and open it. Under t

[2020-06-18 03:09] az0 commented on #940
The `gtk+` package is not needed because that's the old version 2.

Here's another way to approach this: try installing and running another application that uses Python and GTK 3. On Ubuntu, these include:

eog
gedit
gnome-characters
gnome-weather
gpodder
gramps
mugshot
pitivi
pychess
zim

Would you please try one or two of these? Do they work?

[2020-06-18 03:10] az0 commented on #944
Thank you for the step-by-step instructions. Later I will check into it

[2020-06-18 03:20] gottabeleGIT commented on #940
So, `gedit`, `gpodder`, and `gramps` seem to be working properly. The other packages weren't available on Homebrew

[2020-06-18 14:23] az0 commented on #940
Is this python3 installed via homebrew?

[2020-06-18 14:24] gottabeleGIT commented on #940
Yes

[2020-06-18 23:32] #946 closed

[2020-06-19 08:26] kdeldycke commented on #940
Got it running with:
[code]

Even the GUI is somewhat working:
[code]

<img width="870" alt="Screen Shot 2020-06-19 at 10 21 20" src="https://user-images.githubusercontent.com/159718/85112911-b1c93680-b216-11ea-8e00-28576a99ba40.png">

The issue is that `pygobject3` is installed for Python 3.8, the later is [keg-only](https://discourse.brew.sh/t/how-to-default-python-3-8-on-my-mac-using-homebrew/7

[2020-06-19 08:28] kdeldycke commented on #940
BTW I'm trying to package BleachBit for brew but that's not really straightforward. 😞

[2020-06-19 09:24] kdeldycke commented on #119
FYI, I'm trying to package BleachBit for brew at: https://github.com/Homebrew/homebrew-core/pull/56538

[2020-06-19 09:24] kdeldycke commented on #940
FYI, I'm trying to package BleachBit for brew at: https://github.com/Homebrew/homebrew-core/pull/56538

[2020-06-19 12:36] MeaW1 opened #947 "WINDOWS XP WORKS WITH LATEST VERSION + PROOF!"
you guys are wrong , the version you archived in the website saying "BleachBit version 2.2 is the last version to support Windows XP, and it is the last version to use GTK 2." , while i didnt care , and i installed the latest version and it worked , here a screenshot , you see its working , but the updater doesnt , its no problem for me , this time dont lie to people  .
Edit : Wait for screenshots

[2020-06-20 10:59] HugoRosado08 commented on #770
Hello, i found the same issue with the installer (BleachBit v4.0.0), where unchecking the "Translations" box still gets the "..\share\locale\" files installed.
Tried twice and same result.

Cheers

[2020-06-20 21:19] az0 commented on #939
Thank you for the good bug report. I'll check into it

[2020-06-22 10:27] mpelas opened #948 "totalvirus detects Trojan.Malware.300983.susgen"
the Maxsecure engine detects Trojan.Malware.300983.susgen in the latest version (windows portable zip)

https://www.virustotal.com/gui/file/1d27d3828e258981ddabeb3a2427983d3deb2efb8d9c4c7369d2610d6d55b305/detection

Please provide forensics analysis
Regards

[2020-06-22 14:51] az0 commented on #948
The file hash is correct. It seems to be a false positive, so I will contact the vendor for whitelisting.

[2020-06-22 19:17] topas-rec commented on #922
Have this on Debian Buster (10.4) using Wayland and Gnome.
Do **NOT** have this when I switch to Gnome on Xorg.

[2020-06-23 05:39] Asherathe commented on #918
I get the same error as OP when running BleachBit 4.0.0 on Windows 7 64-bit, whether running as normal user or admin.

[2020-06-23 11:33] mkhon commented on #897
Fixed in #949

[2020-06-23 16:57] pan93412 commented on #947
Oh, thanks for testing it, but we didn't lie you.

For a developer, we can't always test if any system is working with the latest version. So,

means that our recommended version for Windows XP is 2.2, but you can try your luck by trying the latest version.

[2020-06-23 21:41] terrycloth opened #950 "On Linux, run with sudo or equivalent, instead of the root account"
On GNU/Linux, installing BleachBit adds an extra entry to the system apps list, so you can run BleachBit normally or with admin privileges. Using this .desktop app entry, or else calling the `bleachbit-root` executable, seems to ask for the password for the literal `root` account instead of the invoking user's account.

However, some Linux distributions, such as recent releases of Fedora, lock the

[2020-06-24 08:07] mkhon commented on #877
Fixed in #951

[2020-06-24 08:09] mkhon commented on #933
Fixed in #951

[2020-06-24 08:41] mkhon commented on #918
Happens in portable build (can not be reproduced if run from source)

[2020-06-24 08:52] mkhon commented on #918
It is not a regression - gspawn-win32-helper.exe is missing and it was not included into bleachbit builds for a long time.

[2020-06-24 09:14] mkhon commented on #881
@ediowar can you provide the output of "lsb_release -a"?

[2020-06-24 16:47] mkhon commented on #881
This was broken in this commit: 1305cb279ae50d4dfc0428092a10e6910b63861e

The reason is that quit (called after idle_add) is called prior to calling cleaner (which after this commit is also added with Glib.PRIORITY_LOW).

[2020-06-24 17:28] mkhon commented on #862
Fixed in #953

[2020-06-25 03:02] #925 closed

[2020-06-25 03:02] az0 commented on #925
@ediowar

Max made a fix for this, and I merged it to Git. Could you please test from there?

[2020-06-25 03:07] #874 closed

[2020-06-25 03:08] az0 commented on #874
@Robert51
Thank you for the good bug report. You were first, but this turned out to be a common issue. Max coded a fix, and I merged it. When you get a chance, would you please download version 4.0.1.1660 or newer from https://ci.bleachbit.org/ and test it? It should be there in ~15 minutes.

[2020-06-25 03:09] az0 commented on #890
@gzu88bv
When you get a chance, would you please download version 4.0.1.1660 or newer from https://ci.bleachbit.org/ and test it? It should be there in ~15 minutes. Afterwards, you should not have have the UnicodeDecodeError when cleaning Google Chrome

[2020-06-25 03:10] az0 commented on #938
@Saibamen
When you get a chance, would you please download version 4.0.1.1660 or newer from https://ci.bleachbit.org/ and test it? It should be there in ~15 minutes. Afterwards, you should not have have the UnicodeDecodeError when cleaning Google Chrome

[2020-06-25 03:12] az0 commented on #877
@troette
@GrepSecurity
@fridaycarrot
@Surfride10
When you get a chance, would you please download version 4.0.1.1660 or newer from https://ci.bleachbit.org/ and test it? It should be there in ~15 minutes. Afterwards, you should not have have the UnicodeDecodeError when cleaning Google Chrome.

If you do *not* see this error but Chrome history is still not cleaned, let's file a new issue. This issu

[2020-06-25 03:14] az0 commented on #933
@Robert51
When you get a chance, would you please download version 4.0.1.1660 or newer from https://ci.bleachbit.org/ and test it? It should be there in ~15 minutes. Afterwards, you should not have have the UnicodeDecodeError when cleaning the history of Google Chrome or Opera.

[2020-06-25 03:24] az0 commented on #950
Recently I haven't looked at all this, but four years ago, we added PolicyKit. The original ticket is here https://bugs.launchpad.net/bleachbit/+bug/1111061

The policy is skipped with the rpm and deb packages found on https://www.bleachbit.org

Are you using Fedora? Did you install BleachBit from the Fedora repository or from www.bleachbit.org ?

[2020-06-25 03:46] mkhon commented on #850
I can not reproduce this

[2020-06-25 03:47] mkhon commented on #616
How to reproduce this?

[2020-06-25 03:48] mkhon commented on #637
This happens because portable currently removes only bleachbit.ini

[2020-06-25 03:53] az0 commented on #616
@mkhon
I used [Process Monitor](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon) to monitor BleachBit while it was running. I haven't tried it since August, and much has changed since. I could try again.

[2020-06-25 03:55] #879 closed

[2020-06-25 03:58] az0 commented on #879
@MusiqueGraeme
Please visit https://ci.bleachbit.org/ , download version 4.0.1.1662 or newer, test, and post a message here to let me know how it goes.

Please allow a few minutes for the new version to build and upload.

[2020-06-25 04:18] az0 commented on #947
I added that message on the [old downloads page](https://www.bleachbit.org/download/old) after trying BleachBit 3.0 on Windows XP. It immediately gives a fatal error and quits.

Today I added this note to BleachBit 3.0

I edited the note for 2.2

And added this note for 2.2

Is this better?

[2020-06-25 04:40] az0 commented on #918
You're right. In BleachBit 3.2, it didn't work either. I tested it on the blue website link in the about dialog window.

[2020-06-25 04:40] gzu88bv commented on #890
Hello,

Installed version 4.0.1.1662 which now runs like a charm and error is
gone.
My Windows corresponds to file attached which has not been updated to
windows 10 pro vers. 2004 yet.

------ Originalnachricht ------
Von: "Andrew Ziem" <notifications@github.com>
An: "bleachbit/bleachbit" <bleachbit@noreply.github.com>
Cc: "gzu88bv" <suizo_at_large@bluewin.ch>; "Mention"
<mention@noreply.github.co

[2020-06-25 04:47] az0 commented on #616
1. Start Procmon64.exe
2. Start BleachBit
3. In Process Monitor, type CTRL+L to edit filters
4. Add filter for _process name_ contains `bleach`
5. Add filter for _path_ contains `$`
6. Click OK

[2020-06-25 04:51] az0 commented on #890
@gzu88bv
Thank you for confirming. I will close the ticket

[2020-06-25 04:51] #890 closed

[2020-06-25 04:55] az0 commented on #770
My mistake. Yes, this is still an issue, and it's the same as https://github.com/bleachbit/bleachbit/issues/864

[2020-06-25 04:57] az0 commented on #864
This issue is the same as https://github.com/bleachbit/bleachbit/issues/770

Look for bleeding-edge builds at https://ci.bleachbit.org/ . Sometimes there are updates more than once daily.

[2020-06-25 05:05] az0 commented on #948
I reported the file via [their web form](https://www.maxsecureantivirus.com/submit_aFalse_Positive.htm), and I got the instant response

So I will wait for their response

[2020-06-25 05:15] az0 commented on #937
@Saibamen
Does this happen consistently, or did it happen just once?

I could _not_ reproduce this error on Windows 10 with BleachBit 4.0.1.1650 portable. My steps were

1. Enabled the preference to download Winapp2.ini (where this rule comes from)
1. Restart BleachBit to download Winapp2.ini . Start it with Administrator privileges to delete files under `c:\windows\`
1. Create the directory `c:\w

[2020-06-25 07:06] mpelas commented on #948
thanks for keeping me up to date
Great professionalism!

Regards from sunny Athens Greece,
Michail PAIGNIGIANNIS
Market Surveillance Officer
Radioequipment Directive Specialist
ELEC ENG, MSC, MRes, CCNA
Athens Greece

On Thu, 25 Jun 2020 at 08:06, Andrew Ziem <notifications@github.com> wrote:

[2020-06-25 08:04] MusiqueGraeme commented on #879
I installed the above file and it worked - there is now a version number. Well done!

[2020-06-25 08:15] MusiqueGraeme opened #956 "There is unnecessary duplication in the install process: show license after installation mode"
I just installed 4.0.1.1662

I was told that there was an old version and had to enter my password to run the uninstall program.

Then I'm back to the install program and accepting the licence
I choose for myself or everyone
Then I have to enter my password again.
Then I chose my language
I click Next
Then I have to accept the licence again
Then the location and click Install.

My thought is = why

[2020-06-25 11:55] ediowar commented on #925
I tested, now there is no issue.

[2020-06-25 13:19] az0 commented on #925
Thanks

[2020-06-25 17:13] mkhon commented on #901
@mayerthomas @crop211 Do you by any chance have FONTCONFIG_FILE or FONTCONFIG_PATH environment variables?
You can check that by opening cmd.exe and running

echo %FONTCONFIG_FILE%
echo %FONTCONFIG_PATH%

[2020-06-25 17:26] mkhon commented on #901
I can reproduce this when I set FONTCONFIG_FILE to some non-existent path (or invalid fonts.conf)

[2020-06-25 17:29] mkhon commented on #934
Fixed by #957

[2020-06-25 17:51] terrycloth commented on #950
Yes, I'm using Fedora 32 Workstation edition, x86_64. I'm still working on repackaging BleachBit for the Fedora repos, so I'm building BleachBit 4.0.0 from source, comparing each step in my RPM spec with the spec that you use to build on OSBS... Although I get the same results when installing the official `bleachbit-4.0.0-1.1.fc31.noarch.rpm` package from bleachbit.org too.

When launching from a

[2020-06-25 18:06] terrycloth commented on #950
Maybe another reason to change the admin password implementation: Launching BleachBit As Administrator via the system app menus (in GNOME Shell, the "Task Overview") never actually prompts me for a password at all. Immediately after trying to launch "BleachBit As Administrator" I can see the process `/usr/sbin/userhelper -t -w bleachbit-root` running briefly, but there's never a password dialog, a

[2020-06-25 18:06] mkhon commented on #676
@az0 @Tobias-B-Besemer In my Windows VM if bleachbit is started without %LOCALAPPDATA%/fontconfig directory (no fontconfig cache) it takes several minutes to build the cache.

[2020-06-25 18:29] mkhon commented on #616
I do not see unexpanded multi-user $$foo$$ variables (like %$ProgramFiles$$%) in process monitor (latest 4.0.1 build).

The only missing expanded variable is $XDG_CACHE_HOME and I think it is ok (e.g. from google-chome.xml).

[2020-06-25 18:34] mkhon commented on #321
@az0 can you clarify this?

[2020-06-25 20:40] Saibamen commented on #938
Fixed - 4.0.1.1662 - setup version

[2020-06-25 20:40] #938 closed

[2020-06-25 20:47] Saibamen commented on #937
Still happens in 4.0.1.1662

consistently

This is not some file ;) I don't know what it is, but when I trying open it with Notepad++ (7.8.6), I have this window:
![image](https://user-images.githubusercontent.com/905878/85793462-5676d700-b735-11ea-92c5-e42f9e20b65f.png)
This is **not** read-only file.

While opening with standard notepad:
![image](https://user-images.githubusercontent.com/905878/

[2020-06-25 20:59] az0 commented on #938
thank you for checking, @Saibamen

[2020-06-25 21:02] az0 commented on #937
Looks like a special kind of file created by Windows Service Control specific to Windows Server. I'll look into it more.

In the BleachBit preferences, do you have "overwrite files" enabled? Would you mind testing it both ways: does it make a difference?

[2020-06-25 21:50] Saibamen commented on #937
Sorry, settings have missing change language option, so this are my settings from previous comment:
![image](https://user-images.githubusercontent.com/905878/85798796-6c3cca00-b73e-11ea-88d7-6ca780789333.png)

Checked`Nadpisz zawartość plików` and still have this error log

[2020-06-25 22:36] az0 commented on #937
Yes, "Nadpisz zawartość plików" is what I meant. Thank you for checking.

The last thing you might be able to check. Enable debugging (Wyświetl informacje o błędach), and start `bleachbit_console.exe` instead of `bleachbit.exe`. If there is a Traceback message, please post it here. (There might not be one.)

[2020-06-26 03:42] az0 commented on #616
Yes, I no longer see the multi-value variables with `$$`, but I do see these on startup

[code]

As implied by the paths, this is build 1650 in portable mode on Windows 10.

Besides wasting some time, this doesn't seem to break anything.

[2020-06-26 03:46] az0 commented on #616
On Ubuntu with revision 7b6c29b44706d4c003df11619c74fa805d0df7ce , I get something similar

[code]

With similar lines removed, here are some entries
[code]

[2020-06-26 04:05] #770 closed

[2020-06-26 04:05] #864 closed

[2020-06-26 04:05] #928 closed

[2020-06-26 04:07] az0 commented on #770
@MPeti1
@HugoRosado08

Would you please test the fix? It will be published in 10 minutes at https://ci.bleachbit.org/ . Please test version 4.0.1.1668 or newer

[2020-06-26 04:07] az0 commented on #928
@tmlz

Would you please test the fix? It will be published in 10 minutes at https://ci.bleachbit.org/ . Please test version 4.0.1.1668 or newer

[2020-06-26 04:16] az0 commented on #676
@mkhon
Good observation. I tested in my Windows VM. Without the fontconfig cache, it took about 40 seconds. With the cache, it was almost instant.

The worst part is the user gets no visual feedback in the GUI to explain what is happening.

I wonder if there is either a way to speed up the fontconfig process.

[2020-06-26 04:19] az0 commented on #901
@mayerthomas
@crop211

There is a fix available that may help with this. Would you please try version [build 4.0.1.1666](https://ci.appveyor.com/project/az0/bleachbit/builds/33740816/artifacts)? (Right now, the fix is only in this build 1666.) After testing, please write a comment here to let us know how it went.

[2020-06-26 04:23] az0 commented on #321
@mkhon
Deep scan operations do not obey the preference for shredding files vs. unlinking them. This is the option that can be set in the GUI preferences or via the command line (`--shred`).

[2020-06-26 04:33] az0 commented on #956
Forgetting about the uninstallation process, the installer does not immediately elevate privileges because some users can't or don't want to, but they can still use the installer to install "for myself" without elevation. It asks only for elevation after choosing "for everyone."

The license is always the same, so showing it twice is unnecessary. This behavior comes from an NSIS plugin used to all

[2020-06-26 05:41] devnet1985 commented on #944
I'll work on this (Sparsh)

[2020-06-26 06:14] mayerthomas commented on #901
A view days ago I reinstalled windows. Bleachbit no works as expected.
I'm very sorry that I can't help anymore on this issue.

[2020-06-26 06:19] Saibamen commented on #937
[code]

[2020-06-26 09:10] MusiqueGraeme commented on #956
My entry of a password is as a way of increased security - I have an admin account and work in a non admin account - this is why I don't simply click a button but enter a password - and this is to increase security.
Blessings

[2020-06-26 14:32] az0 commented on #879
@MusiqueGraeme
Thanks for checking

[2020-06-26 19:01] bgolding99 commented on #933
I am having similar problems on my Windows 10 system but with even more errors:

Error: google_chrome.cache: Command to clean JSON file, path=C:\Users\PC\AppData\Local\Google\Chrome\User Data\Default\Preferences, address=dns_prefetching/host_referral_list
Traceback (most recent call last):
  File "C:\projects\bleachbit\bleachbit\Worker.py", line 87, in execute
  File "C:\projects\bleachbit\bleachb

[2020-06-26 20:00] Robert51 commented on #933
BleachBit-4.0.1.1662-setup-English.exe installed normally and is working correctly on Windows 10 Home 64 bit.

[2020-06-26 22:09] az0 commented on #933
@Robert51
Thank you for testing. I will close the issue.

@bgolding99
This error will continue to happen in BleachBit version 4.0.0 unless you disable the history option for Google Chrome, Opera, and Chromium.

In case it helps, here is a YouTube video about [how to get past the SmartScreen warning to install BleachBit ](https://www.youtube.com/watch?v=Uk3f8mBYY08)(at least, in a normal case).

An

[2020-06-26 22:09] #933 closed

[2020-06-26 22:53] #918 closed

[2020-06-26 22:55] az0 opened #960 ""No application is registered as handling this file" when opening URLs with Microsoft Edge"
GTK can open URLs when the default browser is Google Chrome but not when it is Microsoft Edge. Tested on Windows 10.

Created from discussion here https://github.com/bleachbit/bleachbit/pull/952

[2020-06-26 22:58] az0 commented on #918
@cliftonprince
@ediowar
@Asherathe

Max fixed this by adding a missing component. When you have a chance, would you please download build 4.0.1.1669 or newer from the [CI site](https://ci.bleachbit.org/), install it, test it, and write a comment here to let us know how it went?

It works when the default browser is Google Chrome or Internet Explorer, but it [does not work when the browser is Micro

[2020-06-26 23:28] Asherathe commented on #918
I tested 4.0.1.1669, and it works now, with Pale Moon as default browser.

[2020-06-26 23:57] az0 commented on #918
Thanks for testing!

[2020-06-27 00:28] ediowar commented on #918
I tested 4.0.1.1669, and it works with Internet Explorer, Google Chrome, Firefox as default browser.
The issue for the administrator remained. Or let's consider it as a separate issue?

[2020-06-27 00:37] ediowar commented on #918
I tested BleachBit-4.0.1.1669-portable, and it works with Internet Explorer, Google Chrome, Firefox as default browsers.
But when running as an administrator, BB still closes without any messages. Or let's consider it as a separate issue?

[2020-06-27 04:36] az0 commented on #918
Yes, this sounds like a separate issue.

[2020-06-27 04:41] crop211 commented on #901
Dear Andrew,

Thanks for your Bleachbit update 4.0.1.1666.

I installed it and it now works perfectly. Great to have bleachbit back. Much appreciated.

Thanks Max,

Here are the results of your suggested tests :

C:\Users\admin>echo %FONTCONFIG_FILE%   returns   C:\Windows\fonts.conf

C:\Users\admin>echo %FONTCONFIG_PATH%   returns   C:\Users\admin>

The only fonts.conf files on my PC are in progr

[2020-06-27 04:43] crop211 commented on #901
Dear Andrew,

Thanks for your Bleachbit update 4.0.1.1666.

I installed it and it now works perfectly. Great to have bleachbit back. Much appreciated.

Yours, crop211

June 26, 2020 6:19:40 AM CEST Andrew Ziem <notifications@github.com> wrote:

@mayerthomas
@crop211
There is a fix available that may help with this. Would you please try version build 4.0.1.1666? (Right now, the fix is only in this

[2020-06-27 04:48] Gitoffthelawn commented on #897
@mkhon Thank you Max!

[2020-06-27 04:57] #862 closed

[2020-06-27 06:10] XhmikosR opened #961 "Cookies manager/exclude"
I really like using BleachBit especially the fact that it's an open-source program :)

One feature I've been missing is the ability to exclude specific cookies, for example `mail.google.com`.

I did a search and couldn't find a similar issue here, I hope it's not duplicate.

Keep up the good work!

[2020-06-27 06:16] XhmikosR commented on #578
@az0 have you thought about adding lgtm to the repo? I see many alerts https://lgtm.com/projects/g/bleachbit/bleachbit?mode=list

Not sure if you use another tool, but this should help a bit with code maintenance :)

Also, do note that lgtm is owned by GitHub and GitHub announced the successor to LGTM on this year's GitHub Satellite: https://githubsatellite.com/security/

[2020-06-27 15:51] ediowar commented on #881
Sometimes messages remain
[code]

[2020-06-27 16:58] ediowar opened #962 "Pressing the button in "about BleachBit" closes BB"
BB closes without any messages. If you enable Windows 7 compatibility mode in bleachbit.exe properties, the crash does not occur for usual user.
Windows 8 SL (64-bit)
BleachBit-4.0.1.1670-portable

[2020-06-27 17:25] NicodemusArchleone opened #963 "Is this true? 'There is no way to securely delete files on modern filesystems, and/or on SSDs.'"
I recently switched to Pop!_OS from Windows and when I was using Windows there were programs to automatically erase content with overpasses such as CCleaner and Hardwipe. I posted on a Pop! related forum asking about Bleachbit's shred and overwrite function and received this in response:

Is this correct? I suspect it to be BS....

I could also use some advice on using Bleachbit in Pop/Ubuntu corr

[2020-06-27 17:27] NicodemusArchleone commented on #931
Hardwipe has this feature on Windows and I too support this.

[2020-06-27 17:57] mkhon commented on #962
@ediowar what is you default web browser?

[2020-06-27 22:10] az0 commented on #881
Looks good on Windows 10 and Ubuntu 20.04

[2020-06-27 22:17] az0 commented on #963
Please see the document [Shred files and wipe disks](https://docs.bleachbit.org/doc/shred-files-and-wipe-disks.html).

Encryption certainly helps.

In what way?

[2020-06-27 22:19] HugoRosado08 commented on #770
Hi, tested sucessfully and no issue found.
Tested both options and succes (installing with translations and without them)
Cheers, thk

[2020-06-27 22:19] az0 commented on #962
@ediowar
Does the same happen if you click the application menu, click _help_ (below _diagnostics_), and click _ok_?

[2020-06-27 22:20] az0 commented on #770
@HugoRosado08
Thank you for confirming!

[2020-06-27 22:33] az0 commented on #961
Yes, that would be helpful.

It is a bit hard to find, but there is a ticket for this idea in the wishlist repository https://github.com/bleachbit/wishlist/issues/70

Glad to hear :)

[2020-06-27 23:01] MeaW1 commented on #947
Yep it childish

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, June 25, 2020 4:18 AM, Andrew Ziem <notifications@github.com> wrote:

[2020-06-27 23:50] #947 closed

[2020-06-28 04:52] XhmikosR commented on #961
Ah, sorry I wasn't aware there was a dedicated repo. I'm going to close this issue then.

[2020-06-28 04:52] #961 closed

[2020-06-28 17:26] ediowar commented on #881
### Steps to Reproduce

1. Run BB
2. Check the "Show debug messages" checkbox in the settings
3. Close BB
4. Run BB
5. Shred Settings and Quit

[2020-06-28 19:35] ediowar commented on #962
@mkhon
Default web browsers -- Internet Explorer, Google Chrome, Firefox.

@az0
No, it doesn't. This only happens if you open any link in a window "About BleachBit" (Website, Launchpad Contributions and License links).

[2020-06-28 19:41] ediowar commented on #962
@mkhon
Default web browsers -- Internet Explorer, Google Chrome, Firefox.

@az0
No, it doesn't. This only happens if you open any link in a window "About BleachBit" (Website, Launchpad Translations Contributions and License links).

[2020-06-28 19:57] ediowar commented on #962
@mkhon
Default web browsers -- Internet Explorer, Google Chrome, Firefox.

@az0
No, it doesn't. This only happens if you open any link in the window "About BleachBit": https://www.bleachbit.org, Launchpad Translations Contributions (https://launchpad.net/~ak099 etc) and License (https://fsf.org/ etc).

[2020-06-28 23:30] ediowar opened #964 "PermissionError: [Errno 13] Permission denied"
Ubuntu 16.04, git revision https://github.com/bleachbit/bleachbit/commit/7fbcf094f508274021eb97647d7e82e41c29f430
[code]

[2020-06-28 23:49] ediowar commented on #964
I deleted /home/dzmitry/.config/bleachbit/bleachbit.ini, the error is gone.

[2020-06-28 23:49] #964 closed

[2020-06-29 14:12] mkhon commented on #962
@ediowar can you run bleachbit_console.exe in cmd.exe window and let me know what is the failed assertion or any other error message when it crashes?

[2020-06-29 14:20] mkhon commented on #616
@az0 I believe these references to Windows variables (both regular vars like $APPDATA and mult-value like $$ProgramFiles$$) when running on Linux are ok

[2020-06-29 15:56] mkhon commented on #943
Actually, the problem is that regex is an empty string in this case and it re.search('', ...) matches anything

[2020-06-29 16:23] mkhon commented on #321
@az0 I do not see such option in GUI preferences.
Also, --shred just shreds the files - it does not enable "shred" option.

May be you meant command="shred" option for search="deep"?

[2020-06-29 18:29] ediowar commented on #962
I am running bleachbit_console.exe in cmd.exe window and no messages when it crashes.

[2020-06-29 18:39] az0 commented on #321
On the command line, I meant `--overwrite`. For the rest of the session, it changes `command="delete"` to `command="shred"` Similarly, enabling overwriting in the preferences does the same thing as long as the option is enabled.

From what I remember, deep scan ignores these options.

When I get a chance, I will look at your PR.

[2020-06-30 03:13] mkhon commented on #321
@az0 --overwrite (and corresponding preferences settings) enables 'shred' option which leads to FileUtilities.delete() to do shred even if command="delete" is used.

So this one does not depend on command="delete" support for command="shred"

[2020-06-30 14:50] chvol commented on #963
Correct: with modern operating systems you have no control over which sectors (= exact physical location on hard disk/SSD) are being written to. You might "overwrite" a file, but that could mean that the current sectors are deallocated and new ones written to), this is certainly true with copy on write mechanisms. This means that the old data is still somewhere on your disk, there just isn't a poi

[2020-07-01 03:48] jwlohrman opened #966 "bleach bit issue - google chrome history cleaning error"
Using Bleachbit 4.0.0 on Windows 8.1

Error Message below
;
Error: google_chrome.history: Function: Clean file: C:\Users\Joe\AppData\Local\Google\Chrome\User Data\Default\History
Traceback (most recent call last):
  File "C:\projects\bleachbit\bleachbit\Worker.py", line 87, in execute
  File "C:\projects\bleachbit\bleachbit\Command.py", line 160, in execute
  File "C:\projects\bleachbit\bleachbit\

[2020-07-01 04:21] mkhon commented on #966
Dup of #874 (already fixed)

[2020-07-01 04:33] jwlohrman commented on #966
Thank you... will update version of bleachbit.

[2020-07-01 04:33] #966 closed

[2020-07-01 04:33] jwlohrman commented on #966
Thanks

[2020-07-01 17:06] ediowar commented on #962
BleachBit-3.2.0-portable. When running as an administrator
![Could not show link](https://user-images.githubusercontent.com/44164186/86271615-dee1f580-bbd5-11ea-8070-0aae5a7f21d2.png)
When running as a normal user, BB closes without any messages.

[2020-07-01 18:22] ediowar commented on #962
For some reason, the Windows 7 compatibility mode was turned on in the bleachbit.exe properties. When disabled, the crash also occurs for a usual user.

[2020-07-02 01:05] k7aay opened #967 "Non printable characters (all letters are replaced by boxes)"
I installed BleachBit using the Windows installer version, but instead of readable characters, I get non-printable characters.
Uninstalled it, deleted the installer, redownloaded, verified the checksum, and reinstalled. Same problem.
Uninstalled, then downloaded the portable version, Same problem.
I run Windows 10 1909.

See https://imgur.com/a/yxTJzFM

[2020-07-02 07:47] mkhon commented on #967
Dup of #901

Do you have FONTCONFIG_FILE environment variable set by any chance?

[2020-07-03 06:07] soredake commented on #950
Maybe better to do this actions in main program that require root with kdesu (or something like this) instead of separate `bleachbit-root`?

[2020-07-04 16:34] DE0001 opened #968 "Wipe Free Space Freezes [single-threaded GUI]"
I am running the latest version on Win 8.1  It all works fine until the 0 minutes remaining and then it just seems to freeze and becomes Not Responding according to Windows.  This then leaves me having to go in to my temp files to delete the file that it has used to overwrite the free space.  Hope someone can help please.

[2020-07-04 17:43] mkhon commented on #968
@DE0001 which bleachbit version do you have?

[2020-07-05 05:17] mkhon commented on #968
Looks like dup of #502

[2020-07-05 16:51] az0 commented on #873
July 1 they wrote me back. They combined ~10 issues (some apparently very old) into one ticket and wrote me back

Your file has been whitelisted; VirusTotal will take the update into account within a day.

Indeed, the VirusTotal detection for the link this GitHub ticket is now 0/70

[2020-07-05 16:53] az0 commented on #269
A four-month old scan showed the false positive, but a few days ago Tehtris wrote me back about many of my submissions. Now, VirusTotal shows that eGambit no longer detects this one.

[2020-07-05 17:16] az0 commented on #901
@mayerthomas

Thank you still for getting back to me

@crop211
Thank you for testing and for confirming.

I hear this is fixed, so I am closing it.

[2020-07-05 17:16] #901 closed

[2020-07-05 21:46] Surfride10 commented on #934
I tested 4.0.1.1671, ff is cleaning properly, chrome history is gone, but
the cookies are not being erased.

thanks for looking into this, appreciate what you do

~David

On Thu, Jun 25, 2020 at 1:29 PM Max Khon <notifications@github.com> wrote:

[2020-07-06 10:36] m0lz opened #969 "Add cleaner for new Chromium-based Edge browser"
With Win 10 2004, a new Edge came along which is now based on Chromium

Bleachbit shows Internet Explorer options to clean (which we cant fully get rid of because Windows still needs it to be installed)

Bleachbit shows [original Chromium](https://chromium.woolyss.com/) options to clean

But nothing for the new Edge which MS is pushing onto peoples systems like a class A drug

![BB](https://user-i

[2020-07-06 13:58] az0 commented on #969
@m0lz

OK, so you are suggesting that BleachBit cleans Edge-based Chromium, right?

[2020-07-07 03:15] az0 commented on #963
OK, but you can be mostly sure it is gone if the available space is filled up, especially if the data you want deleted is large. Also, it is not easy to directly access the lower level storage of the SSD (beyond what it shows the operating system), so anyone accessing the SSD in a normal way would see the data was completely deleted.

I agree that people shouldn't be careless with the lifespan of

[2020-07-07 03:20] az0 commented on #899
@gator101 @ediowar
Thank you for the good info. Max coded a fix, but I haven't merged it yet, so it's not in the most recent builds. Would you please test [build 4.0.1.1664](https://ci.appveyor.com/project/az0/bleachbit/builds/33732268/artifacts)? Then please post a comment here to let me know how it went.

[2020-07-07 03:20] az0 commented on #906
@ToddAndMargo
Thank you for the good info. Max coded a fix, but I haven't merged it yet, so it's not in the most recent builds. Would you please test [build 4.0.1.1664](https://ci.appveyor.com/project/az0/bleachbit/builds/33732268/artifacts)? Then please post a comment here to let me know how it went.

[2020-07-07 03:38] ToddAndMargo commented on #906
On 2020-07-06 20:20, Andrew Ziem wrote:

Hi Andrew,

Awesome!

I have the perfect test bed for it tomorrow.  I am
PCI (Payment Card Industry) hardening a new Point of
Salve computer and that is part of my routine, both
for security measures and to prolonged SSD life.

I will get back!

-T

[2020-07-07 13:26] chvol commented on #963
With large data, I'd think you'd have a larger chance of finding parts of it, which may or may not be a problem. Of course it's not easy to directly access the low level storage of an SSD, but for completeness I wanted to address over-provisioning and it's possible impact for security.

In normal use I agree, but if you are repeatedly overwriting all available space, that won't be very pleasant fo

[2020-07-07 18:34] m0lz commented on #969
No sorry you misunderstand.

Edge is not showing in the list of apps to be cleaned.

As I said in the first post ..

Internet Explorer is
Original Chrome is

Edge is not

With the update to Windows 2004 recently, the New Chromium based Edge has also installed, but I have nothing new in Bleachbit. As far as I understand the Chromium listed in the screenshot is still Original Chromium which I alread

[2020-07-07 19:17] m0lz commented on #969
If it helps, the locations of the installation locations for Chromium versus Edge are entirely different ..

Original Chromium Installation
![chromium1](https://user-images.githubusercontent.com/20239221/86830744-f7e31e80-c08d-11ea-8907-797fedab1af6.PNG)

Original Chromium User data
![chromium2](https://user-images.githubusercontent.com/20239221/86830760-fd406900-c08d-11ea-88b8-56b0405bf679.PNG)

[2020-07-07 23:47] ediowar commented on #899
I checked. Fixed.

[2020-07-07 23:53] ediowar commented on #802
I have tested. Fixed.

[2020-07-07 23:54] ediowar commented on #899
I have tested. Fixed.

[2020-07-08 00:10] ediowar opened #971 "Program:Win32/Wacapew.C!ml Detected with Micrososft Defender Antivirus"
[build 4.0.1.1664](https://ci.appveyor.com/project/az0/bleachbit/builds/33732268/artifacts)
https://www.virustotal.com/gui/file/11c5b519f40d152c7bbd5f5a3e4a01c1813e514e0447f2e7ca944943b8e3f435/detection
![pup](https://user-images.githubusercontent.com/44164186/86857979-5fb65b00-c0c8-11ea-941f-dfeadd890ab8.png)

[2020-07-08 02:52] ToddAndMargo commented on #906
On 2020-07-06 20:20, Andrew Ziem wrote:

It is doing its thing right now (cleaning free space)
without complaining

Thank you!

[2020-07-08 02:53] az0 commented on #802
I am closing because this seems to be fixed

[2020-07-08 02:53] #802 closed

[2020-07-08 02:54] az0 commented on #906
@ToddAndMargo
Thank you for confirming it is fixed, so now I will close the issue.

[2020-07-08 02:54] #906 closed

[2020-07-08 02:56] az0 commented on #899
Thank you for checking. It works, so I will close the issue.

[2020-07-08 02:56] #899 closed

[2020-07-08 02:58] #934 closed

[2020-07-08 03:00] az0 commented on #934
I take it you did not get a similar error like `OSError: [Errno 22] Invalid argument: 'D:\tmp08wljtukSWXag-7l` when wiping free space, so I will close this issue.

If cookies are not being erased, please open a new issue. Please clearly indicate the type of browser, version of browser, and the steps to reproduce the issue. For example, did you check the cookies in the browser's settings? Or did yo

[2020-07-08 03:08] az0 commented on #971
I submitted the Microsoft false positive at https://www.microsoft.com/en-us/wdsi/filesubmission

[2020-07-08 03:11] az0 commented on #971
I reported it to Avast at https://www.avast.com/en-us/false-positive-file-form.php . I think this also covers AVG

[2020-07-08 03:29] az0 commented on #971
I reported to eGambit at https://tehtris.com/en/false-positive-negative-requests/

I reported to SecureAge APEX at https://www.secureaplus.com/features/antivirus/report-false-positive/

I reported to AegisLab at https://www.aegislab.com/reportfp/

I reported to Fortinet at https://fortiguard.com/faq/classificationdispute (wow, it asks so many questions)

I think some antivirus vendors share data w

[2020-07-08 04:32] mkhon commented on #881
This one was re-opened because PR #955 did not contain the fix from PR #953
Should be marked as resolved back.

[2020-07-08 04:35] mkhon commented on #877
@az0 I think this one can be marked as fixed as dup of #890 or #938

[2020-07-08 04:36] mkhon commented on #897
@az0 this can be marked as fixed

[2020-07-08 11:48] Jerrywang959 opened #972 "Consider change `/usr/bin/env python3` to `/usr/bin/python3` in `/usr/bin/bleachbit` ?"
I use bleachbit 4.0.0 in deepin linux v20 beta. I type `bleachbit` in terminal, it shows that `ModuleNotFoundError: No module named 'gi'`.  Later, I find it's becaues I use python from anaconda. When I change the first line of `/usr/bin/bleach` from `#!/usr/bin/env python3` to `#!/usr/bin/python3`, it works.

In my opinion, it's better to substitute `/usr/bin/python3` for  `/usr/bin/env python3` b

[2020-07-08 13:36] pkd234 opened #973 "While installing pygobject and then installing pycairo"
command 'C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\BuildTools\\VC\\Tools\\MSVC\\14.16.27023\\bin\\HostX86\\x6

[2020-07-08 13:40] Gshak075 commented on #973
I am also getting following error on installing pycairo:
**C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\VC\Tools\MSVC\14.16.27023\bin\HostX86\x64\cl.exe /c /nologo** /Ox /W3 /GL /DNDEBUG /MD -DPYCAIRO_VERSION_MAJOR=1 -DPYCAIRO_VERSION_MINOR=19 -DPYCAIRO_VERSION_MICRO=1 -IC:\Python38\include -IC:\Python38\include "-IC:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\VC

[2020-07-08 14:08] az0 commented on #877
@troette
@GrepSecurity
@fridaycarrot
@Surfride10

If you have the same `UnicodeDecodeError` when cleaning Google Chrome history, re-open this issue.

[2020-07-08 14:08] #877 closed

[2020-07-08 14:12] az0 commented on #973
You are trying to install developer tools to run BleachBit from source?  If so, please see the article [Running from source code](https://docs.bleachbit.org/dev/running-from-source-code.html). I think MSVC is not required.

[2020-07-08 14:12] #973 closed

[2020-07-08 14:16] az0 commented on #971
Fortinet quickly replied

Avast replied

Microsoft responded

VirusTotal is already down to 10 detections

[2020-07-08 14:38] ediowar commented on #971
The file "_ssl.pyd" contained in the [build 4.0.1.1675](https://ci.bleachbit.org/dl/4.0.1.1675-master/BleachBit-4.0.1.1675-portable.zip) has only [2]( https://www.virustotal.com/gui/file/f871245278c31fde8917b724ae46c1087324ab1a46be09197f39ccac2c351d6c/detection) false positives. Why did you need to replace it from the [build 4.0.1.1664](https://ci.appveyor.com/project/az0/bleachbit/builds/33732268

[2020-07-08 14:48] ediowar commented on #971
The file "_ssl.pyd" contained in the [build 4.0.1.1675](https://ci.bleachbit.org/dl/4.0.1.1675-master/BleachBit-4.0.1.1675-portable.zip) has only [2]( https://www.virustotal.com/gui/file/f871245278c31fde8917b724ae46c1087324ab1a46be09197f39ccac2c351d6c/detection) false positives. Why did you need to replace it in the [build 4.0.1.1678](https://ci.bleachbit.org/dl/4.0.1.1678-master/BleachBit-4.0.1.1

[2020-07-08 14:49] ediowar commented on #971
The file "_ssl.pyd" contained in the [build 4.0.1.1675](https://ci.bleachbit.org/dl/4.0.1.1675-master/BleachBit-4.0.1.1675-portable.zip) has only [2]( https://www.virustotal.com/gui/file/f871245278c31fde8917b724ae46c1087324ab1a46be09197f39ccac2c351d6c/detection) false positives. Why did you need to replace it in the [build 4.0.1.1678](https://ci.bleachbit.org/dl/4.0.1.1678-master/BleachBit-4.0.1.1

[2020-07-08 15:05] ediowar commented on #971
Compare
[BleachBit-4.0.1.1664-portable.zip](https://www.virustotal.com/gui/file/7cad02a9d25fdb6c8fab9f053646f05e568fffc144770cc82df2538ee8d4d34a/detection)
[BleachBit-4.0.1.1675-portable.zip](https://www.virustotal.com/gui/file/47a848cc4a99a2bfc9399d54ea554d0387aa8374709574061d9f9e689dae61c7/detection)
[BleachBit-4.0.1.1678-portable.zip](https://www.virustotal.com/gui/file/8197ee3326be55dfe763c230

[2020-07-08 18:47] az0 commented on #971
Later I will take a closer look, but I expect the `_ssl.pyd` file should be the same because all these versions come from Python 3.4.4 compressed with UPX, unless UPX compression is non-deterministic.

[2020-07-09 02:40] az0 commented on #971
I downloaded the portable versions of the three builds and compared the md5 hashes. They are different.

[code]

After decompression (`upx -d`), I compared the files

[code]

There is only a tiny difference, so I would hope that virus scanners would treat them the same.

As another test, I decompressed `_ssl.pyd` and recompressed it 100 times as follows, and it always had the same hash, so UPX is

[2020-07-09 02:40] #971 closed

[2020-07-09 03:59] #637 closed

[2020-07-09 03:59] #881 closed

[2020-07-09 13:18] ediowar commented on #881
The above messages still appear.

[2020-07-09 13:54] ediowar commented on #881
Messages still appear. When running BB with sudo
[code]
And when running BB without sudo
[code]
In addition, after BB session with sudo, issue https://github.com/bleachbit/bleachbit/issues/964 occurs when starting BB without sudo

[2020-07-09 14:02] mkhon commented on #881
@ediowar this bug and fix was for AttributeError when Shred Settings and Quit is used.

The messages you see when running under sudo are a different bug

[2020-07-09 14:16] ediowar opened #974 "Gtk-CRITICAL **: gtk_text_view_scroll_mark_onscreen"
git revision https://github.com/bleachbit/bleachbit/commit/f8c3453e113e09facf2f0c83396e84c463b572bc Ubuntu 16.04
Messages appear. When running BB with sudo
[code]
And when running BB without sudo
[code]
In addition, after BB session with sudo, issue https://github.com/bleachbit/bleachbit/issues/964 occurs when starting BB without sudo
### Steps to Reproduce

1. Run BB
2. Check the "Show debug mess

[2020-07-09 14:44] az0 commented on #972
On my Ubuntu  20.04 system there are 129 files in `/usr/bin` with a shebang interpreter directive

 `grep -IPs "^\#" -m 1 *  |grep python   |wc -l`

Of those, only 3 use `env`, so they agree with you.

[2020-07-09 22:38] az0 commented on #897
@Gitoffthelawn

This should be fixed in any recent build on the [CI site](https://ci.bleachbit.org/)

[2020-07-09 22:38] #897 closed

[2020-07-11 19:13] az0 commented on #944
@arnstein99

I can reproduce this issue with Google Chrome 83 and BleachBit 4.0.1.1663 portable on Windows 10. To reproduce, I right clicked on a hyperlink to pull up the "save as" dialog.

The value is stored in the JSON file `Default/Preferences` in a key named `savefile`

[2020-07-12 23:18] 0pLuS0 commented on #942
I just downloaded yesterday;

https://www.bleachbit.org/download/file/t?file=BleachBit-4.0.0-setup.exe

After I installed it, I opened up the Menu and the UAC version was missing the icon.

It still seems to be the same...

[2020-07-13 00:56] m0lz commented on #969
:) Sorry, yes, my previous replies misunderstood what you said.

I read your post as meaning I was suggesting that Bleachbit already cleans Edge Based on Chromium.

But what you meant was I was suggesting that it should clean Edge Based on Chromium.

Yes please, I would very much like Bleachbit to clean Edge based on Chromium

[2020-07-13 01:51] ediowar commented on #942
@0pLuS0 So it should be, try the last build https://ci.bleachbit.org

[2020-07-15 12:33] bulgin opened #976 "whitelist .dotted directory Ubuntu?"
I cannot whitelist /home/directory/.cache/bleachbit

No option to enter a .dotted directory.

[2020-07-16 03:52] az0 commented on #976
Try this:

1. Open BleachBit
1. Go to the whitelist window
1. Click Add Folder
1. Right click
1. In the menu that pops up, choose the option "show hidden files"

Does this help?

For what it's worth, this window is part of GTK, so it's not specific to BleachBit. Many applications on Ubuntu use GTK.

[2020-07-17 00:53] 0pLuS0 commented on #942
What's the worst case scenario using this unstable version in Windows?

I personally don't use unstable developmental versions of anything in Windows...

Thanks

[2020-07-17 10:45] NeillRu commented on #819
git clone https://github.com/bleachbit/bleachbit.git
cd bleachbit
python3 bleachbit.py

I confirm that this works on Linux Mint 20 but the menu item still points at the old package and hence the errors remain. Need best practise to ensure the correct package is installed.Simply copying the new file does not do it program starts then aborts...

[2020-07-17 13:30] ediowar commented on #942
Personally, I do not notice the difference between stable and unstable BB versions.

[2020-07-17 22:43] 0pLuS0 commented on #942
Ok, well, this has been going on since Bleachbit has been around Win7, so I made it this long, I'll just wait to another release and see how it goes...

I'm just at a loss, as to why it's been this way since a Windows 7 release, I've never seen this happen in any app I've used in Windows...  hmm

[2020-07-18 20:42] az0 commented on #948
June 25 they wrote me

However, VirusTotal still has the same false positive

I will check back with them

[2020-07-21 08:54] deekej commented on #904
Bump up. I would also welcome an official Fedora package build for F32+, especially for a kind of app that bleachbit is. Without getting too much political / philosophical, _many people (including me) prefer official Fedora builds._ (I have burned myself last time when using non-official build from OpenSUSE Build platform.)

[2020-07-28 07:44] Merlote opened #1204 "Can the 'Brave' be added to the software?"
AS per the title....

[2020-07-28 15:22] vyujitanaka opened #977 "Is the current version of BleachBit compatible with Ubuntu 20.04.1 LTS?"
Is the current version of BleachBit compatible with Ubuntu 20.04.1 LTS? If not, is there any prediction of when we might have it? Keep working on this wonderful project!

[2020-07-28 15:46] az0 commented on #977
Yes, I use it on Ubuntu 20.04. For now, try the [.deb package](https://www.bleachbit.org/download/linux) for Ubuntu 19.10 or 19.04. Let me know how it goes.

[2020-08-02 18:16] #321 closed

[2020-08-02 18:18] az0 commented on #943
@Silur

Max made a fix for this. Would you please test [CI build](https://ci.bleachbit.org/) 4.0.1.1684 or newer, and write a comment here to let me know how it goes? In case you are really quick, please allow at least 10 minutes for the build to upload.

[2020-08-02 19:02] Silur commented on #943
latest master after the https://github.com/bleachbit/bleachbit/pull/965 merge works!
Thanks, closing :+1:

[2020-08-02 19:02] #943 closed

[2020-08-04 08:04] tolga694 opened #978 "wipe drive free space error"
Version: 4.0.0
OS: windows 7 (64-bit)
Error message:
Wiping free disk space erases remnants of files that were deleted without shredding. It does not free up space.Error: _gui.free_disk_space: Function: Overwrite free disk space D:\
Traceback (most recent call last):
  File "C:\projects\bleachbit\bleachbit\Worker.py", line 87, in execute
  File "C:\projects\bleachbit\bleachbit\Command.py", line 14

[2020-08-04 16:54] ediowar commented on #978
Seems to be a dup of https://github.com/bleachbit/bleachbit/issues/934

[2020-08-04 19:25] tolga694 commented on #978
Thanks for the tip.
Is it better if I use 3.2.0 or one of the unstable versions?
I need wipefreespace to work very correctly. I can do without the other features.

[2020-08-04 20:00] ediowar commented on #978
I personally have not tested Wipe Free Space in 3.2/0.

[2020-08-05 16:20] tolga694 commented on #978
I tried [4.0.1.1664](https://ci.appveyor.com/project/az0/bleachbit/builds/33732268/artifacts) and it worked correctly.

[2020-08-06 01:24] az0 commented on #942
Hmm, I am not sure how to reproduce this. I just tried build 4.0.1.1681 on Windows 10, and the icons look fine like this

![2020-08-05 icons build 1681 on Windows 10](https://user-images.githubusercontent.com/933680/89479934-4b11c500-d751-11ea-8a88-658bd355091d.png)

@0pLuS0 are you installing for all users or current user?

[2020-08-06 01:40] #858 closed

[2020-08-06 02:40] az0 commented on #858
Please test the fix in [CI build 1692](https://ci.bleachbit.org/) or later

[2020-08-06 03:00] #888 closed

[2020-08-06 03:00] az0 commented on #888
good catch

[2020-08-06 03:08] az0 commented on #927
I am closing for two reasons

1. I successfully reported libgio from BleachBit 4.0.0 to AVG.

2. The scanner https://www.virustotal.com/gui/file/f39a6f879c519a8a5d32910011fa716a464734769bb06f03ac2014e57c3991e4/detection reports 0/71 detections for this file

Let's give AVG a few days to analyze the file. If the same problem continues, reopen this ticket

[2020-08-06 03:08] #927 closed

[2020-08-06 03:09] az0 commented on #977
@vyujitanaka

Have you given this a try? How did it go?

[2020-08-06 03:10] az0 commented on #978
Thank you for confirming. It works, so I will close this issue

[2020-08-06 03:10] #978 closed

[2020-08-06 03:11] #976 closed

[2020-08-06 03:22] mkhon commented on #972
I don't think the fix was correct. See this for example: https://stackoverflow.com/questions/6908143/should-i-put-shebang-in-python-scripts-and-what-form-should-it-take

The user just had another python installation that he used as a default and he just needed to add gi packages there.

[2020-08-06 03:26] #863 closed

[2020-08-06 12:14] vyujitanaka commented on #977
Hi there! Thank you very much for answering me. I tested. However, I noticed that after a while, my system started to get a little slow. Is this due to the number of times that I cleaned my system or could it be for another reason? I usually like to clean my system once or twice a day.

[2020-08-06 15:09] Jerrywang959 commented on #972
However, It hard for me to add gi packages for python from anaconda.
I had tried

[code]

it shows

[code]

The version of python in my envrionment is 3.7.6 and I use deepin Linux v20. So I can just only use `#!/usr/bin/python3` to start bleachbit

[2020-08-06 15:28] az0 commented on #927
@XxJohnDoe040507xX

Does AVG still detect an issue? I did not see it on VirusTotal, and AVG did not see it either. They wrote me'

If you still have the problem, please provide this information, and I can pass it along. Alternatively, you could contact them directly.

[2020-08-06 15:30] az0 commented on #977
@vyujitanaka

I don't think this would cause slowness.

What kind of slowness is it? For example, opening an application for the first time? Opening each web page?

Under the system category, do you use the "free disk space" or "memory" options?

Do you have a HDD or a SDD?

How much RAM do you have?

[2020-08-07 00:25] 0pLuS0 commented on #942
I install for ```Current User```.

This icon issue is odd, it doesn't always appear, but as I mentioned I've been seeing it since Windows 7, sooner or later it appears, when, that's anyone's guess...

P.S. I had to to a Win10 install over, this time around I'm not seeing it... hmm

[2020-08-07 20:17] az0 commented on #819
Yes, this doesn't update the system copy of BleachBit, and the shortcuts (application launcher) will point to the system copy.

As a temporary workaround, navigate to the Git copy and updated files like this

`sudo cp bleachbit/{Update,Diagnostic,_init_._platform}.py  /usr/share/bleachbit/`

A cleaner solution is to wait until the beta or final release with the fix.

[2020-08-07 20:35] az0 commented on #972
There are a few things going on in the StackOverflow article.
I am not using the unversioned `python` nor the `/usr/local/bin` directory.

So, you would undo change 4580240f7e86cd0732c89d5ab7dd77c4fc9b6864 , or do you mean something else?

[2020-08-08 02:47] mkhon commented on #972
bleachbit should use default Python (this is what "#!/usr/bin/env python3" does. Other users may have reasons to use non-system Python with bleachbit.

If the user has non-system Python that he can not use with Bleachbit for some reason he should run bleachbit as "PATH=/usr/bin:$PATH bleachbit".

[2020-08-08 21:32] az0 commented on #935
Which kind of files are there? Recordings?

[2020-08-08 21:32] #935 closed

[2020-08-08 21:51] az0 commented on #935
@cybercom02
You can wait for a beta or final release, or right now you can copy the new file [zoom.xml](https://raw.githubusercontent.com/bleachbit/bleachbit/master/cleaners/zoom.xml) into your directory `~/.config/bleachbit/cleaners` for Linux or `%AppData%\BleachBit\cleaners` for Windows.

[2020-08-09 08:27] ediowar commented on #858
I tested, now there is no issue.

[2020-08-10 09:55] Ivan75 opened #979 "BleachBit won't delete Chrome history and cache"
I haven't noticed this 'till recently, as you can see in the screenshot, Chrome cache and history are selected, After cleaning it reports the amount of deleted data but the data is still there when I check.
Notice the error reporting, BleacBit couldn't find some specified Windows folders too.
C/Users/USER/AppData/local/Google was marked as ''Read-only'' so I tried to unmark it and run BB again - n

[2020-08-10 16:55] megablue opened #980 "Cleaning log files created by AMD's Radeon Software?"
https://www.reddit.com/r/Amd/comments/i6r5rf/psa_new_drivers_may_create_hundreds_mibs_of/

[2020-08-10 20:00] cybercom02 commented on #935
It works great in Linux!, thank you

________________________________
De: Andrew Ziem <notifications@github.com>
Enviado: sábado, 8 de agosto de 2020 04:52 p. m.
Para: bleachbit/bleachbit <bleachbit@noreply.github.com>
CC: cybercom02 <cybercom02@hotmail.com>; Mention <mention@noreply.github.com>
Asunto: Re: [bleachbit/bleachbit] Clean Zoom for linux (#935)

@cybercom02<https://github.com/cybercom0

[2020-08-11 08:13] sjclondonukgreat opened #981 "GTK crash running bleachbit as sudo on Fedora linux"
Running:
`sudo bleachbit`
on Fedora 32, BleachBit version 4.0.0 crashes:

(non sudo bleachbit from command line works fine)...

No protocol specified
Unable to init server: Could not connect: Connection refused
No protocol specified
Unable to init server: Could not connect: Connection refused

(bleachbit:3891): Gdk-CRITICAL **: 09:12:12.381: gdk_screen_get_root_window: assertion 'GDK_IS_SCREEN (sc

[2020-08-11 19:17] MoscaDotTo opened #982 "BleachBit adds wildcards to winapp2.ini file masks where there should be none"
https://github.com/MoscaDotTo/Winapp2/issues/728#issuecomment-671223303

Quoted below

I have now checked it with BleachBit 4.0.0 and was able to reproduce the problem. However, the problem is not caused by the Winapp2.ini, but by a dangerous bug in BleachBit: BleachBit seems to put a wildcard before each search pattern!

Example: FileKey2=%LocalAppData%\Microsoft\Edge\User Data\Default|LOG;LOG.ol

[2020-08-12 23:57] az0 commented on #981
I tried `sudo bleachbit` on Fedora 31 with BleachBit 3.9.0 (that's the system I had handy), and it worked fine. Have you tried searching the [web for your error message](https://duckduckgo.com/?q=No+protocol+specified+Unable+to+init+server%3A+Could+not+connect%3A+Connection+refused+sudo+fedora&)? This issue is not specific to BleachBit.

Have you also tried other applications such as `sudo gedit`?

[2020-08-13 00:26] terrycloth opened #983 "DNF autoremove throws a TypeError"
(This was first [reported to me on the Red Hat Bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1867383), against the RPM build of BleachBit for Fedora 32 Workstation x86_64 -- but I also tested using `bleachbit-4.0.0-1.1.fc31.noarch.rpm` from the BleachBit website, and get the same results.)

1. Launch BleachBit as root (using `sudo` from terminal).
2. Deselect all cleaners, except DNF autor

[2020-08-13 00:29] az0 commented on #983
Good detail for the bug report. Thank you

[2020-08-13 03:57] #939 closed

[2020-08-13 04:02] az0 opened #984 "Clean moz_origins for Firefox"
as of Git revision c6d8eebda58d5f73ae37a0fada972c3aeab7667c with Firefox 78 on Ubuntu, there are hostnames in the `moz_origins` table

[2020-08-13 04:02] az0 commented on #939
@KodrosX
Thank you again for the good bug report.  To be honest, BleachBit had this bug for a long time. I put in a fix that you can test with build 1701 (or a newer build from the master branch) available at the [BleachBit CI build site](https://ci.bleachbit.org/). Try it out, and let me know how it goes.

While working on this, I noticed a related issue https://github.com/bleachbit/bleachbit/iss

[2020-08-13 04:28] #984 closed

[2020-08-13 04:30] az0 opened #985 "clean more favicons database in Firefox"
tested Git revision 08eb6aacaebf127a3245fcce048f78d6d19074f3 with Firefox 78 on Ubuntu

tables needing attention: moz_pages_w_icons, moz_icons

[2020-08-13 08:12] sjclondonukgreat commented on #981
Thanks.

sudo works fine will other applications on my system

My system:

Fedora 32 - KDE spin. KDE plasma 5.18.5. 64bit. X windows.

I used to use 3.9.0 on linux mint (ubuntu) - that worked fine as sudo. I changed to F32. bleachbit 4.0.0 works, but sudo errors. I wonder if anyone else has experienced this?

[2020-08-14 04:35] ediowar commented on #981
Seems to be a dup of https://github.com/bleachbit/bleachbit/issues/919 , https://github.com/bleachbit/bleachbit/issues/922

[2020-08-14 21:24] 0pLuS0 commented on #942
@az0

It happened again, took a week before it happened, but it did it again, the icons disappeared in the menu.

As I mentioned I have been seeing this issue since Windows 7, and in that time, I've probably had 3-4 different computers, so that's 3 Windows OS versions and that many computers.

This is not something that could only be happening to me on that many systems and computers.

[2020-08-15 12:51] ediowar commented on #942
@0pLuS0 is there a checkmark in the settings in the "Download and update community cleanup templates (winapp2.ini)" checkbox?

[2020-08-15 21:39] ballsar opened #986 "Wipe Free Space results in program error"
Screen shot

![bleach error](https://user-images.githubusercontent.com/12476512/90322105-ca538580-df15-11ea-90e7-ec21b32473df.png)

[2020-08-15 23:05] ediowar commented on #986
Another dup of https://github.com/bleachbit/bleachbit/issues/899

[2020-08-16 02:56] az0 commented on #986
@ediowar Yes, thank you

I documented this as a known issue in the [release notes for BleachBit 4.0.0](https://www.bleachbit.org/news/bleachbit-400#known_issues)

[2020-08-16 02:56] #986 closed

[2020-08-16 17:05] #983 closed

[2020-08-16 17:21] #985 closed

[2020-08-16 20:41] 0pLuS0 commented on #942
No it's not checked...

This time for the first time ever, I can't get the icon for ```Bleachbit No UAC``` to reappear in the menu... hmm

I went to the file location, properites the icon and clicked it and apply ok, but nothing would happen this time, I ended up just removing it from the start menu.

I hope Andrew figures this out, been a problem since 3 Windows OS...

[2020-08-17 10:05] CatalinFrance opened #987 "BB don't wipe free space"
Here's the message:

Wiping free disk space erases remnants of files that were deleted without shredding. It does not free up space.Error: _gui.free_disk_space: Function: Overwrite free disk space C:\
Traceback (most recent call last):
  File "C:\projects\bleachbit\bleachbit\Worker.py", line 87, in execute
  File "C:\projects\bleachbit\bleachbit\Command.py", line 145, in execute
  File "C:\project

[2020-08-17 23:14] ediowar commented on #987
https://www.bleachbit.org/news/bleachbit-400#known_issues

[2020-08-18 02:58] #987 closed

[2020-08-21 14:57] iamabs2001 opened #988 "Error in execution of <bleachbit.Command.Function instance at 0x7fac0c5bd7d0>"
Error in execution of <bleachbit.Command.Function instance at 0x7fac0c5bd7d0>
Traceback (most recent call last):
  File "/usr/share/bleachbit/bleachbit/Worker.py", line 83, in execute
    for ret in cmd.execute(self.really_delete):
  File "/usr/share/bleachbit/bleachbit/Command.py", line 138, in execute
    func_ret = self.func()
  File "/usr/share/bleachbit/bleachbit/Unix.py", line 660, in yum_cl

[2020-08-21 22:00] flyingbot91 opened #990 "Missing requirements.txt?"
Since this is a python project, is there any **requirements.txt** file?

Aside from **.travis.yaml**, is there any other reference about required pip packages?

Thank you for your answers.

[2020-08-23 18:57] wavesurf432 opened #991 "Verifying Signature Instructions Might Be Incorrect?"
Hello, I don't know whether this is an issue or not, but just wanted to mention incase it was.

In the instructions for verifying signatures on Linux (https://docs.bleachbit.org/doc/install-on-linux.html) the public key is shown as 0xd6d447b02b4d4c9d, but when I followed the instructions, D6D447B02B4D4C9D showed up in the terminal. The key for the latest version of Bleachbit on Github is D6D447B02

[2020-08-24 11:34] Ivan75 commented on #979
Two weeks and no answers, not a single comment, here nor on the support forum.

[2020-08-25 03:29] az0 commented on #979
OK, I see your duplicate post over there https://www.bleachbit.org/forum/bleachbit-wont-delete-chrome-history-and-cache

The errors in red are related to Internet Explorer. If you uncheck Internet Explorer cookies and history, these errors should disappear.

Back to Google Chrome: in which way do you check the data is still there? Do you mean you look in the Google Chrome data folder for the files

[2020-08-25 03:55] az0 commented on #991
The key ID  `0xd6d447b02b4d4c9d` is basically the same as `D6D447B02B4D4C9D`. The `0x` clarifies it is a hexadecimal string. The latter part `0xd6d447b02b4d4c9d` is not case sensitive (because it is hexadecimal), so `d6d447b02b4d4c9d` is identical to `D6D447B02B4D4C9D`.

Does this help?

By the way, I made some not-exactly-related updates to the docs page you mentioned
- I changed the MIT link to

[2020-08-25 08:25] Ivan75 commented on #979
I do it both ways.

[2020-08-25 11:38] wavesurf432 commented on #991
Thanks for the reply bud, much appreciated!

I'm new to verifying signatures and that kind of thing, so the key showing up in the terminal as D6D447B02B4D4C9D, and not 0xd6d447b02b4d4c9d as shown in the documentation, caused a little confusion/concern. I was pretty sure they were the same thing, but wanted to make sure.

Maybe adding a little note in the documentation explaining that if D6D447B02B

[2020-08-25 21:42] az0 commented on #990
There is not much required that is not on a typical Linux system with a GUI.

No

1. Install the deb/rpm packages, or inspect the packages, or inspect the source of the packages
1. Run  the program and see where you get an ImportError

[2020-08-25 21:43] #990 closed

[2020-08-26 03:19] blacksong0194 opened #992 "error de interfaz gráfica solo me salen cuadros"
![Anotación 2020-08-25 231123](https://user-images.githubusercontent.com/70249290/91251395-5beaa080-e729-11ea-90ab-81a02a75dff5.jpg)

[2020-08-26 03:43] az0 opened #993 "using shred from context menu causes crash"
BleachBit version 4.0.1 build number 1695 (Git revision 3d3383a6 from 20 days ago)
Windows 10

# Steps to reproduce

1. Open Windows Explorer
1. Right click on File
1. Choose Shred with BleachBit

# Results

The GUI briefly opens. It shows the application window, the log, and the confirmation dialog. Then, before I have a chance to do anything, the application closes itself.

If done from console,

[2020-08-26 03:45] az0 commented on #844
I couldn't reproduce this because first I ran into a worse issue https://github.com/bleachbit/bleachbit/issues/993

@ghost

As a workaround, try this

1. Open BleachBit
1. In Windows Explorer, find the file you want to shred
1. Drag the file from Windows Explorer onto BleachBit

Alternatively

1. Copy file from Windows Explorer
1. In BleachBit, click application menu (top right corner)
2. Click _S

[2020-08-26 03:57] az0 commented on #913
confirmed

[2020-08-26 09:59] zodiac-1 commented on #979
Same problem with me with Chrome History Error, I'm on Windows 10 1803 Education

[2020-08-26 10:04] iamabs2001 commented on #988
BleachBit version 2.0
GTK+ version 2.24.32
SQLite version 3.27.2
local_cleaners_dir = None
locale_dir = /usr/share/locale/
options_dir = /home/sigma/.config/bleachbit
personal_cleaners_dir = /home/sigma/.config/bleachbit/cleaners
system_cleaners_dir = /usr/share/bleachbit/cleaners
locale.getdefaultlocale = ('en_US', 'UTF-8')
os.getenv('DESKTOP_SESSION') = lightdm-xsession
os.getenv('LOGNAME') = si

[2020-08-26 13:35] Ivan75 commented on #979
Ok, let's wait for the next update, BB or Chrome, I've never had any problems before

[2020-08-27 02:41] az0 commented on #988
BleachBit 2.0 was released February 2018. It is old and no longer supported. The latest stable release is 4.0.0, and there are also newer, non-stable versions available. Please try with 4.0.0 and later. I never used Parrot OS, but I read it is based on Debian, so you may be able to use a [BleachBit .deb package](https://www.bleachbit.org/download/linux) built for Debian. If the same error happens

[2020-08-27 02:41] #988 closed

[2020-08-27 02:42] az0 commented on #992
This is a duplicate of issue https://github.com/bleachbit/bleachbit/issues/901 . For a fix, please try the [latest CI build](https://ci.bleachbit.org/) (currently build 1708) or wait for the next beta or stable release.

[2020-08-27 02:42] #992 closed

[2020-08-27 03:23] #991 closed

[2020-08-27 03:23] az0 commented on #991
ok, done

[2020-08-27 03:31] az0 commented on #990
Dependencies are covered here https://docs.bleachbit.org/dev/running-from-source-code.html

[2020-08-27 04:13] #972 closed

[2020-08-27 04:29] az0 commented on #948
I tried updating the results twice today, and MaxSecure gives a timeout. In any case, it's up to them now

[2020-08-27 04:29] #948 closed

[2020-08-27 04:33] az0 commented on #969
I agree. Later I will add it myself and test it, but for now you can do it. The procedure is basically the same as adding the Brave browser because both are based on Chromium. If you want to try, here is an outline of the steps https://github.com/bleachbit/wishlist/issues/92

[2020-08-27 15:55] wavesurf432 commented on #991
Sweet!

Just one more suggestion incase it helps at all; it might be nice to have something under **Checksums** on the Linux download pages like... ''Instructions for verifying: https://docs.bleachbit.org/doc/install-on-linux.html''?

[2020-08-27 17:28] VAK58 opened #994 "Bleachbit 4.0.0 does not start with admin privileges (Linux Mint)"
I am using Linux Mint20 Cinnamon fully updated. I find Bleachbit as administrator just does not start up, but starts normally without admin rights.

[2020-08-29 08:23] ediowar commented on #994
What's the error in the terminal?

[2020-08-29 16:49] az0 opened #995 "chaff email made with Content-Transfer-Encoding: base64"
Git revision f63876353ade695d8e19969439bb5040daf3d4f6

Expecting `Content-Transfer-Encoding: 7bit` instead

Example

[code]

[2020-08-29 17:18] ediowar opened #996 "RuntimeError: swapoff: /dev/sda7: swapoff failed: Cannot allocate memory"
Running from source code, git revision https://github.com/bleachbit/bleachbit/commit/f63876353ade695d8e19969439bb5040daf3d4f6
Ubuntu 16.04
[code]
[code]
![Screenshot from 2020-08-29 19-59-08](https://user-images.githubusercontent.com/44164186/91642532-be4ae600-ea34-11ea-8a9f-0197316f0bd9.png)

[2020-08-29 17:31] #995 closed

[2020-08-29 18:16] VAK58 commented on #994
I am a newbie in Linux. I am not aware how I can see any error in terminal. But I opened Bleachbit without admin priviledges, and I saw this in diagnostics.
-------------------------------------------
BleachBit version 4.0.0
Git revision f2093f8
GTK version 3.24.20
GTK theme = Mint-X-Sand
GTK icon theme = Mint-Y-Dark-Aqua
GTK prefer dark theme = True
SQLite version 3.31.1
local_cleaners_dir = None

[2020-08-29 18:54] ediowar commented on #994
Just start BB with `sudo bleachbit` in a terminal window.

[2020-08-29 22:00] #913 closed

[2020-08-29 22:32] az0 commented on #996
The memory cleaning function temporarily disables the swap file, but on this system, there is not RAM to disable the swap. (The screenshot shows the memory is 95% full, and the swap is 46% full.) There's not much BleachBit can do except give a friendly error message. Would that help?

[2020-08-29 22:36] az0 commented on #991
OK, I added it to the download page where you suggested, by checksums

[2020-08-30 00:40] gitthepie commented on #802
Agreed! The problem is fixed for sure.

[2020-08-30 01:58] ediowar commented on #996
Is there no way to disable the swap without RAM?

[2020-08-30 08:57] iamabs2001 commented on #988
BleachBit version 3.9.0
Git revision c92fae9
GTK version 3.24.10
GTK theme = Sierra-dark-solid
GTK icon theme = Mkos-Big-Sur-Night
GTK prefer dark theme = True
SQLite version 3.27.2
local_cleaners_dir = None
locale_dir = /usr/share/locale/
options_dir = /home/sigma/.config/bleachbit
personal_cleaners_dir = /home/sigma/.config/bleachbit/cleaners
system_cleaners_dir = /usr/share/bleachbit/cleaners
l

[2020-08-30 12:44] VAK58 commented on #994
I ran the command as described by you in a terminal window and did not face any issues. The problem comes when using the provided icon shortcut, to run Bleachbit under admin privileges. The below text is what appeared in the terminal window.
-------------------------------------
vivek@Inspiron-3537:~$ sudo bleachbit
[sudo] password for vivek:
closest monitor (0) geometry = (0, 0)+(1366, 768), wind

[2020-08-30 20:14] az0 commented on #977
There is a deb package for Ubuntu 20.04 available for [BleachBit 4.1.0 beta](https://www.bleachbit.org/news/bleachbit-410-beta), and there will be a deb package also for the 4.2.0 final release

[2020-08-30 20:14] #977 closed

[2020-08-30 20:15] az0 commented on #904
There is a rpm package for Fedora 32 available for [BleachBit 4.1.0 beta](https://www.bleachbit.org/news/bleachbit-410-beta), and there will be a rpm package also for the 4.2.0 final release

[2020-08-30 20:15] #904 closed

[2020-08-30 20:18] az0 opened #998 "BleachBit 4.1.0 false positive with Jiangmin"
BleachBit-4.1.0.1723-setup.exe
https://www.virustotal.com/gui/file/ff2c0f79156a35fbebdd675e8063c350742ae7265ff41018e5825ddc2664453b/detection
detected as Trojan.MSIL.qhua

BleachBit-4.1.0.1723-setup-English.exe
https://www.virustotal.com/gui/file/c9a58962fe14daf2120dd52eefe37911c3d1c4e40dff97243a977a2032871375/detection
detected as Trojan.MSIL.qhua

[2020-08-30 20:27] az0 commented on #998
I emailed whitelist@jiangmin.com and support@jiangmin.com and shaojia@jiangmin.com . The first is from the page https://www.jiangmin.com/Abouts/address/ which ironically uses an old, insecure version of TLS, and also, sadly the official address bounced.

[2020-08-30 20:28] az0 opened #999 "MaxSecure false positive with BleachBit 4.1.0 portable"
BleachBit-4.1.0.1723-portable.zip
false detection: Trojan.Malware.300983.susgen
https://www.virustotal.com/gui/file/2a43dfab6635cf0c7ab215301a300bf679440eb782da43741736a1463d2c3d64/detection

[2020-08-30 21:37] az0 commented on #902
FYI, there is an RPM package with this fix available via the [BleachBit 4.1.0 beta](https://www.bleachbit.org/news/bleachbit-410-beta) page

[2020-08-30 21:37] az0 commented on #337
FYI, there is a digitally-signed Windows installer with this fix available via the [BleachBit 4.1.0 beta](https://www.bleachbit.org/news/bleachbit-410-beta) page

[2020-08-30 21:38] az0 commented on #875
FYI, there is a digitally-signed Windows installer with this fix available via the [BleachBit 4.1.0 beta](https://www.bleachbit.org/news/bleachbit-410-beta) page

[2020-08-30 21:39] az0 commented on #884
FYI, there is a digitally-signed Windows installer with this fix available via the [BleachBit 4.1.0 beta](https://www.bleachbit.org/news/bleachbit-410-beta) page. The digital signature reduces problems with false positives

[2020-08-30 21:39] az0 commented on #874
FYI, there is a digitally-signed Windows installer with this fix available via the [BleachBit 4.1.0 beta](https://www.bleachbit.org/news/bleachbit-410-beta) page

[2020-08-31 00:14] Ivan75 commented on #979
I have just tested the latest beta update, the same settings - everything is now working fine, no errors.
Thank you!

[2020-08-31 18:46] mcl21014 opened #1000 "Excessively wordy hang/crash dialogue box on Windows"
See the image. On Windows 10 64 bit. 4.1.0 beta. Seems the description for BleachBit is used in the crash dialogue, and it's quite wordy. Screenshot will show the exact text. A good way to reproduce is to have an older computer (think two cores or less), a ton of cleaners with extra downloaded cleaners enabled in Settings, and click preview and click the program when it's processing.
![image](http

[2020-08-31 22:28] #996 closed

[2020-09-01 00:00] terrycloth opened #1001 "DNF autoremove subprocess still running after completion"
I'm testing BleachBit 4.1.0 beta on Fedora 32 Workstation x86\_64.

After installing [the 4.1.0-1.1.fc32 RPM from Sourceforge](https://master.dl.sourceforge.net/project/bleachbit/bleachbit/4.1.0/bleachbit-4.1.0-1.1.fc32.noarch.rpm), I:

1. ran `sudo bleachbit`.
1. unchecked all cleaners except DNF autoremove.
1. clicked Preview. It said it could free about 8 MB, but didn't list which packages it w

[2020-09-02 02:46] Martii opened #1002 "no such table: moz_origins when cleaning Pale Moon with 4.1.0 Beta"
Decided to try the beta today and got something like this with current, well used, browser profiles I have and K/Ubuntu 20.x

Pale Moon 28.12.0 (64 bit) with two profiles:

[code]

Chromium Version 85.0.4183.83 (Official Build) snap <- ICK! (64-bit):
Also not picking up on my Chromium browser installation like prior versions on older Plasma/distro.

Another minor note "Dark mode" doesn't seem to w

[2020-09-02 03:38] az0 commented on #1002
@Martii

Thank you for testing and for sending this report. It's easiest to manage bugs when there is one issue per ticket, so let's please consider this ticket to be the issue about Pale Moon.

This could be because it was installed via snap. This can be fixed. Feel free to file a new ticket for it.

Enabling dark mode requires support from the desktop theme, and maybe your KDE theme does not sup

[2020-09-02 16:03] cliftonprince opened #1003 "Web launcher fails"
Bleachbit > About Bleachbit > website > click link ...

"Could not show link
failed to execute helper program (invalid argument)"

Screenshot attached
![Annotation 2020-09-02 110316](https://user-images.githubusercontent.com/17009729/92007733-ede74000-ed0b-11ea-9611-1f827adc9d11.png)

[2020-09-02 16:05] cliftonprince opened #1004 "Windows Defender blocks Bleachbit"
New error, can't remove Windows Defender backups / updates (formerly could do so, now gives following errors):

[WinError 5] Access is denied.: Command to delete C:\ProgramData\Microsoft\Windows Defender\Definition Updates\Backup\mpasbase.vdm
[WinError 5] Access is denied.: Command to delete C:\ProgramData\Microsoft\Windows Defender\Definition Updates\Backup\mpasdlta.vdm
[WinError 5] Access is den

[2020-09-02 21:46] Martii opened #1005 "Chromium not found with 4.1.0 Beta"
Installed via `sudo apt install chromium-browser`. No additional PPA's and is distro defaulted.

---

Here's a window snapshot:

<a href="https://user-images.githubusercontent.com/114709/92041155-f4d67880-ed34-11ea-8e09-a20a7339fdfa.jpg"><img src="https://user-images.githubusercontent.com/114709/92041155-f4d67880-ed34-11ea-8e09-a20a7339fdfa.jpg" alt="BleachBit 4 1 0 beta Main Titles" title="Click

[2020-09-02 21:50] Martii commented on #1002
@az0

Thanks.

#1005

Possibly changed between 18.x and 20.x. Not sure where that would be but it does have "breeze dark" theme. Since this program is GTK related it's more likely that the Gnome theme isn't installed. None-the-less default in beta is ticked on for "Dark mode" and it's actually "Light mode" on initial install.  Good luck with that one. ;)

[2020-09-03 10:38] Translator5 opened #1006 "BleachBit killed Wi-Fi"
BleachBit version 4.0.0
Kernel: 5.8.3
Product: Wi-Fi 6 AX200
Manjaro Linux

After running BleachBit once with all checked and restarting the PC, wifi do not work any longer.
product: Wi-Fi 6 AX200

sudo lshw -C network
*-network UNCLAIMED
       description: Network controller
       product: Wi-Fi 6 AX200
       vendor: Intel Corporation

[2020-09-04 22:08] az0 commented on #1003
@cliftonprince
This looks like issue https://github.com/bleachbit/bleachbit/issues/918 that you filed in May. Please try updating to [BleachBit 4.1.0 beta](https://www.bleachbit.org/news/bleachbit-410-beta), and let me know how it goes.

[2020-09-04 22:14] az0 commented on #1006
I can't think of any way that BleachBit, even with all options enabled, affects wi-fi. (Nine years ago someone asked for the ability to flush DNS on Windows. This was never added, but this is the closest thing I can think of.) If you have an idea how this might have happened, please let me know.

About the time this happened, did you do any other system maintenance, update software, change drivers

[2020-09-05 12:46] kc9nrb opened #1007 "winapp2.ini sections are numbers instead of names (Bug in Beta BeachBit 4.1.0)"
Noticed this when I installed the beta. It only relates to the Edge Browser stuff.

![Bug Report Bleach Bit](https://user-images.githubusercontent.com/70806254/92305321-caaad380-ef4b-11ea-863e-1d63eb171f1d.png)

[2020-09-05 16:37] cliftonprince commented on #1003
Fixt :)

Solved, Beta 4.1.0.1723 release web launcher does launch properly for me. And WHOOPS, sorry to repeat-post it, didn't realize I'd already reported it "officially" like that, my bad.

[2020-09-06 14:38] az0 commented on #1003
Thank you for confirming it is fixed

[2020-09-06 14:38] #1003 closed

[2020-09-06 14:59] az0 commented on #1001
I fixed the subprocess problem. One way to test it (without waiting for a new RPM package) is to overwrite the changed code using this command

`sudo wget https://raw.githubusercontent.com/bleachbit/bleachbit/72150a8a74b9cb6e0fb01a8748c4fe896321f904/bleachbit/Unix.py /usr/share/bleachbit/Unix.py`

The other part, identifying the packages, is a separate issue, so perhaps you could file a separate t

[2020-09-06 14:59] #1001 closed

[2020-09-06 15:03] az0 commented on #1007
@kc9nrb
I could use some more information. Would you please do this?

1. Click the **Help** menu
2. Click **Diagnostics**
3. Copy the the information to the clipboard
4. Paste it here in GitHub (at least the lines with version numbers)

[2020-09-07 10:07] hced opened #1008 "How to install English-only Portable?"
Downloaded the portable of BleachBit, but can't get rid of my own locale. Is there a way to accomplish this? (Don't want to use installer due to registry clogging.)

[2020-09-08 16:37] XmanSec-Code opened #1009 "64bit Install"
Where do I retrieve the executable on your site?  Thanks

[2020-09-08 18:20] audreytoskin opened #1010 "List packages to be removed by `dnf autoremove`"
Continuing from issue #1001...

While testing the 4.0.1-1.1 RPM from Sourceforge, on Fedora 32 Workstation x86_64, I notice the DNF autoremove cleaner doesn't show which packages are going to be removed. Most other cleaners list all the files to be deleted, but DNF autoremove doesn't give any information at all about what exactly it's about to do. When you first check the box for DNF autoremove, i

[2020-09-09 13:08] Surfride10 opened #1011 "Wipe Process & Vol Free Space"
I am testing 4.1.0.1723, target is Window Server 2012r2.

GIVEN:
Tested with a single vol,  Because this is a production server and the wipe process is not throttled, drive utilization was 100% adversely effecting server performance. I attempted to cancel the wipe process by closing the ui; bleachbit.exe   The bleachbit process continued to run without the ui and I decided best to let it run to co

[2020-09-09 20:30] PrefixCoder opened #1012 "Pale moon clean error (4.1.0 beta): sqlite3.OperationalError: no such table: moz_origins"
### Version
bleachbit 4.1.0.1723
Windows 10
Pale Moon 28.13.0.win64

### Message
[code]
### Steps
1. Select "Pale Moon/URL history" section
2. Click "Clean"
3. The error message is shown beside other (successful) operations
**Problem is reproducible:**
4. Click "Clean" again
5. The error message is shown, again

[2020-09-10 04:01] az0 commented on #1009
Please see the [BleachBit downloads](https://www.bleachbit.org/download) page on bleachbit.org for executables for Windows (32-bit and 64-bit) and packages for Linux (32-bit and 64-bit).

Andrew

[2020-09-10 04:01] #1009 closed

[2020-09-10 04:04] az0 commented on #1008
After unpacking the portable archive, delete the directory `share\locale` with has all the translations.

(Inside the `locale` folder, there are many subdirectories such as `af`, `ar`, `ast`, `be`, and so on.)

[2020-09-10 04:04] #1008 closed

[2020-09-10 04:11] az0 commented on #1011
Thank you for testing, David, and sorry about the out of space errors.

In case of emergency, you could terminate the BleachBit process. If killed, it cannot clean up after itself, but you can manually clean up by deleting the kind of file you mentioned. This kind of file contains nothing valuable and does not need to be saved nor moved to another volume.

Regarding your wishlist, you could file a

[2020-09-10 04:12] az0 commented on #1012
Good detail in this bug report. Thank you. It also looks like https://github.com/bleachbit/bleachbit/issues/1002

[2020-09-10 04:14] az0 commented on #967
@k7aay
Please test [BleachBit 4.1.0 beta](https://www.bleachbit.org/news/bleachbit-410-beta) which has a fix for this problem (thanks to Max), and post a comment here in GitHub to let me know whether it was fixed.

[2020-09-10 04:15] az0 commented on #979
Thank you for confirming. Because it works, I will close this ticket.

[2020-09-10 04:15] #979 closed

[2020-09-10 10:44] gitthepie opened #1013 "Bleachbit 4 doesn't start in Windows 10 (slow start without feedback to user)"
I recently tested Bleachbit 4 in Windows 10, but it didn't start at all. I believe I had the latest version; I installed it within the past 48 hours, unless you've updated Bleachbit within that time frame. In case it becomes important, I was running Windows 10 version 1909.

I do see a bleachbit.exe process in Task Manager, but no Bleachbit window opens. Running bleachbit_console.exe just opens a

[2020-09-10 15:26] Surfride10 commented on #1011
I understand this event was of my own making and I appreciate what you do...  When I terminated thread 0, the spawned worker threads were not killed.  Perhaps a semaphore to warn the user its still working, then if killed outside the UI, preventing a new instance when an orphaned process is still running as in this case, or perhaps namedpipes allowing the UI to re-establish communication with the

[2020-09-10 21:08] #1006 closed

[2020-09-10 21:08] Translator5 commented on #1006
May this was also caused by any issue regarding dualboot and window's auto-correction of partitions - so sorry.

[2020-09-11 01:54] Lochabar opened #1014 "Bleachbit identifies multiple files for deletion but fails to delete them "Access is denied""
Bleachbit 4.0 is identifying multiple files in c:\projects\bleachbit\* for deletion, but fails to delete them.
![Bleachbit](https://user-images.githubusercontent.com/17562417/92841222-aa45a380-f3a7-11ea-8139-8eb947d52ae0.png)

I tried to add c:\projects/bleachbit from the search but could not locate the directory in the options.

Similar problem with a windows cache location
![Bleachbit2](https://

[2020-09-11 21:41] lilcsz commented on #948
maxsecure is shit

[2020-09-11 21:51] anonymous1184 opened #1015 "Turn off warnings..."
Is there a hidden option or an undocumented command line switch to disable warnings? Or some way to enable something like "do not display this warning from now on..."?

[2020-09-13 04:29] VAK58 commented on #994
I made another discovery. I am using Cairo dock. I find that the problem comes only when I start Bleachbit with admin privileges through the icon in Cairo dock. But the program starts normally when I start it from the main menu. Strange!On Aug 29, 2020 13:54, ediowar <notifications@github.com> wrote:
What's the error in the terminal?

—You are receiving this because you authored the thread.Reply t

[2020-09-17 03:54] az0 commented on #1004
Which version of BleachBit is this? Maybe 4.0.0 final, 4.1.0 beta, or another version?

[2020-09-18 00:46] Bellevillehillls opened #1016 "Internal and external hard drive not recognized due to bleachbit shutdown"
Hello, for a few days I have encountered a major problem with my PC, it is constantly running with its fans at maximum. I think I know the reason, finally I identified two;
- the first, it is possible that I selected the experimental garbage collection
- the second it's also possible that I interrupted the running program.

I am really not a geek and I am hardly new to Linux, while browsing the fo

[2020-09-20 18:12] Team-Sys opened #1017 "Missing icons for Firefox bookmarks with BleachBit 4.1.0 Beta"
Upon using said beta version, and then later opening Firefox, I immediately noticed that all my bookmark icon in the bookmark bar were generic blank icons instead of the respective websites' official icons. Using Windows 10 2004 update on Dell E-7440.
Feel free to message me if you need any other system information or files to fix this issue.

Edit: To clarify, I did confirm that it is BleachBit 4

[2020-09-21 12:34] coderbharadwaj opened #1018 "documentation"
where to find a or how to get a high level and low-level design documents of the project. please help me out.

[2020-09-21 15:01] az0 commented on #1018
The available documentation is here

- http://docs.bleachbit.org/
- https://github.com/bleachbit/bleachbit/tree/master/doc
- https://github.com/bleachbit/bleachbit/blob/master/README.md

Of course, there is also the source code

[2020-09-21 15:01] #1018 closed

[2020-09-21 15:06] az0 commented on #1016
If the BleachBit is forcibly killed during during the "wipe free space" process, it may leave a large file behind. The file uses disk space, but I don't think this would affect fan speed. If you think this may have happened, see the [FAQ](https://docs.bleachbit.org/doc/frequently-asked-questions.html) for "Q: I closed BleachBit while it was working for a long time, and now my hard drive is full. H

[2020-09-21 15:18] az0 commented on #1017
Hmm, this is the strange part.

[2020-09-22 03:13] az0 commented on #1007
I am closing because of no response. If you have the information, please post it here and re-open the issue ticket.

[2020-09-22 03:13] #1007 closed

[2020-09-22 03:16] az0 commented on #1014
This looks like an issue fixed in [BleachBit 4.1.0 beta](https://www.bleachbit.org/news/bleachbit-410-beta). Please update, test again, and write a comment here to let me know how it went.

By the way, the `c:\projects` path is confusing. It does not refer to your system. It refers to the location of the source code on the build server. It's useful for diagnosing issues, but otherwise you can igno

[2020-09-22 06:38] the-cleaner-66 commented on #1004
Same errors here, test with BB 4.0.0 final and BB 4.1.0.1723 beta (both portable) on Windows 10 1809, build 17763_rs5

[2020-09-22 12:41] Lochabar commented on #1014
I ran the beta and it no longer produced the 450+ errors it did previously. However it looks like there is another error.

![Bleachbit beta](https://user-images.githubusercontent.com/17562417/93883247-ef6ead00-fca6-11ea-951e-842852204a34.png)

[2020-09-23 17:00] jasmine124 opened #1019 "Deletes Opera passwords on Win 10 (even if clear passwords is unticked for opera and chrome)"
Hi, this has been happening with all releases of version 4 I have used, have 4.0.0 installed (and all latest versions of Opera (standard and GX) I have installed.

Installed on Win 10 Pro (though previously on Win 10 Home). Same on both.

[2020-09-24 12:33] swap-linux9431 opened #1020 "Error In BleachBit"
Sir/Ma'am,

Bleachbit on Ubuntu 20.04 LTS is continuously showing the following error. I've tried a lot but i cant see any solution to it, I even uninstalled it and reinstalled but no solutions so far. So please help me with my issue is as following:

**Error when checking for updates:
Traceback (most recent call last):
  File "/usr/share/bleachbit/bleachbit/GUI.py", line 1160, in check_online_upd

[2020-09-24 23:39] gitthepie commented on #1013
I just wanted to provide an update on my situation. I have expanded my test to a clean installation of Windows 10 version 2004 (newer than version 1909) on a different computer. I experienced the same problem. I then tested BleachBit 3.2 as well and found that it still didn't open.

[2020-09-25 05:03] hendrst opened #1021 "Persistent error when deleting (Windows Defender backups)"
Bleachbit 4.0.0 on Windows 10.

Receive the following error during execution of clean, no errors show up during preview.

[WinError 5] Access is denied.: Command to delete C:\ProgramData\Microsoft\Windows Defender\Definition Updates\Backup\mpasbase.vdm
[WinError 5] Access is denied.: Command to delete C:\ProgramData\Microsoft\Windows Defender\Definition Updates\Backup\mpasdlta.vdm
[WinError 5] Acc

[2020-09-25 12:49] Rb3rt commented on #1017
Works as intended for me on Win10 deleting URL history completely on version 4.1.0.1725 (thanks for fixing that, Andrew). I whitelisted "favicons.sqlite" so favicons would'nt have to regenerate. Maybe a separate checkbox for "Favicons" would help, if possible.

[2020-09-26 07:08] LazyRam opened #1022 ""Explorer MRU Extras" updated tooltip? resets custom folder view columns"
Can you add a tool-tip or similar for "Explorer MRU Extras", it resets file explorer's custom folder view columns.
example custom : Name | Date last saved | Size | Date created | File version | Owner | File extension
example normal : Name | Date modified | type | size

[2020-09-26 19:08] az0 commented on #1021
The `access is denied` error looks like an issue fixed in [BleachBit 4.1.0 beta](https://www.bleachbit.org/news/bleachbit-410-beta). Please update, test again, and write a comment here to let me know how it went.

[2020-09-26 19:23] az0 commented on #1020
This is a duplicate of https://github.com/bleachbit/bleachbit/issues/819

You are using an old version of BleachBit. Because of Ubuntu's "no rolling release policy," its repository often has an old version. Ubuntu LTS users might even have an ancient version of BleachBit. Generally I recommend getting a new version from https://www.bleachbit.org/download . Right now I recommend https://www.bleachb

[2020-09-26 19:23] #1020 closed

[2020-09-26 19:40] az0 commented on #1014
The first error was `access is denied`, and thank you for confirming that's fixed. I added this error message to the title of this GitHub issue.

The second error `no such table: moz_origins` is different. It looks like a duplicate of https://github.com/bleachbit/bleachbit/issues/1002 . It's easier to manage issues when there is one problem per issue, so I'd like to close this ticket. You can eith

[2020-09-26 19:40] #1014 closed

[2020-09-26 19:43] az0 commented on #1004
@the-cleaner-66
Is it identical with both `access is denied` and the `C:\ProgramData\Microsoft\Windows Defender\Definition Updates\Backup` part? Does this happen only when the "Backup" option is enabled under the "Windows Defender" section?

[2020-09-26 20:01] az0 commented on #1011
Which do you mean

1. Do the "wipe free space" process slowly, so it does not slow down other system processes, _OR_
2. Do not consume 100% of the free space. Allow user to preserve some space (maybe 1%, 5%, 1GB, or something like that)

[2020-09-27 07:35] the-cleaner-66 commented on #1004
@az0
Yes, in fact, it's identical with both parts. The "Backup" option was all the time enabled. The error happened only in the last 6...8 weeks.

[2020-09-27 07:37] the-cleaner-66 commented on #1004
@az0
PS: No error appears if Win 10 is booting into safe mode...

[2020-09-28 04:24] hendrst commented on #1021
Downloaded and installed 4.1.0 beta.   Still receiving 'Access is denied' error on those same folders/files.

[2020-09-30 06:04] sudipghimire533 opened #1024 "Cannot scroll to bottom of output log"
While the cleaning process is running (probably long) and if we select any line the we cannot scroll to the line below it.
** Ways to Reproduce **
1) Start a clean (clean that is long and give more output is helpful)
2) Select any line of the output log
3) Try to scroll to the bottom below it

** System **
Debian testing amd64

** Video showing error **
![error] video(https://user-images.githubuse

[2020-10-02 16:40] nico92GitHub opened #1026 "Free space is not de-counted after cleaning"
Hello

I am using BleachBit v4.0.0 on Windows 10 64-bit.

I wrote a small script in .vbs that displays the total free space of my 2 hard drives, including 1 SSD (Start-up).
This script calculates the difference between a scan and the scan done just before. This allows me to know what space is released after the launch of a cleaning program.

1/ I launch my script .vbs
2/ I launch BleachBit which c

[2020-10-03 15:06] soredake opened #1027 "use polkit for root actions instead of separate root binary"

[2020-10-03 16:17] az0 commented on #998
Problem still exists except that for the portable zip file, it now detects it as Trojan.Generic.fsscz

[2020-10-08 14:54] stan-tech48 opened #1028 "Bleachbit console corrupt."
I just installed Bleachbit 4.0 on a Windows 10 machine (x64 version 2004 with the latest patches) and when I bring up the interface I get nothing but squares instead of characters. I've tried both the full and portable versions of the app with the same result. Attaching screen snap of console the debugger. Can anyone assist in identifying the cause of this?
![Capture](https://user-images.githubuse

[2020-10-09 09:43] Rb3rt commented on #1028
[https://github.com/bleachbit/bleachbit/issues/901](url)
Try using the latest build: [https://ci.bleachbit.org/?prefix=dl/4.1.0.1730-master/](url)
![Screenshot (1)](https://user-images.githubusercontent.com/71883881/95568430-38866700-09f2-11eb-89f7-fb17646bb652.png)

[2020-10-09 15:07] stan-tech48 commented on #1028
This appears to have corrected the console corruption issue. Thanks much for the timely response. Take care Rb3rt.

[2020-10-09 15:07] #1028 closed

[2020-10-09 19:17] #1005 closed

[2020-10-09 19:19] az0 commented on #1005
The apt-get command installs the snap, and the the fix is a two-line change to chromium.xml to find the snap location . Here are some ways you can try it

1. Edit the file yourself
2. Download the whole file from GitHub and replace it
3. Check out the latest code (the whole repository) from GitHub
4. Wait for the next beta/stable release, which includes a .deb package

[2020-10-09 19:20] az0 commented on #967
There was no response, but I am pretty sure it was fixed, so I'm closing this ticket

[2020-10-09 19:20] #967 closed

[2020-10-09 19:20] az0 commented on #1028
Thank you both

[2020-10-10 20:03] #1002 closed

[2020-10-10 20:03] #1012 closed

[2020-10-10 20:05] az0 commented on #1012
CI build 4.1.0.1732 has the fix, and it's building now. Would you please [visit the CI site](https://ci.bleachbit.org/), download this version or a newer version, test it, and write a comment here whether the fix helped?

[2020-10-10 20:06] az0 commented on #1002
I committed a fix for the error `no such table: moz_origins`. For options on how to test, please see [my comment yesterday ](https://github.com/bleachbit/bleachbit/issues/1005#issuecomment-706360213) in your other bug ticket.

[2020-10-11 13:11] PrefixCoder commented on #1012
Tested portable. Problem is fixed.

Btw win defender SmartScreened installer. I ran it through VirusTotal:
https://www.virustotal.com/gui/file/56294fdc4ed88cb9f07dba4f2b4ab2cc8e6ee055d968639971f6d644898a61e5/detection

Sorry if it's unethical to send intermediate versions to virustotal.

[2020-10-11 20:19] liar666 opened #1029 "Wiping Free Space does not work in BB v.4.0.0"
Hi,

I've just updated my PortableApps and got BleachBit Version 4.0.0 installed.

When I try to wipe the free space, I get error:
[code]

Tried to run the app as admin. I get the same error... There's apparently a bug in the temp file name generator.

[2020-10-13 03:54] az0 commented on #1017
I confirm the issue. After version 4.0.0, there was a change 60d60ba1437e2aedede055265309f40279a09fc4 to delete  `favicons.sqlite`, which is enabled only when the Firefox option "URL history" is checked. (In older versions of Firefox, favicons data was in another file.)

[2020-10-13 23:44] Martii commented on #1005
Chose option 1 for now. Seems to be working well. Thank you very much. :smile_cat:

[2020-10-15 10:09] Martii commented on #1002
*(paths have been slightly edited for some privacy btw)*

@az0 Notable entry that sticks out to me:

[code]

... should the double slashes be in there? Does it matter?

Other than that seems to be working well on the third test run. :)

Weird that GH Notifications didn't show me this yesterday otherwise I would have done these tests. Thanks for the fix.

# Test already cleaned

Bleachbit Preview w

[2020-10-16 18:19] az0 commented on #1002
No, it is not a functional problem. It's just a cosmetic issue, so low on the priorities.

Thank you for confirming.

[2020-10-18 15:20] zero77 commented on #1017
I am using Debian with v4.1.0

After whitelisting favicons.sqlite, bleachbit does not delete it under the "Vacuum" list.

But, it still deletes it under the "URL history" list even when favicons.sqlite is whitelisted.

[2020-10-18 15:32] zero77 commented on #632
What about a snap package as well

[2020-10-18 22:07] az0 commented on #632
Please let's keep this issue about the original topic, Flatpak. There was some discussion earlier about snap here https://github.com/bleachbit/bleachbit/issues/342 . If you think the concerns there are resolved, maybe open a new issue dedicated to the topic

[2020-10-20 17:26] liar666 opened #1031 "bleachbit did not remove windows old files"
Same problem as described here:
https://www.bleachbit.org/forum/bleachbit-did-not-remove-windows-old-files

Just upgraded Win10 1909 to 2004 and ran BB => Windows.old directory is still here and takes 8Gb++

Would be great to have an option like in the 'great competitor' app :)

[2020-10-21 00:32] rados commented on #1017
Hey guys, I can trace this further.

[2020-10-21 03:32] az0 commented on #1017
@rados
Great. You may have already figured this out, but a good solution is to write a SQLite DML statement to delete the rows in `favicons.sqlite` that are not bookmarks in `places.sqlite`.  There's old code in `Special.py` that does the same thing for Google Chrome, but now it's needed for Firefox. The final piece is to replace the delete statement with a new special action.

[2020-10-21 03:43] az0 commented on #1031
Good idea. According to some quick research, a user can delete the `windows.old` folder simply after changing its permissions.

[2020-10-21 21:40] br-z0 commented on #856
I'll work on this one.

[2020-10-22 14:14] Slavomir9 opened #1033 "My Ubuntu crashed during use of BleachBit. Issue with boot. Black screen"
Hello,
I use actual Ubuntu with nevest version of Bleachbit.
I have similar issue as here
https://www.bleachbit.org/forum/bleachbit-occupies-entire-free-disk-space-after-wipe-swap-and-free-space
But during clearing all clearing options as root, it write „full HDD“, then I saw black screen, then I restart PC, but boot of PC do not work, I see black screen.
 BleachBit makes me HDD partition full
Pho

[2020-10-22 16:54] az0 commented on #1033
Please try the solution from the FAQ

https://docs.bleachbit.org/doc/frequently-asked-questions.html

You can do this from recovery mode.

On Thu, Oct 22, 2020 at 8:14 AM Slavomir9 <notifications@github.com> wrote:

[2020-10-24 17:01] az0 commented on #1029
This is a duplicate of https://github.com/bleachbit/bleachbit/issues/906 and was fixed. Try the latest version [4.1.0 beta](https://www.bleachbit.org/news/bleachbit-410-beta) or later

[2020-10-24 17:01] #1029 closed

[2020-10-24 17:49] az0 commented on #1012
Thank you for checking.

Feel free to check anytime, but here's what to expect. The files on ci.bleachbit.org will trigger SmartScreen because of its popularity heuristic. They aren't popular like final releases, so they trigger a warning. Many beta and final releases will have one or two false positives on virustotal, and I will report them to the vendors. I probably won't do anything about false

[2020-10-24 18:03] az0 commented on #1026
Some possibilities

1. On Windows, BleachBit calculates size of file change using the Windows API `FindFilesW`.  This is not apples to apples comparison with free space, which is measured by blocks. For example, a 1 byte file occupies a full 4KB block. When a 1B file is deleted, BleachBit reports 1B, while the OS reports that 4KB was freed. However, this is the opposite of what you're seeing.

2.

[2020-10-24 18:05] az0 commented on #1004
I presume that an active process has the file locked, so BleachBit cannot delete it. Normally, BleachBit would fall back to queuing it for deleting after a system reboot, but it seems this isn't working here.

[2020-10-24 20:05] nico92GitHub commented on #1026
Thank you for your return with this informations.

1. I know this notion of blocks as a unit of measurement and the errors/differences that this can generate.

2. I take note.

3. I know this occasional circumstance. I wrote a script (.vbs) that measures free space, before and after a deletion. There is almost always a small difference.

----->> 4. It is this condition that, in my view, is the cau

[2020-10-25 19:43] vilhelmgray opened #1034 "Scrollbar covers up abd blocks checkboxes in Operations Box"
If the user desktop environment theme has been configured for a wide scrollbar, the scrollbar can end up overlapping with the **TreeDisplayModel** widget and thus block the user from accessing the checkboxes. See the following screenshots:

![bbss1](https://user-images.githubusercontent.com/5282157/97117240-b75cee80-16d8-11eb-8be6-23c59382529d.png)
![bbss2](https://user-images.githubusercontent.co

[2020-10-26 12:27] Surfride10 opened #1035 "TypeError: 'int' object is not subscriptable in Windows Wipe"
I am receiving the errors below with 4.1.0 attempting to delete app crash reports in WER in .\programdata...  target is 2012r2

Thanks!

~David

Delete 105.4kB C:\ProgramData\Microsoft\Windows\WER\ReportQueue\NonCritical_7.9.9600.19810_535d16b2204d8b274f9fc255741fd7bce31c71_00000000_cab_0e352a93\ReportingEvents.log
Error: system.logs: Command to delete C:\ProgramData\Microsoft\Windows\WER\ReportQu

[2020-10-26 14:12] gaurapanasenko commented on #974
I'll work on this one.

[2020-10-26 14:33] br-z0 commented on #974
I'll work on this one.

[2020-10-26 16:48] br-z0 commented on #993
I'll work on this one.

[2020-10-30 19:59] GeorgeTrakker opened #1038 "BleachBit 4.0.0 Error message with every cleaning."
I loaded BleachBit version 4.0.0 Build number 1628 in English without translations to my Win 10 64b system direct from your website Bleachbit.org.

My system info:
Model #: HPE-450t
Product #: XM556AV#ABA
Software Build #: 10NAFMCW601
Service ID #: 031-817
PCBRAND: HP

When I bleach a file or folder I get an error message:

[Errors occured

[2020-11-02 05:03] maxhaz opened #1040 "Root installation directory is deleted during uninstallation"
I have version 4.0.0.1628, Windows 10.
I want to uninstall but if I do, it starts deleting unrelated files and folders (from the same folder as the bleachbit install folder).
That's scary (I have to kill the process to stop the deletion, I already lost many files).

What should I do to uninstall Bleachbit?

[2020-11-03 15:57] az0 commented on #1040
You mean it is deleting files and folders from `c:\program files (x86)\bleachbit` that you want to keep? Could you please provide a screenshot?

[2020-11-03 16:01] az0 commented on #1038
For troubleshooting purposes, please launch the BleachBit console by running  `C:\Program Files (x86)\BleachBit\bleanchbit_console.exe`. It will show an black window along side the GUI. Please check the black window for any errors. If there are any, please either (1) copy and paste them here or (2) take a screenshot and attach it here. Let me know if you need help with that.

[2020-11-04 02:55] maxhaz commented on #1040
I installed bleachbit on a custom folder where I install many other software `C:\myprograms\`.

The files and folders deleted are all the files and folder from `C:\myprograms\`, starting in alphabetical order (I could kill the uninstall process while deletion reached the letter M). Deleted files and folder include `C:\myprograms\7-Zip`, `C:\myprograms\agentransack`, ``C:\myprograms\FileZilla FTP C

[2020-11-04 04:45] az0 opened #1042 "AppVeyor build broken"
First broken build with error ` ImportError: No module named 'pefile'`
 https://ci.appveyor.com/project/az0/bleachbit/builds/35958891

Last good build
https://ci.appveyor.com/project/az0/bleachbit/builds/35888526

Last good build not using cache
https://ci.appveyor.com/project/az0/bleachbit/builds/34930419?fullLog=true

[2020-11-04 04:57] #1042 closed

[2020-11-04 04:59] az0 commented on #1040
You installed BleachBit in a sub folder like `c:\myprograms\bleachbit` or something like that, right?

When originally installed, did you choose "all users" or "only current user" option?

[2020-11-04 05:31] #1017 closed

[2020-11-04 05:33] az0 commented on #1017
@Team-Sys
Rados coded a fix such that the bookmarked favicons will be preserved, so you don't need to whitelist any file. Please try build
4.1.0.1756 or newer from the CI [build site](https://ci.bleachbit.org/), try it out, and post a comment here to let me know how it went.

@zero77
To test on Debian, you can get the code from GitHub or wait for the next beta release. (I will post .deb packages t

[2020-11-04 07:27] maxhaz commented on #1040
yes, that's correct.

Sorry, I don't remember.

[2020-11-04 07:41] Team-Sys commented on #1017
This fixed the issue for me, thanks.

[2020-11-04 12:49] Samuelms79 commented on #1013
I noticed that the program also takes a long time to open even using SSD, 4x longer if using a PC with HDD. This behavior extends to several PCs with Windows 7 and Windows 10, both updated and with Beachbit 4.0.0 program.

[2020-11-04 20:35] GeorgeTrakker commented on #1038
Andrew,  (send via email direct to Andrew)
Thanks for the reply.
Here is the data you requested (I think).

The results of bleachbit_console.exe    ; (note the command has a typo 'n' in 'bleanchbit' so I changed it to bleachbit. . .
![Bleachbit_console window georgetrakker@gmailcom](https://user-images.githubusercontent.com/73718962/98165142-5e990d00-1eb3-11eb-9079-b75333e86a1a.jpg)
![Bleach Bit E

[2020-11-04 23:37] az0 commented on #1038
That was super helpful. This can be fixed. One workaround is to delete the `winapp2.ini` file under %appdata%\bleachbit . You could also edit the file to delete some entries. Hopefully I will get this fixed soon, though

[2020-11-05 08:16] abitrolly commented on #848
The [official way](https://pygobject.readthedocs.io/en/latest/getting_started.html#windows-getting-started) to use PyGObject on Windows is through MSYS2.

However, this project https://github.com/wingtk/gvsbuild might provide replacement libs for newer Python.

[2020-11-05 14:10] rados commented on #1038
Hey guys, I can handle this.

[2020-11-05 17:24] rados commented on #1038
I have two questions.

One to George - is it possible to send me your winapp2.ini? On my machine it is in %appdata%\bleachbit\cleaners.
And one to Adnrew - following the traceback I cannot match the line numbers in the respective files even when I've checked out the 4.0.0 tag. For example in Winapp.py line 151 is not in the __init__ method. Probably I am missing something...

[2020-11-05 18:13] GeorgeTrakker commented on #1038
Radoslav,

As requested, attached is the winapp2.ini file which WIN10 states was
located in AppData\Roaming\BleachBit

Thanks in advance for whatever help you can provide.

George Trakker
georgetrakker@gmail.com

On 11/5/2020 12:24 PM, Radoslav Stoyanov wrote:

; Winapp2.ini for BleachBit
;  https://github.com/bleachbit/winapp2.ini/

; Version: 200316
; # of entries: 2,376 + 110 removed entries
;

[2020-11-05 19:03] rados commented on #1038
Hey George,

For some reason the file is cut. Probably it is too big. You can send it to my to rado.sto@gmail.com.

Thank you.

[2020-11-06 05:07] az0 commented on #1038
@GeorgeTrakker

When BleachBit is running, please click the hamburger menu (three horizontal lines) and then click Diagnostics. Please confirm the version number at the top of that window is 4.0.0 build 1628.

@rados

Line 540 on tag `v3.0` is `return Decimal('.'.join(build.split('.')[0:2]))`

[2020-11-06 05:31] az0 commented on #848
I'd like to try this first. It looks simpler than gvsbuild

[2020-11-06 15:35] az0 commented on #1040
If you do not mind the BleachBit entry staying in the control panel, you could just delete its folder `c:\myprograms\bleachbit`. The Windows installer doesn't do much more than copy files here.

Later I can look into this further.

[2020-11-06 15:37] az0 commented on #1013
Which antivirus software do you both use? For troubleshooting, are you able to pause the antivirus or put it into game mode? (To be safe, please be sure you have the authentic BleachBit that is available on www.bleachbit.org and [digitally signed](https://docs.bleachbit.org/doc/install-on-windows.html).)

[2020-11-06 16:20] abitrolly commented on #1040
I think that could happen if BleachBit was installed into `C:\myprograms\` without `bleach` subdir. However, I need a Windows box to test how installer works.

The recursive delete is then made by this line.
https://github.com/bleachbit/bleachbit/blob/4fb8845661ab6a726338ef4855fd75bea4d640d6/windows/bleachbit.nsi#L434

The installer could be modified to uninstall only installed files.
https://nsis

[2020-11-06 17:01] GeorgeTrakker commented on #1038
I don't have a hamburger but her is what diagnostics says.

BleachBit version 4.0.0
Build number 1628
GTK version 3.18.9
GTK theme = Adwaita
GTK icon theme = Adwaita
GTK prefer dark theme = False
SQLite version 3.31.1
local_cleaners_dir = None
locale_dir = C:\Program Files (x86)\BleachBit\share\locale\
options_dir = C:\Users\Zeus\AppData\Roaming\BleachBit
personal_cleaners_dir = C:\Users\Zeus\AppD

[2020-11-06 17:19] abitrolly commented on #919
@az0 I'll work on this one as I am on Fedora too.

[2020-11-06 20:10] abitrolly commented on #981
Can not reproduce on Fedora 33 with GNOME and X11 or Wayland.  @sjclondonukgreat can you test if the issue still repeats on your system, and paste the output of `bleachbit --sysinfo`?

[2020-11-07 08:45] sjclondonukgreat commented on #981
I have F33 now and KDE with X11. It seems to work now, so the issue must have resolved itself. I use 4.0.0.

[2020-11-07 15:51] #981 closed

[2020-11-07 17:14] abitrolly commented on #981
@sjclondonukgreat thanks for the update. That could have been an issue with GTK not specific to BleachBit that got fixed. Just a guess - I am not monitoring GTK development closely to find some prooflinks.

[2020-11-07 17:24] abitrolly commented on #919
@zensubz what is your OS and desktop environment? You can run `bleachbit --sysinfo` to get the info and paste the output here. The similar issue on Fedora 33 in #981 is not reproducible anymore. Maybe this one is also fixed.

@FillyAgioro look like you run BleachBit in SSH session? Does the problem repeat without SSH?

[2020-11-07 17:38] abitrolly commented on #811
@FrostKnight because BleachBit works with `sudo` I guess the bug is in `doas` then. Most likely it doesn't pass some environment variable or other data which GTK needs. I suggest trying other GTK apps, such as `meld` and raising the issue on their tracker if that repeats for them as well.

As for BleachBit side, please post the output of `python3 bleachbit.py --sysinfo` with the latest source here

[2020-11-07 18:14] abitrolly commented on #922
@ediowar can you paste the output of `sudo python3 bleachbit.py --sysinfo` here for your openSUSE? I guess you get the same error when running `gedit`, `meld` or any other GTK app with `sudo`, is that right?

I see that BleachBit is quite popular on openSUSE forums. There are [hints to use `xdg-su`](https://forums.opensuse.org/showthread.php/405624-sudo-doesnt-open-X-programs) run desktop apps wit

[2020-11-07 18:16] abitrolly commented on #922
@topas-rec may I ask you to open a new issue with the output of `bleachbit --sysinfo` for Debian Buster and Wayland?

[2020-11-07 20:34] GeorgeTrakker commented on #1038
Andrew, and Radoslav,

Thank you for your help with this problem.

I believe I resolved the problem by taking the following steps.

1    Uninstalled from start menu
2    Found that this did NOT uninstall from the App List.
3    Uninstalled Bleach Bit from the App List
4    Found that this did not remove the directory under c:\program files
(x86)\BleachBit
5    I deleted this directory
6    Reinsta

[2020-11-07 21:19] rados commented on #1038
Hey George,

Glad to hear that, I supposed like this.

Hey Andrew,

We may consider improvements in the update and uninstall processes so to prevent such things.

[2020-11-07 22:55] ediowar commented on #922
[code]
[code]

I confirm it helps.

[2020-11-08 04:17] abitrolly commented on #922
@ediowar thanks for the testing. I'd say the resolution of the problem is on the `openSUSE` side. It may be the policy that GUI tools should not be run with `sudo`, and those users who still want it, should be advanced enough to use `xdg-su`. The best way to confirm this is to ask at https://forums.opensuse.org/forumdisplay.php/669-Applications if packages like `BleahBit` and `gedit` deliberately

[2020-11-08 09:34] ediowar opened #1043 "Error: _gui.free_disk_space: Function: Overwrite free disk space"
git revision https://github.com/bleachbit/bleachbit/commit/17e0c0e512ba33b6e579e066559a883d5ee88d08 Ubuntu 16.04

Wipe Free Space
Disks info: Thumb Drive 8,0 GB (8.040.480.768 bytes) FAT
Two files are written but not deleted.:
File1 size 4,0 GB (4 294 967 295 bytes)
File2 size 3,5 GB (3 729 817 600 bytes)

[code]
[code]

[2020-11-08 13:20] abitrolly commented on #915
@ediowar the function was added in Gtk 3.22 (https://lazka.github.io/pgi-docs/Gtk-3.0/functions.html#Gtk.show_uri_on_window) and according to https://github.com/bleachbit/bleachbit/commit/58bc93398ed378eccdd862c547aa68b5dc979f64 the latest BleachBit version without this commit is 2.2

I guess the bug is present in https://www.bleachbit.org/download/linux download for Ubuntu 16 LTS as well. Can you

[2020-11-08 13:30] abitrolly commented on #915
@az0 what is the support policy for LTS versions of Ubuntu that are bundled with outdated Gtk? Should BleachBit continue proposing newer versions for them? Download for Ubuntu 16.04 proposes 4.0.0.

[2020-11-08 16:46] ediowar commented on #915
I confirm it.

[2020-11-08 17:59] az0 commented on #915
@abitrolly

I'd like to support all Ubuntu versions that are not end of life, but I also wouldn't invest heroic efforts into the oldest Ubuntu versions.

How about this: use hasattr() or similar to check whether show_uri_on_window is defined. If not, fall back to system call to xdg-open or something like that?

[2020-11-08 18:05] az0 commented on #1038
@GeorgeTrakker

Thank you for confirming

@rados

You mean to delete only the files that were installed (instead of rmdir for the root installation folder)?

[2020-11-08 18:34] az0 opened #1044 "Ubuntu 20.10 package fails to build"
Build works fine on OBS for Ubuntu 20.04 but fails for Ubuntu 20.10

[Log](https://build.opensuse.org/package/live_build_log/home:andrew_z/bleachbit/xUbuntu_20.10/x86_64) from OBS

[code]

[2020-11-08 18:53] topas-rec opened #1045 "Errors and doesn't start as root on Debian Buster using Wayland"
In Debian Buster (Exact version below) bleachbit works in non root mode, but doesn't start in root mode using Wayland.
Both works in Buster when using Xorg.

_This was requested by https://github.com/bleachbit/bleachbit/issues/922#issuecomment-723477318_

How I got there is stated below:

[code]

There is no window opening when using sudo, just the errors in the terminal show up.

[2020-11-08 19:30] abitrolly commented on #915
@az0 I can work on this one. Adding `webbrowser.open_new_tab()` seems reasonable to me.

[2020-11-08 23:39] FrostKnight commented on #811
Hmm...  yeah, this happens with nitrokey-app, lxtask, this, and other things.  So I guess, this issue is your bug at all.

So I guess this should be closed since its a much larger issue...

[2020-11-08 23:44] FrostKnight commented on #811
Meant to say, "isn't... your bug at all...
Can't edit my reply btw, because github is going all webcomponents.

Aka, I use palemoon... ;)

I hope its okay, but I will lock for now.

[2020-11-08 23:44] #811 closed

[2020-11-09 04:25] abitrolly commented on #811
@FrostKnight feel free to raise an [issue with `doas`](https://github.com/Duncaen/OpenDoas) and link it here. Maybe it will get fixed one day. )

[2020-11-09 14:11] abitrolly commented on #304
@WPFilmmaker looks like the issue can be closed then.

[2020-11-09 14:17] abitrolly opened #1046 "Determine minimal GTK version for BleachBit"
After #915 I am curious what is the real minimal GTK version BleachBit runs with. I found this script https://gist.github.com/phillipberndt/6901085 which can be adjusted to scan BleachBit sources.

[2020-11-09 14:27] WPFilmmaker commented on #304
yes

[2020-11-09 14:27] #304 closed

[2020-11-09 15:30] abitrolly commented on #304
@WPFilmmaker thanks!

[2020-11-10 09:52] abitrolly opened #1047 "4.1.1 in GitHub proposes 4.0.0 as new"
I've just got this screen when running `./bleachbit.py` from clean local checkout.

![image](https://user-images.githubusercontent.com/8781107/98657705-3302a080-2353-11eb-8d6e-c8aeaac336b4.png)

When actual version is this.

![image](https://user-images.githubusercontent.com/8781107/98657882-6d6c3d80-2353-11eb-8706-519d5e780fd6.png)

Will investigate further. It would be nice to get both versions

[2020-11-10 12:44] Samuelms79 commented on #1013
I will try to summarize the answer to your question: All tested PCs have
different antivirus software, but all in their free version.  The tests
were also done with clean installations in VirtualBox, both with Windows 7
and Windows 10. The problem seems to be the delay in starting the program
after the system is started and restarted.  Curious that in any Linux
distro this behavior does not occur.

[2020-11-10 15:55] abitrolly commented on #1044
@az0 this one looks easy to fix. I'll take it.

[2020-11-10 16:02] abitrolly commented on #1044
Need to to bump compatibility levels first.
[code]
https://man7.org/linux/man-pages/man7/debhelper.7.html#COMPATIBILITY_LEVELS

[2020-11-10 16:20] abitrolly commented on #1044
Need to specify source format.
[code]
https://man7.org/linux/man-pages/man1/dpkg-source.1.html#SOURCE_PACKAGE_FORMATS

[2020-11-10 16:22] az0 commented on #1013
@Samuelms79

For troubleshooting, please try two things.

1. Delete the winapp2.ini file under `%appdata%\bleachbit\cleaners`
2. Run `bleachbit_console.exe` instead of `bleachbit.exe` because it may give more information
3. While starting BleachBit, check the Windows Task Manager for high CPU and disk I/O

Please try that. If step 2 gives more info, please paste it here or add a screenshot.

If st

[2020-11-10 16:23] #915 closed

[2020-11-10 16:23] az0 commented on #915
This will be published soon in 4.1.1 beta

@abitrolly  Thank you for the fix

[2020-11-10 16:28] az0 commented on #1047
Good catch. I added 4.1.1 to the script on the update server, so it should be fixed now. If not, please reopen.

[2020-11-10 16:28] #1047 closed

[2020-11-10 16:33] abitrolly commented on #1044
Found the best tools to help with resolution of Debian/Ubuntu packaging problems - https://lintian.debian.org/tags/missing-debian-source-format.html

[2020-11-10 16:33] az0 commented on #1046
BleachBit does not use many different GTK functions and the GUI does not change often, so we can test by just running the application on popular Linux distributions. If you still think it is useful and will not take long, feel free to give it a try. Store any code like this in the other repository https://github.com/bleachbit/bleachbit-misc

[2020-11-10 16:37] abitrolly commented on #1044
Here is the full report for `bleachbit 3.9.0-1` which is packaged in Debian - https://lintian.debian.org/sources/bleachbit/3.9.0-1.html

Next step would be to run the `lintian` package on the local version after updating.

[2020-11-10 16:41] Samuelms79 commented on #1013
It was several free antivirus: Avira Free, Panda Dome Free, Kaspersky Free,
Avast Free, AVG Free, Windows Defender and in the case of Windows 7, I
tested without any antivirus.

Em ter, 10 de nov de 2020 13:22, Andrew Ziem <notifications@github.com>
escreveu:

[2020-11-10 17:27] abitrolly commented on #1046
* [ ] regexp to dump functions with their versions
* [ ] `for` cycle with recursive file search for each function

It won't take long. )

[2020-11-10 18:20] ediowar commented on #922
There is no issue in the Terminal - Super User Mode. Can I close issue?

[2020-11-10 18:46] abitrolly commented on #922
@ediowar yes, please. `xdg-su` is the solution for other users coming from `openSUSE`.

[2020-11-10 19:04] ediowar commented on #922
Why only `xdg-su` if Terminal - Super User Mode is installed by default during openSUSE Tumbleweed installation?

[2020-11-10 19:08] abitrolly commented on #915
@ediowar check out new `master`. ;)

[2020-11-10 19:09] abitrolly commented on #922
@ediowar I didn't know about that. Sound like a proper solution to me.

[2020-11-10 19:12] #922 closed

[2020-11-10 19:19] ediowar commented on #915
@abitrolly  already checked out, ok/

[2020-11-10 19:20] ediowar commented on #915
Already checked out, ok.

[2020-11-10 19:34] ediowar commented on #915
@abitrolly fellow countryman, I am from Minsk. Жыве Беларусь!

[2020-11-10 19:40] ediowar commented on #915
@abitrolly I am also from Minsk. Жыве Беларусь!

[2020-11-10 20:11] abitrolly commented on #915
@ediowar Жыве! :D

@az0 given recent event in Belarus, I predict that BleachBit will be popular among desktop users. Although an Android version that can quickly clean up Telegram channels is more actual.

[2020-11-11 06:42] abitrolly commented on #1044
Moving the work log to https://github.com/bleachbit/bleachbit/pull/1049

[2020-11-11 09:26] FillyAgioro commented on #919
@abitrolly I don't ran bleachbit in SSH session. But try to install Bleachbit from website maybe that would work. The apt version is very old. The new version on website is new and works fine for me.

[2020-11-11 14:30] dippybud400 opened #1050 "why does bleachbit consume a ton of CPU resources?"
i just installed bleachbit into my computer and as soon i started the first system cleanup, the system was alredy slow and bleachbit started consuming a ton of CPU resources.
what's up with that?, even ccleaner and stacer do a better job without actually forcing the CPU into oblivion.
anyways...
ended up uninstalling bleach and using ccleaner instead

[2020-11-11 15:32] az0 commented on #1050
Are you on Windows 10? Could you post a screenshot from the Windows Task Manager showing the list of running applications while also showing the BleachBit window to show what it was doing at the same time?

[2020-11-11 18:52] ediowar opened #1051 "When wiping free disk space, only one 4GB file is written to the 8GB thumb drive and then deleted"
[code]
Windows 8 SL (64-bit)
BleachBit version 4.1.1-portable
Build number 1766
![Drive properties](https://user-images.githubusercontent.com/44164186/98851848-e361c900-2467-11eb-8389-4920bdfac3f2.png)

[2020-11-11 19:20] abitrolly commented on #1047
@az0 maybe add a version comparison on a client?

[2020-11-12 00:19] dippybud400 commented on #1050
![imagen](https://user-images.githubusercontent.com/63476414/98879104-b7881880-2452-11eb-9e1b-f09b351ca551.png)
sorry if the entire thing is in spanish

[2020-11-12 07:46] abitrolly opened #1052 "Clean up snaps"
`snap` keeps at least one previous version of a package to revert. Cleaning previous versions saves some space until next refresh.

Right now I am doing this manually.
[code]

https://forum.snapcraft.io/t/keep-only-the-latest-version-of-specific-snap/7143/3?u=abitrolly

[2020-11-12 14:12] rados commented on #1038
@az0 I am not sure exactly but seems like the steps 1-5 performed by George are too much. With single uninstall command (from 'start menu' or 'add and remove programs') we should achieve the full removal of the application. Also, seems like in George's case he had updated to a new version but some old files remained and confused the app. This could be investigated further. What are your thoughts?

[2020-11-12 14:41] rados commented on #1040
Hey guys, I have a Windows machine so I could trace it.

[2020-11-12 15:15] rados commented on #565
@az0 I can take care of this one.