[2020-11-12 15:27] az0 commented on #1052
BleachBit can call external applications. See examples for Yum and APT

[2020-11-12 15:33] az0 commented on #1050
For troubleshooting, would you please also try these steps?

1. Delete or rename the folder `%appdata%\bleachbit` to reset its settings
2. Launch the [BleachBit debugging terminal](https://docs.bleachbit.org/doc/troubleshooting.html). (Alternatively, follow the steps to record the log, which you can attach here.)
3. If there is any interesting information in the terminal window that shows up, plea

[2020-11-12 15:36] az0 commented on #1051
Good information, ediowar.

This seems like a regression related to the FAT32 file limit.

[2020-11-13 01:31] abitrolly commented on #919
Waiting for @zensubz reply to decide how to move on with this issue.

[2020-11-13 02:04] zensubz commented on #919
@abitrolly the OS I have observed this issue is CentOS 7.8, and as such, the official repo does not provide a recent version of bleachbit. The 'Gdk-CRITICAL error' I have mentioned occurs only when I run bleachbit inside a chroot environment - for example, I make a remaster of CentOS using livecd-creator (which is python2 based), and run bleachbit (inside chroot) as an additional step just before

[2020-11-13 10:06] abitrolly commented on #919
We can use `docker` to test if BleachBit in CLI mode still tries to access GUI subsystem.

[2020-11-13 12:58] rados commented on #1040
@abitrolly, @az0

"BleachBit was installed into C:\myprograms\ without bleach subdir" - seems like this suggestion is valid.

I've just tested it and when I've installed the app in 'test\bleachbit' folder the removal was as expected - all objects in 'test' folder remained except the 'bleachbit' subfolder. Then I installed again the app but this time directly in 'test' folder (without 'bleachbit' s

[2020-11-13 15:36] az0 commented on #919
How about just disabling the GUI like this?

[code]

With latest Git revision and Ubuntu 20.04 I see this

[code]
It is normal for the GUI to be needed to clean system.clipboard, but I think that's the only option that requires it.

The original comment was about CLI mode inside chroot, so I modified the issue title to reflect this. In  other words, the function is fine, but we want to avoid an er

[2020-11-13 15:46] az0 commented on #1040
@rados

If it is not a large effort, how about both?

This is not a common problem, and because it is not caused by a bug, I removed the high priority label.  I will adjust the issue title to reflect the new understanding.

[2020-11-13 16:16] az0 commented on #1038
@rados

This seems uncommon and idiosyncratic, so I would close this issue and move on to other issues. If it turns out this is common and reproducible, then I would investigate it more.

[2020-11-13 16:16] #1038 closed

[2020-11-13 21:44] az0 commented on #1033
No response

[2020-11-13 21:44] #1033 closed

[2020-11-13 21:47] az0 commented on #1026
Before Windows 10, I checked the case of Internet Explorer. If I remember correctly, it had a process explorer.exe shared with the file browser. As long as the process was running, it could not be avoided. It was possible to terminate the process, clean the file, and restart the process. However, it seemed users may not appreciated this because it was invasive. It even closed the Windows task bar.

[2020-11-13 21:50] az0 commented on #1024
When cleaning is running, normally BleachBit scrolls, so the user can see every new line added to the log. You are asking to disable this feature?

[2020-11-13 21:51] az0 commented on #1011
Closing because of no response

[2020-11-13 21:51] #1011 closed

[2020-11-14 07:08] nico92GitHub commented on #1026
Hello!
Thank you for your information.

No, I don't have any suggestions. It's beyond my skills, I'm just a user.
The problem we are talking about is just an observation that I cannot control (due to the reboot) the result.

However, I use 2 other cleaning software, "PrivaZer" and "PrivacyEraser".
I also always have the "Yale" utility which tells me in real time the total free space for all my dis

[2020-11-14 12:15] indig0F10w opened #1053 "RunDLL when portable folder contains space"
The infamous error:
_RunDLL
There was a problem starting "Whatever path to BleachBit portable".
The specified module could not be found._

This error is NOT related to any specific Windows version and it is present since BleachBit v3 as I can see.

This error is directly related to BleachBit code which requires some DLL to be in exact path/folder as extracted folder name: "BleachBit-Portable". If

[2020-11-14 18:08] az0 commented on #1053
I will put this in the title to make it more clear.

You're welcome.

One issue per ticket, please.

[2020-11-14 18:47] indig0F10w commented on #1050
In screenshot you posted BleachBit uses 1,5% CPU. Your disk drive is at 100% usage because it is cleaning free disk space and this is drawing your system to a halt.

I translated the message at top which prompts you: "Clearing free disk space. About 7 minutes remaining."

Be careful on what you select for cleaning.

This is not an issue and should be closed.

[2020-11-14 18:50] indig0F10w opened #1054 "Option to change language"
Please make an option for users to be able to change language without having to manually delete language files.

Thanks again 👍

[2020-11-14 18:50] indig0F10w opened #1757 "Option to change language"
Please make an option for users to be able to change language without having to manually delete language files.

Thanks again 👍

[2020-11-14 21:18] abitrolly commented on #1050
Does BleachBit do free space operation in a separate process?

[2020-11-14 22:24] az0 commented on #1050
As of the current version, the only operation that uses a separate process
is the RAM cleaner for Linux. In a future release it could be useful to do
all the cleaning from a separate process.

On Sat, Nov 14, 2020, 2:18 PM Anatoli Babenia <notifications@github.com>
wrote:

[2020-11-15 13:35] maxhaz commented on #1040
Thank you all for the effort. Yes, it seems that it is what happened to me: I probably installed Bleachbit without creating a subfolder.

At least, if the installer could automatically propose to install in the subfolder even if the user change the default install path, that would help to avoid careless mistake like mine.

Then, deleting only installed files/folders would probably be the safest so

[2020-11-15 17:09] az0 commented on #241
Winapp2.ini uses this for Windows ShellBags

[2020-11-17 18:41] az0 commented on #1050
@indig0F10w
Thank you for pointing that out.

@dippybud400
Next time, uncheck under the "system" category for wiping free space. It can be extremely slow and resource intensive.

[2020-11-17 18:41] #1050 closed

[2020-11-18 20:00] topas-rec opened #1055 "Feature request: flatpack unused runtime removal"
I just analysed my disk and found that flatpak used a lot of space.
I found in an article that I can use `flatpak uninstall --unused` (no root) to remove unused runtimes. That brought back a lot of space.
Isn't that an effective and easy to implement method for bleachbit to bring back space?

[2020-11-19 08:47] sudipghimire533 commented on #1024
No i am not asking for feature disable
When BleachBit scroll the log, one cannot scroll in opposite direction(upward) to see the previous screen log

[2020-11-21 16:10] az0 commented on #1026
Yes, files marked for deletion are deleted on reboot. By then, the file size may grow or shrink, so the size that is actually deleted may differ from the initial report. In rare cases, the file might have been deleted after the report but before a reboot, but it will still try to delete it again during the reboot.

My understanding is we cleared up how this all works, so I will close the ticket

[2020-11-21 16:10] #1026 closed

[2020-11-21 17:48] az0 commented on #1054
I will move to wishlist repository

[2020-11-22 22:59] rados commented on #565
@JLuke2600, @az0
Hey guys, what I've found till now is that if I have a non ascii symbol in my bookmarks I receive this trace back while deleting history and this prevents the deletion of the download history. In Special.py-> get_chrome_bookmark_urls we have "with open(path, 'r') as f:" in version 4.0.0 tag but in the current code it is fixed like "with open(path, 'r', encoding='utf-8') as f:". So

[2020-11-24 22:04] madjoe opened #1056 "Custom geometry on startup doesn't play well with Tiling Window Managers"
I use tiling window manager on my Manjaro KDE and I would expect BleachBit window to open as tiled, but unfortunately it seems that BleachBit uses its own, custom geometry on startup. I just completed a lengthy conversation with the developer of the tiling window manager and the conclusion is that this particular feature in BleachBit is simply on the way when used with tiling managers and should b

[2020-11-27 00:29] rados commented on #676
@az0 I could reproduce it and can investigate further.

[2020-11-27 01:27] huastone2018 commented on #919
uncomment in  (it is alread uncomment when i to check, not modified by me, os is ubuntu 18.4.5 LTS), but it doesn't work. see below:

#AllowAgentForwarding yes
#AllowTcpForwarding yes
#GatewayPorts no
X11Forwarding yes
#X11DisplayOffset 10
#X11UseLocalhost yes

[2020-11-27 16:31] Sparxva opened #1057 "Ubuntu 20.04 installation reports syntax error in line 260"
Yesterday I installed bleachbit in Ubuntu 20.04 and noticed a syntax error reported in the python code.  Rather than include all of the text which passed by normally I will include only the relevant part:

Setting up bleachbit (3.9.0-1) ...
/usr/share/bleachbit/bleachbit/__init__.py:260: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if msgctxt **is not** None and msgctxt **is not**

[2020-11-27 17:11] az0 commented on #1057
This looks like the issue #902 fixed in April. The BleachBit version in the Ubuntu repository is often old because of Ubuntu's "no rolling release" policy: they don't update BleachBit except for new versions of Ubuntu, so I provide new packages on the bleachbit.org site. Please update to the latest version [4.1.1 beta](https://www.bleachbit.org/news/bleachbit-411-beta).

[2020-11-27 17:11] #1057 closed

[2020-11-27 20:36] Sparxva commented on #1057
Sorry, I did search first, but when I searched I think the search was
restricted to open issues and it did not come up.

Thanks, Mike

On Fri, Nov 27, 2020 at 12:11 PM Andrew Ziem <notifications@github.com>
wrote:

[2020-11-27 21:46] az0 commented on #1056
Since BleachBit version 3.0, it remembers its position. How about you move it to your favorite position, and then it will remember it?

[2020-11-27 23:27] Ivan75 opened #1058 "Error in 4.1.1.1770 when cleaning Firefox bookmarks"
The same amount of deleted data with the same error shown multiple times, shown on the first SS

The second SS shows the results after restarting the system.

![Screenshot (27)](https://user-images.githubusercontent.com/39677610/100488760-6f364f00-3110-11eb-953f-c11a0de9fd31.png)
![Screenshot (28)](https://user-images.githubusercontent.com/39677610/100488765-75c4c680-3110-11eb-9acc-5a677b3ea208.pn

[2020-11-28 10:40] madjoe commented on #1056
How would you explain this:

I just opened my BleachBit 4.0.0 exactly 12 consecutive times: 7 times it opened in position displayed on the left as shown above and 5 times it opened in position displayed on the right as shown above.

What could cause such inconsistency?

[2020-11-29 16:48] az0 commented on #1056
The tiling window manager. What if you repeat the experiment with a standard window manager?

[2020-11-29 18:59] madjoe commented on #1056
I just tried it with a new account (not using that tiling manager) and the position is always remembered in every geometry combination I tried: maximized, normal mode, by sticking it to each edge of my screen...

Does this definitely mean that the issue must be caused by the tiling manager?

[2020-11-30 01:08] sperglord8008s opened #1059 "BleachBit-4.1.1.1770 Beta Error: firefox.url_history"
**Log of print out**

Error: firefox.url_history: Function: Clean file: C:\Users\Usern\AppData\Roaming\Mozilla\Firefox\Profiles\bmso88xa.default-release-1587222501240\favicons.sqlite
Traceback (most recent call last):
  File "bleachbit\FileUtilities.pyo", line 440, in execute_sqlite3
sqlite3.OperationalError: unrecognized token: "'javascript:(function(){l=[].map.call(document.querySelectorAll("spa

[2020-11-30 01:22] Marvin0401 commented on #1051
Yes, it seems like a regression related to the FAT32 file limit. Let me fix it soon.

[2020-11-30 01:24] Marvin0401 commented on #1035
Target OS is windows server 2012 r2?

[2020-11-30 10:35] rados commented on #1058
@Ivan75 May I ask you to test something, just delete your tubecast bookmark manually and try again to run Bleachbit app. 'javascript:location.href="tubecast:link="+location.href;'

Thanks.

[2020-11-30 16:05] az0 commented on #1059
@rados
@rados
This is another issue like https://github.com/bleachbit/bleachbit/issues/1058

@sperglord8008s
Good bug report

It looks like you have a JavaScript bookmark for YouTube. For testing purposes, would you please delete the bookmark and clean Firefox - URL History? Does deleting the bookmark make the error go away?

[2020-11-30 19:01] madjoe commented on #1056
The `remember geometry feature` should be optional in order to resolve this issue.
Therefore could we turn this thread into a feature request?

[2020-11-30 21:01] Ivan75 commented on #1058
@rados

Thanks, I did it, it helped with firefox but some errors remained.

[2020-12-07 18:12] alih252 opened #1063 "Bleachbit not displaying properly"
In the last couple of days, the programme is not displaying correctly - I re-installed the latest version, but it made no difference.
I have attached a screen shot - trust it can be sorted.
Thanks

Alistair Hall
![Screenshot 2020-12-07-bleachbit](https://user-images.githubusercontent.com/75635900/101388357-bca48000-38b7-11eb-904e-ad9e3e9819d5.png)

[2020-12-07 19:30] abitrolly commented on #1063
I see the fonts problem here. I am unable to give any advice for Windows, but if you paste the output of `bleachbit --sysinfo` here, it will help others to see what might be wrong.

[2020-12-07 19:47] alih252 commented on #1063
Hi Abitrolly
Where do I get the output from?

[2020-12-07 20:05] az0 commented on #1063
This looks like the same issue as
https://github.com/bleachbit/bleachbit/issues/967

For a fix please try version 4.1.1 beta
https://www.bleachbit.org/news/bleachbit-411-beta . This is currently the
latest release.

Andrew

On Mon, Dec 7, 2020 at 12:48 PM alih252 <notifications@github.com> wrote:

[2020-12-07 20:52] alih252 commented on #1063
Hi Andrew

Thanks for that – I have installed the beta, and it’s back to normal.

Regards

Alistair Hall

Sent from Mail for Windows 10

From: Andrew Ziem
Sent: 07 December 2020 20:05
To: bleachbit/bleachbit
Cc: alih252; Author
Subject: Re: [bleachbit/bleachbit] Bleachbit not displaying properly (#1063)

This looks like the same issue as
https://github.com/bleachbit/bleachbit/issues/967

For a fix

[2020-12-08 02:40] #1044 closed

[2020-12-08 03:57] CyberPunkInterface opened #1064 "Won't Delete After after Running Windows 10 Debloat Scripts"
**BleachBit Won't Delete Windows Explorer List**
After running Windows 10 Debloat scripts BleachBit Won't delete/clean Windows Explorer List.
-Most recently used
-Recent documents list
-Run
-Search history
-Shellbags
-Thumbnails

This happened ever since I have ran The Windows 10 De bloat Scripts, certain Windows things mainly the Windows explorer list wont get deleted/cleaned. I don't think I had

[2020-12-08 11:01] #1063 closed

[2020-12-08 16:25] Marvin0401 commented on #1051
Hi ediowar, I've fixed this issue. Could you test with this fork "https://github.com/Marvin0401/bleachbit.git"? If you need to get help from me about this issue, please feel free to let me know. Thanks

[2020-12-08 16:26] Marvin0401 commented on #1035
Hi David,

[2020-12-08 16:28] Marvin0401 commented on #1035
I've fixed this issue. Could you test with this fork "https://github.com/Marvin0401/bleachbit.git"? Please let me know if you still have this issue. I would love to fix it. Thanks

[2020-12-08 16:43] Marvin0401 commented on #1043
Hi Andrew, Let me fix this issue. Are you okay?

[2020-12-08 16:44] Marvin0401 commented on #1053
Hi Andrew, Let me fix this issue. Ok?

[2020-12-08 16:48] Marvin0401 commented on #993
Is this issue resolved? If not, let me work on this one.

[2020-12-08 16:54] Marvin0401 commented on #962
Let me work on this issue if we have still this one.

[2020-12-08 16:59] Marvin0401 commented on #893
Let me check this issue.

[2020-12-08 17:09] Marvin0401 commented on #848
Let me try on this.

[2020-12-08 22:54] ediowar commented on #1043
@Marvin0401 https://github.com/Marvin0401/bleachbit/commit/6c60e606dd2bc233f4e780d802a2628b1978400f
[code]
![Peek 2020-12-09 01-22](https://user-images.githubusercontent.com/44164186/101549305-7d148b80-39be-11eb-9c91-ddc9773e61ce.gif)
![Screenshot from 2020-12-09 01-47-40](https://user-images.githubusercontent.com/44164186/101550679-ce257f00-39c0-11eb-9539-69d53e69c454.png)
When exiting Bleachbit,

[2020-12-08 22:55] ediowar commented on #1051
@Marvin0401 For testing on Windows, I need a portable version.

[2020-12-08 22:56] ediowar commented on #1051
@Marvin0401 for testing on Windows, I need a portable version.

[2020-12-08 22:57] ediowar commented on #1051
@Marvin0401, for testing on Windows, I need a portable version.

[2020-12-09 06:33] az0 commented on #1051
@MarvinQC
Submit a PR, and AppVeyor will automatically build and publish binaries for
users to test.

On Tue, Dec 8, 2020 at 9:25 AM MarvinQC <notifications@github.com> wrote:

[2020-12-09 08:48] abitrolly commented on #1043
https://docs.python.org/2/library/stdtypes.html#file.truncate says that `The current file position is not changed.`. I would try replacing this line.

https://github.com/bleachbit/bleachbit/blob/master/bleachbit/FileUtilities.py#L680
[code]

On Linux it is also also possible to run `strace bleachbit` to what is really going on.

[2020-12-10 00:58] az0 commented on #1035
@Marvin0401
Please submit a bug-specific PR, so AppVeyor builds a binary. This makes it easier for users to test.

[2020-12-10 03:41] az0 commented on #1059
@sperglord8008s

Ideally you could run two tests now

1. (same as my last comment) Using build 1770 that you already have, remove the JavaScript bookmark for YouTube, clean Firefox - URL History, and the `OperationalError` message should disappear.

2. Put the YouTube JavaScript bookmark back. Install [build 1778](https://ci.appveyor.com/project/az0/bleachbit/builds/36702913/artifacts), and clean

[2020-12-10 03:42] az0 commented on #1058
@Ivan75

Thanks for running that test. The new error seems unrelated to the Firefox bookmark problem, so let's consider that a separate issue/ticket.

Would you please run another test? Add the YouTube JavaScript bookmark that you removed earlier. Install [build 1778](https://ci.appveyor.com/project/az0/bleachbit/builds/36702913/artifacts), and clean Firefox -  URL History. The `OperationalError`

[2020-12-10 09:21] Ivan75 commented on #1058
Thanks for replying, I can't make another test for the next few days, my PC is in repair.
Ivan

On Dec 10, 2020, 4:42 AM, at 4:42 AM, Andrew Ziem <notifications@github.com> wrote:

[2020-12-12 01:42] #1058 closed

[2020-12-12 01:42] #1059 closed

[2020-12-12 01:45] az0 commented on #999
MaxSecure reports "undetected" so this is resolved

[2020-12-12 01:45] #999 closed

[2020-12-12 01:47] az0 commented on #998
BleachBit-4.1.0.1723-setup.exe: VirusTotal reports 0 detections

portable: Jiangmin reports Trojan.MSIL.qhua . Vendor is unresponsive, and the problem is on their end.

[2020-12-12 01:47] #998 closed

[2020-12-13 19:50] useribs opened #1066 "Error generating chaff decoy"
**Error message when trying to make chaff with following options**
![image](https://user-images.githubusercontent.com/16052461/102021974-cf75f380-3d94-11eb-8198-755d3ca19e6a.png)

Steps: make config, error appears after pressing OK to download "chaff data" thingie. Changing destination folder options, delete/do not delete options etc does not affect the error.

`
Traceback (most recent call last):

[2020-12-14 22:22] abitrolly opened #1067 ".desktop files with missing entries are not detected"
I've got this error in the output of my `journalctl -b 0`.
[code]
BleachBit system cleaner is unable to find that shortcut, because `env` exists.
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Create `/home/anatoli/.config/autostart/keybase_autostart.desktop` with the content above
2. Select System > Broken desktop files
3. Run Preview
4. See that the file is not detected

**Desktop (

[2020-12-14 22:32] abitrolly commented on #1067
The relevant code is here.

https://github.com/bleachbit/bleachbit/blob/e5076cf63ef0535fa4d629565580d6a08710c15f/bleachbit/Unix.py#L408

[2020-12-15 13:36] Marvin0401 commented on #1051
@ediowar , Sorry for late response. Please check it with this PR.
[BleachBit-4.1.1-portable-20201215-Marvin.zip](https://github.com/bleachbit/bleachbit/files/5696220/BleachBit-4.1.1-portable-20201215-Marvin.zip)

[2020-12-15 13:37] Marvin0401 commented on #1051
@az0 , AppVeyor is working well for building, but I've got failed to deploy S3 due to access_key_id.

[2020-12-15 14:01] Marvin0401 commented on #1035
Please check with this PR. I will wait for your feedback.
[BleachBit-4.1.1-portable-20201215-Marvin.zip](https://github.com/bleachbit/bleachbit/files/5696253/BleachBit-4.1.1-portable-20201215-Marvin.zip)

[2020-12-16 17:05] Woundorf commented on #1013
I have the same issue with Windows 10 20H2. Antivirus is the default Windows Defender included in W10; disabling it doesn't solve the problem.

The folder `%appdata%\bleachbit\cleaners` does not exist but I tried deleting file `bleachbit.ini` in `%appdata%\bleachbit` instead. It's recreated when launching BleachBit again but the problem persists.

With the above file deleted, `bleachbit_console.ex

[2020-12-16 19:23] Woundorf commented on #1013
Update: after leaving it running for some long time (I left the computer alone for more than 2 hours) I see it has finally opened.

[2020-12-16 23:26] az0 commented on #1051
@Marvin0401

I suppose it's building in your own AppVeyor account. Normally when a developer submits a PR to this repository (bleachbit/bleachbit), it builds in the [same AppVeyor account](https://ci.appveyor.com/project/az0/bleachbit/history). In other words, there is not a need for each developer to have his own AppVeyor account.

I think you are trying to push to my bucket using `bleachbitci` y

[2020-12-16 23:33] az0 commented on #1066
Based on initial evaluation, this is good detail for a bug report, and the problem looks like an error related to setting up the downloading process.

@useribs
Which antivirus/security software is on this system?

[2020-12-16 23:36] az0 commented on #1058
@Ivan75
I'm just following up. Did you get your PC back? I hope it's better :)

[2020-12-16 23:38] az0 commented on #1005
The fix released was released in [BleachBit 4.1.1 beta](https://www.bleachbit.org/news/bleachbit-411-beta) with deb installer packages

[2020-12-16 23:41] az0 commented on #1015
Not at this time.

[2020-12-16 23:43] az0 commented on #1022
Thanks for your patience, as I catch up with my email inbox.

"Explorer MRU Extras" comes from Winapp2.ini (a separate project), so please submit this request through their repository here:https://github.com/MoscaDotTo/Winapp2

[2020-12-16 23:43] #1022 closed

[2020-12-16 23:46] az0 commented on #996
It is possible to disable swap only if there is enough RAM to hold 100% the allocated memory. In the screenshot, 3.5 GiB+1.8GiB was allocated, but that wouldn't fit into the 3.7 GiB of RAM installed. Another option is to close memory-hungry programs---maybe Google Chrome.

[2020-12-16 23:54] az0 commented on #1021
@hendrst
Would you kindly also test [BleachBit 4.1.1 beta](https://www.bleachbit.org/news/bleachbit-411-beta)?

[2020-12-17 00:53] anonymous1184 commented on #1015
Hopefully it get implemented sometime in a near future as this is somewhat annoying. Thanks a lot.

[2020-12-17 03:53] useribs commented on #1066
None

[2020-12-17 15:56] hendrst commented on #1021
Still getting that error.   FWIW, I tried to delete them manually as Admin, but they wouldn't budge.

![BleachBitError20201217](https://user-images.githubusercontent.com/59543508/102510906-6668d700-4045-11eb-83e6-a8b9de01e44d.JPG)

[2020-12-17 20:17] rados commented on #676
@az0
My research till now points that we can call "fc-cache.exe" from the installer and this way generate the font cache during installation. I tried it manually and it works. But if the user deletes the cache somehow then on the first run after the deletion the Bleachbit app will re-create the cache and wait as it does currently. But this should be a rare case. If we want to handle it than we can

[2020-12-17 23:20] gitthepie commented on #1013
The computer in question is using Comodo Antivirus. I will disable it and try again and report back. Meanwhile, should I also attempt the "troubleshooting" steps or were those steps only intended for Samuelms79?

[2020-12-18 17:13] rados commented on #1013
@az0
Hey guys I can help with this one. I have development environment under Windows 10 and can try to reproduce this. At the moment Bleachbit app works fine on my machine, both from source and from the installation. I don't have external anti-virus software, I use the embedded "Virus and Threat protection" software which includes Windows Defender as far as I know. My Windows 10 version is 20H2. A

[2020-12-18 17:18] az0 commented on #676
@rados
I like the idea of calling it from the NSIS installer. Can you execute it after the end of the "core" section? Do you need to check for whether the cache already exists to avoid re-building it, when run a second time?

[2020-12-18 17:48] rados commented on #799
@az0
Hey guys I can trace this further.

@saiballo @ediowar @mkhon
For now could you try latest version of the application and check if the problem persists?

Looks like ubuntu-mono-dark displays the clean icon on my machine (attached).

![image](https://user-images.githubusercontent.com/332322/102644701-ee480180-4169-11eb-8941-27c803da88fb.png)

[2020-12-18 17:52] rados commented on #844
@az0
I can finish this one.

[2020-12-18 18:08] saiballo commented on #799
now i can see the icon! version 3.9.0

![aaaa](https://user-images.githubusercontent.com/3473910/102646466-5eec1f80-4164-11eb-8561-eafde964e884.png)

[2020-12-18 20:34] yuannan opened #1069 "Whitelist folders are still searched"
**Describe the bug**
whitelisted folders are still searched wasting time and electricity

**To Reproduce**
Steps to reproduce the behavior:
1. Add whitelist folder
2. Run
3. See that they are still searched

The error happens every time.

**Expected behavior**
Not search them as it's pointless

**Screenshots**
![image](https://user-images.githubusercontent.com/8006928/102658692-f73bd180-416f-11eb-

[2020-12-18 22:50] GiganteX opened #1070 "I got Swedish language"
I installed the latest version, downloaded 5 mins ago. Unchecked the "Translations" checkbox as I hate translations. But after installing, everything is in Swedish!

Yes, I AM Swedish, and I am IN Sweden, but that does in NO WAY imply that I want my software to talk Swedish to me. Unless I have selected Swedish specifically, do not assume and make the selection for me, please. That's rude.

Also,

[2020-12-19 12:21] Samuelms79 commented on #1013
This is exactly the problem. I tested this program in several situations:

* Different antivirus (Kaspersky Free, Windows Defender, Avira Free, Panda Free, Bitdefender Free).
* Basic and gamer PCs.
* Without antivirus software.
* Linux (Mint Mate, Mint Cinnamon, Fedora Workstation).
* Windows (7, 7 SP1, 10 1903, 10 1908 and 10 20h2).

Regardless of what I do, it always takes a while to start up, e

[2020-12-19 14:26] abitrolly commented on #1013
Might be some issue with font generation.

[2020-12-19 15:18] rados commented on #1013
Yes, this is what I suspect but on my machine it happens only on the very first run and the waiting time is less than a minute.

[2020-12-19 16:43] az0 commented on #1070
This looks like this other issue that was fixed: https://github.com/bleachbit/bleachbit/issues/770 . Try the fix in [BleachBit 4.1.1 beta](https://www.bleachbit.org/news/bleachbit-411-beta).

[2020-12-19 16:43] #1070 closed

[2020-12-19 16:44] az0 commented on #1070
By the way, an alternative to upgrading BleachBit is to delete the locale folder ([more detail here](https://github.com/bleachbit/bleachbit/issues/770#issuecomment-585548131)).

[2020-12-19 17:19] hmirakhur opened #1071 "bleachbit issue with version 4.0 and beta 4.1"
hi

i am facing the same issue in version 4.0.0 and the latest beta and the portable version also

i hav ebeen directly using v 4.0.0 from.past 2 months perfectly with winapp2.ini but from past 2 days everything is not working properly.

i have the somewhat getting same issue as in https://www.bleachbit.org/forum/error-while-trying-start

i tried usinstalling v4 via revo uninstaller then restart t

[2020-12-19 17:37] az0 commented on #1071
@hmirakhur
So your problem is that you get a pop-up window with the error message `See the logfile 'C:\Program Files (x86)\BleachBit\bleachbit.exe.log' for details`, correct?

[2020-12-19 17:42] abitrolly commented on #1013
Font caching time depends on installed fonts. https://snapcraft.io/blog/the-hunt-for-rogue-time-how-we-investigated-and-solved-the-chromium-snap-slow-startup-problem lists `google-noto` font family as a time bomb that adds 45 seconds to the caching.

[2020-12-19 17:43] abitrolly commented on #1013
A metrics about time used to build the fonts would be nice.

[2020-12-19 17:54] az0 commented on #1069
It requires more coding, and it's just an enhancement that hasn't been added it.

[2020-12-19 23:05] hmirakhur commented on #1071
system information through bleachbit

BleachBit version 4.0.0
Build number 1628
GTK version 3.18.9
GTK theme = Adwaita
GTK icon theme = Adwaita
GTK prefer dark theme = False
SQLite version 3.31.1
local_cleaners_dir = None
locale_dir = C:\Program Files (x86)\BleachBit\share\locale\
options_dir = C:\Users\Anil\AppData\Roaming\BleachBit
personal_cleaners_dir = C:\Users\Anil\AppData\Roaming\BleachBit\

[2020-12-19 23:54] hmirakhur commented on #1071
also attaching configuration files bleachbit.ini & winapp2.ini in zip
[BleachBit.zip](https://github.com/bleachbit/bleachbit/files/5720307/BleachBit.zip)

[2020-12-20 07:53] XhmikosR commented on #1013
I personally sort of can reproduce the issue if the Local AppData fontconfig folder does not exist or if the font cache needs to be updated; it takes like 10-15 sec the first time I run BleachBit. Subsequent runs are faster, like ~3 sec. But maybe that's also a lot since I'm using an M2 drive.

[2020-12-20 10:22] abitrolly commented on #1013
@XhmikosR what is the CPU, memory and disk usage during that process? I suspect that the bottleneck is CPU.

[2020-12-20 10:23] abitrolly commented on #1013
@rados do you know if the `fontconfig` regenerates cache data for all fonts it had found? Maybe is it possible to limit caching to actual fonts that we use?..

[2020-12-20 10:24] XhmikosR commented on #1013
i7 7700K at 4.5 GHz, not a bottleneck IMHO. Happens with newer processors
too.

On Sun, Dec 20, 2020, 12:22 Anatoli Babenia <notifications@github.com>
wrote:

[2020-12-20 10:27] abitrolly commented on #1013
@XhmikosR by bottleneck I mean that no matter which CPU is in use, it is 100% busy all these 15 seconds during BleachBit startup. If the bottleneck was in IO, then mem or M2 would be full with the CPU mostly idle.

[2020-12-20 10:30] XhmikosR commented on #1013
I don't see anything using a full core at 100%.

On Sun, Dec 20, 2020, 12:27 Anatoli Babenia <notifications@github.com>
wrote:

[2020-12-21 09:25] hmirakhur commented on #1071
@az0 any update !

[2020-12-21 09:36] abitrolly commented on #1071
Hi @hmirakhur. Are you concerned about the errors written in red on the screenshot? Because in initial description I see only reference to forum topic, where people complain that they can not start BleachBit at all. In your case the BleachBit it started successfully, but seems not doing what you want.

So what do you want to do?
What do you expect to happen?

[2020-12-21 09:45] abitrolly commented on #565
@rados are you saying that the latest version of BB successfully cleans Chrome Downloads history?

[2020-12-21 12:20] hmirakhur commented on #1071
@abitrolly i am concerned about the error because on the other laptop i have same set of software installed , somewhat both laptop have same specs, but on other laptop it is cleaning all the stuffs without any error, but in this particular laptop bleachbit is not cleaning anything and showing these red errors, even after uninstalling the issue persists, the issue even persists with portable versio

[2020-12-21 12:42] rados commented on #565
@abitrolly
With the latest source code - yes, just double checked it.

[2020-12-21 13:22] abitrolly commented on #565
https://github.com/bleachbit/bleachbit/pull/1062 fixed that for you. Let's @JLuke2600 finds the time to report with newer BleachBit. I don't have Windows to replicate the setup.

[2020-12-21 13:32] rados commented on #565
@abitrolly
You know, while tracing it some time ago I noticed that under my Ubuntu some strange things happened - on some of the tries the download history was cleaned, on some partially cleaned or not cleaned at all, but I didn't systematize those observations. You can check also if you have the time...

[2020-12-21 13:38] abitrolly commented on #565
@rados I bet that Linux users who care about privacy are not using Chrome. ) I can check with Chromium on Fedora if nobody responds in a few days, but that still won't be sufficient to close this ticket.

[2020-12-21 13:46] abitrolly commented on #1071
@hmirakhur it would help if you can copy paste these error message into issue description. Then people with similar problems will be able to find it and add more info. Python 3.4 that is being used is quite old, but the missing part here are very first three error messages in the log.

[2020-12-21 13:48] #1071 closed

[2020-12-21 14:41] abitrolly commented on #1071
Let's hope @hmirakhur had found the reason.

[2020-12-21 16:05] az0 commented on #676
In the screenshot BleachBit log shows

Which means "Access the application menu by clicking the logo on the title bar"

BleachBit progress bar shows

Which means "loading naive cleaners"

Task manager shows

Meaning "physical memory 83%"

Memory is mostly full but it does not seem like much paging

Earlier Tobias wrote

So I think Tobias's issue is that the process of loading native cleaners happe

[2020-12-21 16:09] az0 commented on #1071
The interesting error from the log in the screenshot was `ValueError timezone name gmt standard time not found`. It's strange this happens in `getsize()` when trying to find the size of a file.

I wonder whether the operating system or file system had a strange time zone.

In any case, the user's GitHub account was deleted, so we can't communicate anymore.

[2020-12-21 17:39] abitrolly commented on #962
Hi @Marvin0401. Did you manage to repeat the error?

[2020-12-21 17:47] Marvin0401 commented on #962
Hi, @abitrolly, I am testing it on several VMs to make this issue, but I did not reproduce it yet.

[2020-12-21 18:03] abitrolly commented on #962
@ediowar could you repeat the issue with cloned BleachBit in console? I've got the feeling that `bleachbit_console.exe` may hide the needed log outout.

[2020-12-21 18:48] rados opened #1072 "Improve startup time with solving fontconfig cache issues under Windows"
This is separate ticket about generating fontconfig cache causing app to be slow on startup. It is probably related with #1013.

Some guidelines:

1. Can the caching be avoided altogether because we need only certain fonts?
2. Are there cases where fc-cache fails to cache, so it tries to cache every time the application starts?
3. Can we give the user visual feedback that caching is in progress?
4

[2020-12-22 09:41] rados commented on #1013
@gitthepie @Woundorf @Samuelms79 @XhmikosR

Hey guys, I think I've found something. Could you try one simple change? In "Program Files (x86)\BleachBit\etc\fonts\fonts.conf" file just remove or comment out the line reading <dir>WINDOWSFONTDIR</dir> and reapeat your tests from beginning (you'll need admin rights). This change fixed the latency on my machine.

[2020-12-22 15:25] az0 commented on #565
I tested this with the latest Git revision (e5076cf63ef0535fa4d629565580d6a08710c15f), and it works fine on Ubuntu and Windows with Google Chrome 87. @JLuke2600  hasn't responded in a month, but it seems to be fixed based on the other info.

@rados @abitrolly thank you

[2020-12-22 15:25] #565 closed

[2020-12-22 15:28] az0 commented on #565
Fixed by PR https://github.com/bleachbit/bleachbit/pull/951

[2020-12-22 17:12] yuannan commented on #1069
Okay fair enough, I'll try and update it if I can could personally. I'm just not very experienced in python.
This is not just an enhancement, from what I can tell it spends CPU cycles on wasted searches when it can just ignore everything if it is in once of the folders. This is massively speed it up specifically in redundant setups like I have where more data is repeated than original.

[2020-12-22 17:35] az0 commented on #1069
I call it an enhancement because the function is correct (i.e., it does not deleted the whitelisted files), and it takes extra code to speed it up. Whatever it is called, I agree it's worth improving, but it generally ranks lower than fixing issues with functional changes because here the workaround is simply wait, while for other issues there may not be a workaround.

[2020-12-22 19:29] ediowar commented on #1051
@Marvin0401 Thank you. Checked it out. There is no issue.

[2020-12-22 19:44] ediowar commented on #962
What do you mean?

[2020-12-22 20:02] XhmikosR commented on #1013
It does speed things up but the UI is using the wrong font then.

[2020-12-22 20:16] rados commented on #1013
Yes, this is expected. If we all agree that this is a good direction I will adjust the font itself.

[2020-12-22 20:43] az0 commented on #1051
I'll reopen the issue until the code is merged into this repository.

@Marvin0401
Please file a PR with the commit(s) just for this issue. Thanks in advance

[2020-12-22 20:43] az0 commented on #1051
@ediowar
Thanks for testing :)

[2020-12-22 20:47] rados commented on #844
@az0
Reproduced it. In cb_run_option function we don't check for delete_confirmation property and call the confirmation dialog every time. Could it be intentional?

Also I've noticed another possible issue. When the app is running and I right click over a file in Explorer and execute the context menu command "shred with bleachbit" the Bleachbit main window come to front but never executes the shre

[2020-12-22 20:56] az0 commented on #844
No, it's not intentional, and the same problem is in `shred_paths`.

Good catch. Feel free to create a new issue ticket.

[2020-12-22 20:58] az0 commented on #1064
Do you mean https://christitus.com/debloat-windows-10-2020/ or https://github.com/Sycnex/Windows10Debloater or something else?

[2020-12-23 00:51] Marvin0401 commented on #1051
@ediowar, Thank you for testing. :)

[2020-12-23 00:52] Marvin0401 commented on #1051
@az0 , May I send pull request?

[2020-12-23 00:53] ediowar commented on #1051
https://github.com/bleachbit/bleachbit/issues/1051#issuecomment-749766403

[2020-12-23 10:28] abitrolly commented on #962
@ediowar yep, running from source code in `cmd`.

[2020-12-23 15:13] rados opened #1073 "On Windows context menu command not executed while the Bleachbit application is running"
When the app is running and I right click over a file in Explorer and execute the context menu command "shred with bleachbit" the Bleachbit main window come to front but never executes the shred command itself.

[2020-12-23 16:48] az0 commented on #1073
Related problem: user cannot select multiple files in Windows Explorer for use with "shred with BleachBit" context menu.

[2020-12-27 05:20] CyberPunkInterface commented on #1064
Its this one https://github.com/farag2/Windows-10-Sophia-Script that I used.

technically It is one on the  https://christitus.com/debloat-windows-10-2020/ page under Other GitHub Projects for Debloating Windows section.

[2020-12-27 21:36] allanromanreyes commented on #575
Still getting Error: system.memory: Function: Memory eroor when running Administrator cleaning on Raspberry Pi 4B 8GB:

error block:
Error: system.memory: Function: Memory
Traceback (most recent call last):
  File "/usr/share/bleachbit/Worker.py", line 87, in execute
    for ret in cmd.execute(self.really_delete):
  File "/usr/share/bleachbit/Command.py", line 145, in execute
    for func_ret in s

[2020-12-27 21:38] allanromanreyes commented on #600
Still getting Error: system.memory: Function: Memory eroor when running Administrator cleaning on Raspberry Pi 4B 8GB:

error block:
Error: system.memory: Function: Memory
Traceback (most recent call last):
File "/usr/share/bleachbit/Worker.py", line 87, in execute
for ret in cmd.execute(self.really_delete):
File "/usr/share/bleachbit/Command.py", line 145, in execute
for func_ret in self.func():

[2020-12-28 15:22] az0 commented on #575
@allanromanreyes

Your traceback `OverflowError: cannot fit 'int' into an index-sized integer` indicates there is a different kind of problem here. Please file a new issue ticket.

[2020-12-28 15:24] az0 commented on #600
@allanromanreyes

You posted your problem in two issue tickets, but neither issue ticket is about the same cause as yours. Please open a new issue ticket

https://github.com/bleachbit/bleachbit/issues/575#issuecomment-751748751

[2020-12-28 15:27] az0 commented on #1064
Tell me more about the malfunction. For example, does BleachBit give an error message? If so, what is is exactly? Or do you mean BleachBit finishes without an error, but the traces of Windows Explorer lists are left behind?

[2020-12-31 04:27] cgcgcgcgcg opened #1074 "Uninstalled apps are still present in BleachBit."
I installed several browsers to test (Arch Linux) and I now see Epiphany, SeaMonkey, and WaterFox in Bleachbit. They are all uninstalled.
Can I manually remove them?
For example, I checked everywhere for Epiphany traces and nothing is there, so somewhere in BleachBit there must be the solution.

System information:

`BleachBit` version 4.0.0
GTK version 3.24.24
GTK theme = oomox-k17
GTK icon theme

[2020-12-31 17:47] az0 commented on #1074
If you expect to not need any Epiphany files, try deleting its trace like this

`rm -rf ~/.gnome2/epiphany `~/.cache/epiphany-browser ~/.config/epiphany/ ~/.local/share/webkitgtk/localstorage`

Does this make Epiphany go away?

[2020-12-31 21:30] cgcgcgcgcg commented on #1074
Thank you, it was the ~/.local/share/webkitgtk/localstorage part that probably caused that.
That leaves SeaMonkey and WaterFox, but I'll probably use locate to find all possible traces.

[2020-12-31 21:48] cgcgcgcgcg commented on #1074
SeaMonkey trace (I'm possibly going blind) was in ~/.mozilla/ and WaterFox in ~/.waterfox.

[2020-12-31 21:48] #1074 closed

[2021-01-02 19:35] #969 closed

[2021-01-02 19:36] #1066 closed

[2021-01-02 23:16] az0 commented on #969
You can download the release here: [BleachBit 4.2.0 (final)](https://www.bleachbit.org/news/bleachbit-420)

@mkhon thank you :)

[2021-01-02 23:20] az0 commented on #1066
You can download the release here: [BleachBit 4.2.0 (final)](https://www.bleachbit.org/news/bleachbit-420)

@mkhon  Thank you! :)

[2021-01-04 00:54] muessli opened #1079 "Broken Link/Page not found on bleachbit.org/help"
The Link _guidelines_ does not work:
Does something seem broken? Report a bug in GitHub after reading the **[guidelines](https://github.com/bleachbit/bleachbit/blob/master/CONTRIBUTING.md)** please.

[2021-01-04 14:18] armbck opened #1080 "Trying to shred multiple files in Windows Explorer crashes BleachBit 4.2.0 (and 4.0.0)"
Hi! Thank you for BleachBit, it is a useful software. I've been waiting for a fix for this problem in version 4.2.0, but as it did not come I'll open this bug.

How to reproduce the crash:
1. Open Windows Explorer
2.  select two or more files with mouse
3.  open context menu with right mouse button and choose Shred with BleachBit
=> BleachBit starts the process but dies right away. The files are n

[2021-01-04 14:49] abitrolly commented on #1080
Without access to Windows machine I can not reproduce to see what happens. BleachBit should produce an error trace in this case, but I am not sure if it is written by default and how to turn it on for the Explorer menu.

[2021-01-05 03:33] TeslaMagic opened #1081 "BleachBit v4.2.0 Deleting Firefox Bookmark Icons"
BleachBit v4.2.0 is deleting Firefox bookmark icons (favicons). This did not occur with v4.0.0.

Using Linux Mint Cinnamon v18.3, v19.3 and v20.0 and Firefox v84.0.1 (from repository).

This can be prevented by unchecking URL history under Firefox section in BleachBit or deleting the following from the firefox.xml file in the usr/share/bleachbit/cleaners directory:

<action command="mozilla.favico

[2021-01-05 08:51] armbck commented on #1080
Thank you for your quick reply @abitrolly. You are right, I could not either figure a way to show debug messages for this case. I switched the "Show Debug Messages" option on and tried two ways. 1) BleachBit open -> nothing happened and no debug messages were shown 2) BleachBit closed - BleachBit tries to open, but closes immediately. Tell me if you find a way to debug without a development enviro

[2021-01-05 09:55] mo-moxi opened #1082 "Found an error in your 4.2 (delete_mozilla_favicons)"
BB reported:

Error: firefox.url_history: Function: Clean file: /home/mem/.mozilla/firefox/wv22741z.default-esr//favicons.sqlite
Traceback (most recent call last):
  File "/usr/share/bleachbit/Worker.py", line 87, in execute
    for ret in cmd.execute(self.really_delete):
  File "/usr/share/bleachbit/Command.py", line 160, in execute
    self.func(self.path)
  File "/usr/share/bleachbit/Special.py

[2021-01-05 13:12] abitrolly commented on #1080
The only instruction I could find it here https://docs.bleachbit.org/doc/troubleshooting.html but it is unlikely to help if BleachBit works normally without the Explorer menu. The instruction there tells to run this in command on console manually.
[code]
For the Explorer, however, there must be a way to find and modify the menu item. Maybe @az0 or somebody else know where the menu item is and what

[2021-01-05 13:15] abitrolly commented on #1082
Look related to https://github.com/bleachbit/bleachbit/pull/1062

CCing @rados

[2021-01-05 13:24] abitrolly commented on #1081
Looks like a second appearance of https://github.com/bleachbit/bleachbit/issues/1017

I will try to test it on Fedora later today.

[2021-01-05 14:24] rados commented on #1082
@abitrolly @az0, yes looks related. I am on it.

[2021-01-05 14:32] m0lz opened #1083 "Free Disk Space - Rename to Wipe Free Blocks"
Under "System"
The option "Free Disk Space", is noted as performing the following function ..

"Wiping free disk space erases remnants of files that were deleted without shredding. It does not free up space."

.. So it would be better named "Wipe Free Blocks"
And the description of the function would not need "It does not free up space." on the end.

Summary of request

Change "Free Disk Space" to

[2021-01-05 14:44] m0lz commented on #1083
Or maybe "Wipe Free Blocks" would be better?
(So that you make a distinction between the user thinking you mean to wipe the whole drive)

And then the Decsription of the function would read ..
"Wiping free blocks erases remnants of files that were deleted without shredding."

[2021-01-05 15:03] az0 commented on #1080
Selecting multiple files in the context menu for shredding does not work because of a limitation in Windows, though last I checked, there was not a crash. Here is an [old bug ticket from 2013](https://bugs.launchpad.net/bleachbit/+bug/1261252). See [this comment ](https://github.com/bleachbit/bleachbit/issues/726#issuecomment-561956636). Here is more background

For technical background, see this

[2021-01-05 15:12] az0 commented on #1079
@muessli

Good catch! It recently moved, so I updated the location, and I will run a link checker in case there are others.

[2021-01-05 16:58] mo-moxi opened #1084 "BleachBit 4.2 doesn't work in administrator mode on Debian 10 Wayland"
Thought you should know that Bleachbit 4.2 doesn't work in administrator mode on Debian 10 xWayland from the desktop icon and throw this error when run from the console:

root@asus:~# bleachbit
Unable to init server: Could not connect: Connection refused
Unable to init server: Could not connect: Connection refused

(bleachbit:11850): Gdk-CRITICAL **: 16:57:27.525: gdk_screen_get_root_window: asser

[2021-01-05 23:44] Saul-Goodnow opened #1085 "BleachBit 4.2.0 upgrade: Connection Error identified as Virus?"
Hello,
Just upgraded to BleachBit v. 4.2.0 on PC running Windows 10 Pro OS with McAfee Live Safe Anti-virus/Firewall.

- BleachBit version 4.2.0
- Build number 1795
- GTK version 3.18.9
- SQLite version 3.34.0

Opened BleachBit and received error message:
`Error when opening a network connection to check for updates. Please verify the network is working and that a firewall is not blocking this app

[2021-01-06 15:44] az0 commented on #1084
Looks like https://github.com/bleachbit/bleachbit/issues/1045 . Let's keep both open as we research, fix, and confirm the fix.

[2021-01-06 23:25] ballsar opened #1086 "BleachBit-4.2.0-setup.exe will not work in the context menu and installation blocked by WIndows Defender"
Installed BleachBit-4.2.0-setup.exe on Widows 10 Pro. It seemed to install correctly. I then tried to delete file using the context menu. BleachBit opened and immediately closed without the deleting file. I re-installed it and then Windows Defender blocked it. I had to override to get it to install again. Tried deleting from context menu and same reaction. When I say it opened and immediately clos

[2021-01-07 01:21] az0 commented on #1086
Have you tried version 4.2.0 by launching it normally using its shortcut? In other words, don't use the Windows shell integration to delete files in Explorer.

Also please try launching the [debugging terminal ](https://docs.bleachbit.org/doc/troubleshooting.html)which might have more information. If this needs more explanation, let me know.

[2021-01-07 05:47] terrycloth commented on #780
I just remembered this issue exists and is still open :stuck_out_tongue_closed_eyes:

I managed to figure out a shorter caption without sacrificing much information -- and while I was at it, updated the screenshot.

[2021-01-07 07:49] audreytoskin opened #1088 "v4.2.0 tarballs from Sourceforge and GitHub are not the same"
For BleachBit 4.2.0, the [Sourceforge tarball](https://sourceforge.net/projects/bleachbit/files/bleachbit/4.2.0/bleachbit-4.2.0.tar.gz/download) and [GitHub tarball](https://github.com/bleachbit/bleachbit/archive/v4.2.0.tar.gz) have different contents.

In particular, under the `doc/` directory, the Sourceforge version is missing `CODE_OF_CONDUCT.md` and `CONTRIBUTING.md`, although there might be

[2021-01-07 11:13] abitrolly commented on #1083
Wipe Free Space?

[2021-01-08 07:26] armbck commented on #1080
Thanks @az0 for your answer. Would [Factor Mystic's solution at Stackoverflow](https://stackoverflow.com/questions/1826791/how-to-pass-in-multiple-file-folder-paths-via-a-right-click-event-verb-to-an-e) be appropriate?

[2021-01-08 11:56] WPFilmmaker opened #1089 "Upgrading to 4.2.0 deletes bleachbit from app menu on Lubuntu 18.04"
**Describe the bug**
Upgrading to 4.2.0 deletes bleachbit from app menu on Lubuntu 18.04

**To Reproduce**
1 Open bleachbit
2 a popup warns you of a new version
3 follow the link and install the deb
4 bleachbit is not present in the menu (system tools-bleachbit) anymore

**Expected behavior**
That I can access bleachbit from the menu

**Desktop (please complete the following information):**
 - OS:

[2021-01-09 05:40] abitrolly commented on #390
I can take this one.

[2021-01-09 06:53] abitrolly commented on #1089
Lubuntu uses LXDE. If the package from the web site doesn't create shortcut, then what created it initially?

It is also strange that if the package doesn't know about the shortcut, it is still removed. Could it be that you've cleaned missing shortcuts after installing new version? Or maybe Lubuntu removes shortcuts that are no longer in use..

[2021-01-09 10:49] abitrolly commented on #942
@0pLuS0 can you try latest 4.2.0? And before installing it, notice the location of the icons file and if they are present there. Repeat the same with the locations after installing. And especially if the path is missing.

Icon menu path before install:
Is icon visible: yes/no
Is icon file present at the path above: yes/no

Icon menu path after install:
Is icon visible: yes/no
Is icon file present

[2021-01-09 14:35] WildByDesign opened #1090 "Microsoft Edge (running process cleaned) issue (4.2.0)"
**Describe the bug**
On the latest stable release, 4.2.0, a new cleaner was introduced for cleaning the Chromium-based version of Microsoft Edge. The new cleaner works great, but I just noticed one possibly urgent issue. The cleaner is causing BleachBit to forcefully clean Microsoft Edge while the process is actually running which could potentially cause corruption of the profile.

**To Reproduce*

[2021-01-09 21:40] #780 closed

[2021-01-09 21:44] az0 opened #1091 "eGambit false positive for 4.2.0 (digitally signed)"
BleachBit-4.2.0-setup.exe
https://www.virustotal.com/gui/file/85699e6d5c29d2e163e775eec060a34171066968561e665907a73346590e5345/detection

BleachBit-4.2.0-setup-English.exe
https://www.virustotal.com/gui/file/860aa1fe9bf955c09625c30fe3b9df1b36185680ffbda7b967c7c5b922cfac21/detection

Previous similar issue with 4.0.0
https://github.com/bleachbit/bleachbit/issues/873

[2021-01-09 21:49] az0 commented on #1091
The CAPTCHA on https://tehtris.com/en/false-positive-negative-requests/ is missing, so I reported the broken web form to america@t...com

[2021-01-09 21:54] az0 opened #1092 "BleachBit 4.2.0 _ssl.pyd has 6 false detections"
https://www.virustotal.com/gui/file/11c5b519f40d152c7bbd5f5a3e4a01c1813e514e0447f2e7ca944943b8e3f435/detection

Alibaba: Trojan:Win32/Generic.7f410364
Antiy-AVL: Trojan/Win32.Wacatac
eGambit: Unsafe.AI_Score_100%
MaxSecure: Trojan.Malware.7175203.susgen
McAfee: Artemis!68475FF55E4A
McAfee-GW-Edition: BehavesLike.Win32.Downloader.hc

[2021-01-09 21:57] az0 commented on #1085
@Saul-Goodnow
Kerrie, if downloaded BleachBit from the official site www.bleachbit.org and it it is digitally signed by [Andrew Ziem](https://docs.bleachbit.org/doc/install-on-windows.html), then you have the original file. I believe this is safe and good to use.

As @m0lz  pointed out,t he installer is clean, but when I submitted one file (shown in @Saul-Goodnow 's screenshot), it came back with

[2021-01-09 22:10] az0 commented on #1092
I submitted `_ssl.pyd` to McAfee for whitelisting via FTP and to Max Secure via [their web form](https://www.maxsecureantivirus.com/submit_aFalse_Positive.htm).

[2021-01-09 22:17] az0 commented on #1092
I reported to Alibaba at virustotal@list.alibaba-inc.com and to Antiy-AVL at submit@antiy.com

[2021-01-09 22:24] az0 commented on #1088
The tarballs on SourceForge  and download.bleachbit.org are the official versions. They are produced through the same process involving Python sdist, while GitHub automatically packages files directly from the repository. GitHub won't let me delete or modify these files. I prefer not to publish to a third place (GitHub), but for now I pushed the official LZMA tarball to GitHub.

So can you use jus

[2021-01-09 22:27] az0 commented on #1091
Hmm, it worked now. Web form responded

[2021-01-09 22:28] az0 commented on #1092
I reported to eGambit via web form at https://tehtris.com/en/false-positive-negative-requests/

Response

[2021-01-09 22:29] az0 commented on #1092
VirusTotal report was four days old. Now it's just these FPs

Alibaba: Trojan:Win32/Generic.7f410364
Antiy-AVL: Trojan/Win32.Wacatac
eGambit: Unsafe.AI_Score_100%
MaxSecure: Trojan.Malware.7175203.susge

[2021-01-09 22:32] az0 commented on #1085
@Saul-Goodnow

After noticing it was two days old, I refreshed the report for _ssl.pyd from VirusTotal, and now McAfee doesn't detect the false positive anymore, so please try again. Let em know how it goes

[2021-01-09 23:04] terrycloth commented on #1088
It doesn't really matter to me where the source archive comes from. It's just when I noticed that the discrepancy, I was confused about which source is more correct. I'm suddenly not sure, but I'd assumed that official source code releases and archives of the whole repository were generally the same.

...I suppose `doc/CONTRIBUTING.md` is (obviously) documentation about _contributing_ to, rather t

[2021-01-12 15:35] az0 commented on #1091
Resolved

[2021-01-12 15:35] #1091 closed

[2021-01-12 15:38] az0 commented on #1092
I got responses from McAfee and Tehtris (eGambit), and now we are down to three false positives

1. Alibaba
2. Antiy-AVL
3. MaxSecure

[2021-01-12 15:39] az0 commented on #1085
@Saul-Goodnow

McAfee responded that they whitelisted the _ssl.pyd file, and I confirmed it with a scan on VirusTotal. Please update your antivirus database, try again, and write a commend here to let me know how it goes.

[2021-01-13 12:23] rados commented on #1017
@Team-Sys May I ask you for one more test since I introduced a better fix for this a couple of days ago. You can try those builds here:
https://ci.bleachbit.org/?prefix=dl/4.2.0.1807-master/

[2021-01-13 12:30] rados commented on #1059
@sperglord8008s
I introduced a better fix for this a couple of days ago. You can check those builds if you would like:

https://ci.bleachbit.org/?prefix=dl/4.2.0.1807-master/

[2021-01-13 15:03] WPFilmmaker commented on #1089
@abitrolly good question, to be honest I have been using BleachBit for so long that I don't remember what created the entry in the menu, I think BleachBit did it. Surely it wasn't me because as I mentioned above creating such stuff never worked for me.

My interpretation is that prior to 4.2.0 the entry was correctly created and updated when updating to newer version. However something happened wi

[2021-01-13 17:53] abitrolly commented on #1089
Or the uninstall script correctly removed the shortcut, but the new package couldn't create it. I have no idea how LXDE manages application shortcuts. If removing BleachBit and installing it anew doesn't fix the problem, then the next step would be to ask LXDE people what BleachBit is doing wrong.

[2021-01-15 11:45] Marvin0401 commented on #1043
Hi @ediowar ,
I've fixed this issue. Could you please check it with this repository, Marvin0401@ae4375a?

[2021-01-15 11:47] Marvin0401 commented on #1043
In the case of FAT32 system in Ubuntu, only files smaller than 4GB can be managed. If the file size is more than 4GB, an EFBIG error occurs.

[2021-01-16 00:12] CyberPunkInterface commented on #1064
Yes BleachBit gives an error message. It says 544 errors. The List is long  don't think I want to post the whole thing, but most of it looks like this:

Traceback (most recent call last):
  File "C:\projects\bleachbit\bleachbit\Worker.py", line 87, in execute
  File "C:\projects\bleachbit\bleachbit\Command.py", line 82, in execute
  File "C:\projects\bleachbit\bleachbit\FileUtilities.py", line 350

[2021-01-16 15:27] ediowar commented on #1043
@Marvin0401 ,
[Terminal messages.txt](https://github.com/bleachbit/bleachbit/files/5824626/Terminal.messages.txt)

[2021-01-16 17:49] az0 commented on #1043
The expected behavior is that BleachBit quietly creates another 4GiB file without deleting the first file. This continues until the partition is full.

[2021-01-16 19:44] az0 commented on #1064
[BleachBit 4.2.0 ](https://www.bleachbit.org/news/bleachbit-420)has a fix for this "access is denied" error in WindowsWipe.py. Please upgrade, try again, and let me know how it goes.

[2021-01-16 20:12] az0 commented on #962
I can't reproduce with BleachBit 4.2.0 (final) on Windows 10.0.18362, but this might get fixed incidentally when https://github.com/bleachbit/bleachbit/issues/848 is fixed because it will likely update the embedded GTK framework.

@abitrolly
There's not an easy way for non-developers to run BleachBit from source on Windows. It's much easier on Linux.

@ediowar
If you're up for it, perhaps you coul

[2021-01-16 20:14] az0 commented on #1074
OK. In case you come across something similar, check the paths in the cleaner XML files. (That's how I found that path.)

Also, https://github.com/bleachbit/wishlist/issues/7 would help with this problem

[2021-01-17 02:51] cgcgcgcgcg commented on #1074
Thank you.

[2021-01-17 08:27] Marvin0401 commented on #1043
Yes, it is working now as you think. I meant a file size is smaller than 4GB

[2021-01-17 08:30] Marvin0401 commented on #1043
@ediowar ,
Could you please tell me the size of two files created at run time?
I hope to know the file system type of your disk. There is a get_filesystem_type function in my repository. Please let me know the return value of this function at your runtime. Thank you.

[2021-01-17 10:26] ediowar commented on #1043
@Marvin0401 ,
Two files are written but not deleted.:
File1 size 4.294.967.295 bytes
File2 size 3.728.764.928 bytes
After installing the psutil package, there is no error, vfat.
File1 size 4 294 901 760 bytes
Wrote 2 files and 8,023,736,320 bytes

[2021-01-17 10:47] ediowar commented on #1043
@Marvin0401 ,
Size of disk 8.040.480.768 bytes
Two files are written but not deleted.:
File1 size 4.294.967.295 bytes
File2 size 3.728.764.928 bytes
After installing the psutil package, there is no error.
File System:vfat
File1 size 4 294 901 760 bytes
Wrote 2 files and 8,023,736,320 bytes

[2021-01-17 10:49] Marvin0401 commented on #1043
Ok. Thank you. I've used psutil package to get the file system type. Thank you again.

[2021-01-17 14:25] ChooChooAl opened #1094 "Bleachbit install issues a syntax warning in python script."
Setting up bleachbit (3.9.0-1) ...
/usr/share/bleachbit/bleachbit/__init__.py:260: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if msgctxt is not None and msgctxt is not "":

Running command line install on Linux Mint Cinnamon 20.1 64bit.

[2021-01-17 16:28] abitrolly commented on #919
I can finally repeat that even with `-h` with latest code. Looking into what causes Gtk import.
[code]

[2021-01-17 16:32] abitrolly commented on #919
Interesting that unsetting `XAUTHORITY` and `DISPLAY` in user session has no effect. It only repeats in chroot.

[2021-01-17 17:44] abitrolly commented on #919
Another tricky thing about this bug. It doesn't manifest itself if `PyGObject` is not installed, like for example, in `virtualenv`.

[2021-01-17 17:52] abitrolly commented on #919
I am using `python-hunter` to trace call flow.
[code]
Now that I've reproduced the error in `virtualenv`, I just need to redirect the stderr to catch Gdk message together with the trace at that moment.

[2021-01-17 17:55] abitrolly commented on #919
Here we go.
[code]
[code]

[2021-01-17 19:59] abitrolly commented on #1094
Duplicate of #902 fixed by e5cc3263ad8038d1e274f67ba5071b027c59cca2.

Which version of BleachBit do you use?

[2021-01-17 21:00] ChooChooAl commented on #1094
It's in the comment,  bleachbit (3.9.0-1),  it's the latest version Mint cinnamon is giving out.
Seems the same info shown in #902.
It seems to work even with this hick-up on the install.

[2021-01-18 02:11] abitrolly commented on #1094
Missed that. Well, use a newer version from https://www.bleachbit.org/download

[2021-01-18 03:44] az0 commented on #1094
Ubuntu, Linux Mint, and other distributions often have outdated versions of BleachBit in their repositories, so please keep up to date using the link @abitrolly posted. (Thanks)

[2021-01-18 03:44] #1094 closed

[2021-01-18 03:48] CyberPunkInterface opened #1095 "BleachBit 4.2.0 SHA256sum don't match websites"
I downloaded BleachBit 4.2.0 for Windows and then checked the SHA256sum with the website.
the website says:

When checking I got 03fb4dcede9843a22f5c488de6124d80c0427d9a80c0f6e21466bd83c39ee360 SHA256

They don't match?
I didn't install because of this isssue.

[2021-01-18 07:47] pas-calc opened #1096 "run command="process" does not work on linux machine"
Using this command, the expected behavior is to run the command defined by "cmd" :
` <action command="process" cmd="dconf reset /org/x/editor/state/history-entry/history-search-for"/>`

see here for more details :
https://github.com/bleachbit/wishlist/issues/97#issuecomment-761847490

Bleachbit error message after invoking run cleaner in the gui:

    clean_operation('xed'), options = '['history']

[2021-01-18 07:53] abitrolly commented on #1096
@pas-calc

1. What happens if you execute the command manually?
2. How do you invoke BleachBit?

[2021-01-18 07:55] abitrolly commented on #1095
Because you are comparing wrong versions. :D You've downloaded 4.0.0

[2021-01-18 08:22] abitrolly commented on #919
The only usage of Gtk and Gdk API here are `Gtk.RecentManager` and `Gtk.Clipboard`.
[code]

[2021-01-18 08:39] abitrolly commented on #919
Regardless of if the code needs display or not, importing Gtk shows the error. Now looking into PyGObject.
[code]

[2021-01-18 09:25] abitrolly commented on #919
I opened an issue with upstream about how to suppress the "Unable to init server" message, or delay the initialization until it is needed - https://gitlab.gnome.org/GNOME/pygobject/-/issues/453 Looks like `RecentManager()` doesn't need this connection to work.
[code]

[2021-01-18 09:31] abitrolly commented on #919
The error comes from the line `initialized, argv = Gtk.init_check(sys.argv)` found in https://gitlab.gnome.org/GNOME/pygobject/-/blob/master/gi/overrides/Gtk.py

[code]
[code]

`PyGObject` does this `init_check` before returning `Gtk` object. There is quite an old issue about skipping the initialization - https://gitlab.gnome.org/GNOME/pygobject/-/issues/72

[2021-01-18 10:30] ediowar commented on #962
@az0 ,
32-bit Python 3.4.4
upgraded pip-20.3.3
![Python](https://user-images.githubusercontent.com/44164186/104903502-28870780-5991-11eb-92d5-ab6e187df15c.png)

[2021-01-18 13:05] thejoker3000 opened #1097 "Linux Delete incomplete error"
**Describe the bug**

The error happens everytime I try to delete the same folder:

Exception while running operation '_gui': ''utf-8' codec can't encode character '\udcf3' in position 146: surrogates not allowed'
Traceback (most recent call last):
  File "/usr/share/bleachbit/bleachbit/Worker.py", line 353, in run_operations
    for dummy in self.clean_operation(operation):
  File "/usr/share/ble

[2021-01-18 18:31] WhatHappenedNow opened #1098 "All programs stopped working after downloading new bleachbit version"
After updating bleachbit, I ran it with the same settings as usual - but this time all programs on my computer stopped working, the shortcuts remained but stopped working, it seemed that some of the program files were missing and even the uninstall files missing.  Bleachbit was the only one working for a few days - now that executive file is also missing.

I did not change any settings from what I

[2021-01-18 20:01] pas-calc commented on #1096
it works simply spoken. so the corresponding entry is delted from the "registry". and appropriately `echo $?` returns 0 (success)

by clicking the appropriate menu item (says "bleachbit") within the Desktop Environment MATE , then the BleachBit GUI opens and I press "clean" button (works the same when right-clicking on the individual cleaner and click run which applies the selected cleaner then )

[2021-01-18 21:42] CyberPunkInterface commented on #1095
I really need to need to not rush things!

[2021-01-18 21:42] #1095 closed

[2021-01-18 23:02] az0 commented on #1095
Besides the SHA256 checksums, another way to verify the integrity is to check the digital signature, and it should indicate the verified publisher is Andrew Ziem.

[2021-01-18 23:06] az0 commented on #1096
I think this happens because BleachBit launches the process with a minimal environment, and I can reproduce it outside of BleachBit like this.

First, this command works fine in GNOME terminal
`dconf reset /org/x/editor/state/history-entry/history-search-for`

But it fails with the same error after starting a shell with a clean environment variables (similar to what BleachBit does when launching t

[2021-01-18 23:07] az0 commented on #1096
Another solution would be to enhance CleanerML to have native support for dconf as an alternative to `command="process"`

[2021-01-18 23:13] az0 commented on #1098
The normal BleachBit options do not delete executables, applications, or uninstallers, and I don't see any changes in BleachBit version 4.2.0 ([release notes](https://www.bleachbit.org/news/bleachbit-420)) that would cause this.

Do you always use the clean button (the big button) on the toolbar? Or, do you ever use the "shred files" command which is available in several places? Those places are:

[2021-01-18 23:20] az0 commented on #1097
Did you install BleachBit from the Ubuntu repository or from https://www.bleachbit.org/ ?

Please open BleachBit, click the hamburger menu (three horizontal lines), click Diagnostic, and report the version number there

[2021-01-18 23:22] pas-calc commented on #1096
That would be very useful aswell since as I mentioned many privacy related stuff is written in the "Linux registry" (sorry for this  being actually not so correct)

On the other hand it would be nice to execute custom commands (mind the potential security risk !!) , this might be related to https://github.com/bleachbit/bleachbit/pull/871

How do you want to fix it? I am not so experienced and esti

[2021-01-18 23:24] az0 commented on #962
It looks like you are doing the right thing. What does it report if you run this?

`c:\python34\scripts\pip.exe -V`

[2021-01-18 23:25] az0 commented on #1096
Assuming both ways are straightforward (which I think they are), I am open to the idea of using this ticket to solve it both ways.

[2021-01-18 23:29] az0 commented on #919
@abitrolly
Thanks for troubleshooting and for filing the ticket

[2021-01-18 23:36] pas-calc commented on #1096
I am looking forward for it
 Good work! Keep it up!

[2021-01-18 23:39] az0 commented on #1080
@armbck
Yes, it would work, but it feels clunky. That answer was written in 2009, so I am hoping with Windows 10 there is a better way.

[2021-01-18 23:41] az0 commented on #1056
I don't have a different answer.

Sure. I will edit the title.

[2021-01-18 23:53] az0 commented on #1092
The same three FPs are there, and I haven't heard from these vendors, so I resubmitted Antiy using their instructions about PKI

[2021-01-19 05:23] WhatHappenedNow commented on #1098
Thank you for responding!  I always used the clean button on the toolbar, never "shred"...

[2021-01-19 09:31] ediowar commented on #962
@az0 ,
Same.

[2021-01-19 09:32] ediowar commented on #962
@az0 ,
The same as in the screenshot above.

[2021-01-19 09:54] abitrolly commented on #962
@ediowar the problem comes from `pip`. You need version before 19.2 (2019-07-22) for Python 3.4

https://pip.pypa.io/en/stable/news/#id319

[2021-01-19 10:02] ediowar commented on #962
@az0 ,
Then maybe you need to somehow change the line `'%PYTHON_HOME%/python.exe -m pip install --upgrade pip'` in  [appveyor.ym](https://github.com/bleachbit/bleachbit/blob/master/appveyor.yml) ?

[2021-01-19 10:19] madjoe commented on #1056
I need to send you an update reg. the Tiling Manager I used - in between it seems they successfully dealt with the tiling of the custom geometry windows which dismisses a need to apply optional custom geometry for Bleachbit.

[2021-01-19 12:39] thejoker3000 commented on #1097
I believe I installed it from ubuntu repo.
Diagnostic isn't working for me. Not opening but **About** shows version 3.9.0

[2021-01-21 03:47] az0 commented on #1092
Alibaba replied

Indeed, VirusTotal now reports two false positives. One is new

- Antiy-AVL: Trojan/Win32.Wacatac
- Malwarebytes: Malware.Heuristic.1003

No response from Antiy. I created a [report with Malwarebytes](https://forums.malwarebytes.com/topic/269524-false-positive-for-_sslpyd/)

[2021-01-21 11:24] ediowar commented on #962
@az0 ,
I ran BleachBit from source. The result is the same: there are no messages in the console. There are no errors in the Windows Event Viewer either. Can I close the issue? Moreover, Windows 8 is no longer supported.

[2021-01-21 14:13] ediowar commented on #962
@az0 ,
I ran BleachBit from source. The result is the same: there are no messages in the console. There are no errors in the Windows Event Viewer either. Maybe I should close issue? Moreover, Windows 8 is no longer supported.

[2021-01-22 12:10] LifeIsADeflatingVest opened #1099 "Chrome Code and Service Worker Cache not Removed"
**Describe the bug**
Selecting the option to clear the Chrome cache results in the Code and Service Worker Caches not being removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Select Google Chrome > Cache in the relevant option
2. Perform the cleaning process
3. Check on file explorer (C:\Users\[UserName]\AppData\Local\Google\Chrome\User Data\Default)
4. The caches are still there (on m

[2021-01-22 15:57] tapper82 commented on #631
This is the same on BleachBit 4.2.0 As a blind user this miens I can not use this application.

[2021-01-22 16:04] tapper82 commented on #719
This really needs sorting out. If a framework you are using is not accessible then you need to change how the application works. This is 2021 and to have a application that will not work with a screen reader is just not OK. If you are not shure how to fix it why don't you try and write a blog post asking for some help after all this application is open-source.

[2021-01-22 16:39] britechguy commented on #631
There have been a number of changes in NVDA, and major ones, since 2019.
The only way to confirm accessibility at this point, unless someone already
knows the answer, is to download a copy and try it.

I just did a quick test with the portable version of BleachBit 4.0.0, and
that's definitely not accessible.  Dead silence as you go through the UI.

On Fri, Jan 22, 2021 at 10:57 AM tapper82 <notifi

[2021-01-22 16:40] manuelcortez commented on #719
Hi,
As a Linux and windows blind user I can identify the issue. The problem is just that GTK has never worked in Windows with the accessibility stack provided by microsoft (from where the screen reading software available for the OS reads information) because ATK is only functional in Linux systems. In short, there should be a kind of compatibility layer between ATK and UIA or whatever is the name

[2021-01-22 21:26] abitrolly commented on #631
Are there any guidelines how to test accessibility for Gtk apps? NVDA is Windows only and I suspect that the company behind Windows is not helping in adopting Gtk to own platform.

[2021-01-22 21:37] abitrolly commented on #719
`bleachbit.py` works without GUI if invoked from command line with arguments.

Yet another variant is to raise the issue through humanitarian channel to raise the problem with Microsoft adding accessibility layer to Gtk for their platform. They are already platinum members of Linux Foundation https://www.linuxfoundation.org/en/join/members/ and if they really want to change their reputation, this

[2021-01-23 12:10] rados commented on #1080
@az0 @abitrolly
I've also found that context menu command in Windows Explorer doesn't work even for a single file in ver 4.2. It works in ver 4.0 though so I guess it is a kind of regression. I can trace it further.

[2021-01-24 23:16] thejoker3000 commented on #1097
![image](https://user-images.githubusercontent.com/53082621/105646864-87251780-5ea2-11eb-9277-c19f03cca528.png)

[2021-01-24 23:26] thejoker3000 commented on #1097
Ok, I believe it has something to do with:
[code]
If I go to the directory of **.config/vlc/** and manually remove vlc-qt-interface.conf, the error does not occur. Restarting VLC, closing it and retry, error appears again. So for some reason, it's detecting the file in the same folder more than once.

[2021-01-24 23:28] thejoker3000 commented on #1097
Also, I just realized that I installed bleachbit from snap software "store".

[2021-01-24 23:30] az0 commented on #1097
The VLC error was fixed in version 4.0.0 as mentioned here https://github.com/bleachbit/bleachbit/issues/740

The UTF-8 error was fixed in 4.2.0 as mentioned here https://github.com/bleachbit/bleachbit/issues/874

Please [upgrade to BleachBit 4.2.0](https://www.bleachbit.org/news/bleachbit-420)

[2021-01-24 23:31] az0 commented on #1097
Ubuntu has a "no rolling release" policy, so the version of BleachBit in the Ubuntu repository is typically old. Sometimes it's ancient.

[2021-01-24 23:32] thejoker3000 commented on #1097
so I just removed bleachbit from my computer from snap store and installed the .deb package from the website.
Still get an error:

`Exception while running operation 'system': ''utf-8' codec can't encode character '\udcf1' in position 148: surrogates not allowed'
Traceback (most recent call last):
  File "/usr/share/bleachbit/Worker.py", line 346, in run_operations
    for dummy in self.clean_oper

[2021-01-24 23:44] thejoker3000 commented on #1097
Ok, will close this now.
**Solution:**
- Remove bleachbit and config files from system
- Install the official package from bleachbit.org
- retry
- works
- good to go ;)

[2021-01-24 23:44] #1097 closed

[2021-01-24 23:58] az0 commented on #1099
I tested Google Chrome 87 and latest BleachBit (just after version 4.2.0) on Ubuntu 20.10. When I ask Google Chrome to delete cache, it deletes most of Code Cache (under ~/.cache/google-chrome) except the index files, but it doesn't touch Service Worker (under ~/.config/google-chrome). BleachBit deletes both, including the index files.

On Windows 10 with Google Chrome 88, I got the same results w

[2021-01-25 00:05] az0 commented on #1099
I commited a fix for the Code Cache on Windows. You can either replace your `c:\program files (x86)\bleachbit\share\cleaners\google_chrome.xml` file with the [latest file](https://github.com/bleachbit/bleachbit/blob/master/cleaners/google_chrome.xml), or you can download the whole application from the [CI site](https://ci.bleachbit.org/) as version 4.2.0.1814 or later.

[2021-01-25 00:15] az0 commented on #719
My ideal solution is for someone, such as Microsoft, to add accessibility support to Gtk on Windows as @abitrolly suggested, but this is beyond the scope of this project. There is an article on gtk.org from October 2020 with a summary of [major accessibility changes in GTK 4](https://blog.gtk.org/2020/10/21/accessibility-in-gtk-4/), but it does not mention Windows.

As Anatoli also pointed out, Bl

[2021-01-25 00:20] az0 commented on #962
@ediowar
Thanks for testing. Sure, I am OK to close the issue, but I would reopen it if it turned out to be a reproducible problem on Windows 10.

[2021-01-25 00:29] az0 commented on #1092
On January 20, I got a response from Malwarebytes

But toda, there are still two FPs: Antiy-AVL, Malwarebytes

[2021-01-25 06:40] LifeIsADeflatingVest commented on #1099
I can't reproduce the Service Worker part anymore either, so probably there was some error on my side. I'd consider this bug closed. Thanks for the updated chrome.xml

[2021-01-25 06:40] #1099 closed

[2021-01-25 13:53] soredake opened #1102 "Show and remove unavailable packages on ubuntu based distros"
**Describe the bug**
On ubuntu you can list and then remove (`apt remove`) unavailable packages using `ubuntu-security-status --unavailable` or `deborphan` command, i want similar functionality in bleachbit.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

The error happens (sometimes/every time).

**Expected behavior**
Hav

[2021-01-27 22:55] Saul-Goodnow commented on #1085
@az0 -- Thank you very much for your assistance.  BleachBit 4.2.0 is running flawlessly.  Best, Kerrie

[2021-01-27 22:55] #1085 closed

[2021-01-27 23:49] Carmina16 opened #1103 "Localisations cleaner and BSD"
The provided localizations cleaner is not compatible with *BSD systems, as they store localization data under `/usr/local` prefix, not `/usr` like Linux.

It does seem that `<localization>` element does not support variables, and cannot be modified to work on both.

Is there a way to make the localization cleaner to work on BSD?

[2021-01-28 10:51] abitrolly commented on #1103
@Carmina16 those localizations. Are they installed with packages? If is it so, how does it happen that they are not removed?

[2021-01-28 16:05] ediowar commented on #962
After upgrading the system to Windows 8.1, there is no issue for an administrator.

[2021-01-28 16:05] #962 closed

[2021-01-29 10:40] armbck commented on #1080
You are correct @abitrolly.
In 4.2.0 shredding with context menu does not work at all
In 4.0.0 it shreds one file even if multiple were selected
In 3.2.0 it amazingly works for multiple files.

@az0 would there be some code in 3.2.0 that could be used in the upcoming release to fix the issue?

[2021-01-29 20:54] NaderDroid commented on #119
Hi, I believe I was able to locate the package in brew before, but not anymore. Was it removed from brew or something going on with my machine?

[2021-01-29 20:55] rados commented on #1090
@az0
Just reproduced it. I can fix it.

[2021-01-30 15:33] rados commented on #1080
@az0
I can trace it on my Windows machine.

[2021-01-30 18:17] az0 commented on #1088
There are a few reasons for the difference. One is that the packaging process (involving Python sdist) was designed when GitHub was in its infancy and BleachBit was mostly hosted on SourcForge. Another is the sdist system does it "better", such as by producing an lzma archive that is smaller.

You're right it doesn't need to be packaged, so I just removed it. Thanks

[2021-01-30 18:17] #1088 closed

[2021-01-30 18:19] az0 commented on #982
OK, I'd like to start by creating a unit test that reproduces this and to avoid regressions.

[2021-01-30 18:20] az0 commented on #1016
No reply in 130 days

[2021-01-30 18:20] #1016 closed

[2021-01-30 18:22] az0 commented on #937
@Saibamen
Thank you for your patience. Would you please test with[ BleachBit version 4.2.0](https://www.bleachbit.org/news/bleachbit-420) (the latest stable release)? There were many bug fixes

[2021-01-30 18:22] az0 commented on #932
Closing because this seems like a question and there was no reply in ~250 days

[2021-01-30 18:22] #932 closed

[2021-01-30 18:23] az0 commented on #926
I am closing because this seems to be resolved

[2021-01-30 18:23] #926 closed

[2021-01-30 18:24] az0 commented on #905
I am closing because two people have a solution and there was no reply from @OlideG-William since my message in May (~250 days ago)

[2021-01-30 18:24] #905 closed

[2021-01-30 18:25] az0 commented on #945
I am closing because of no reply since my message 229 days ago

[2021-01-30 18:25] #945 closed

[2021-01-30 19:46] CyberPunkInterface opened #1105 "Missing Signatures for BleachBit 4.2.0"
There is no detached signatures for verification of the newest version of BleachBit(4.2.0)?

[2021-01-30 19:49] az0 commented on #941
When running the Windows installer, it should automatically trigger the uninstaller for the old version.

Yes, this debugging message was removed in version 4.2.0.

You are expecting the page labels (e.g., Preferences, General) to be [styled like buttons](https://developer.gnome.org/gtk3/stable/GtkButton.html)?

![GTK button](https://developer.gnome.org/gtk3/stable/button.png)

The official GTK do

[2021-01-30 19:50] az0 commented on #941
P.S., in the future please submit one issuer per ticket. This has one question and two issues. This helps manage issues better.

[2021-01-30 19:51] az0 commented on #917
In the future let's do an analysis of the technical effort to integrate with the Windows notification system

[2021-01-30 19:54] az0 commented on #870
@Gitoffthelawn

Sure, that's fine

On Google Chrome, the "amount" field allows me to type any numeric input. I tried 0.01 and 9999, and both worked. Which numbers did you try that didn't work?

There's also a separate [contribute page](https://bleachbit.org/contribute) with a Paypal button that opens a different form that might work better.

[2021-01-30 19:55] az0 commented on #820
I am closing because no response in 312 days. I don't see a major benefit of the 64-bit version, but it's worth revising after resolving this issue: https://github.com/bleachbit/bleachbit/issues/848

[2021-01-30 19:55] #820 closed

[2021-01-30 20:01] az0 commented on #1105
Good catch. I just [uploaded them](https://sourceforge.net/projects/bleachbit/files/bleachbit/4.2.0/detached_signatures/). In case you have a problem downloading, allow a little time for them to mirror across the download servers.

[2021-01-30 20:01] #1105 closed

[2021-01-30 20:12] #1090 closed

[2021-01-30 20:18] az0 commented on #1090
@WildByDesign

Good catch. Rados fixed it. Please try the fix by downloading [build 1819 or later from the CI site](https://ci.bleachbit.org/). Alternatively, you can download the [raw XML file](https://github.com/bleachbit/bleachbit/blob/a30811491b215bc451ed11d88c547f4cfe5702e4/cleaners/microsoft_edge.xml) and replace it with the one on your system under `c:\program files (x86)\bleachbit\share\cl

[2021-01-30 20:51] az0 commented on #1102
Ideally the preview and cleaning modes would list each package by name (as a separate line in the log).

[2021-01-30 20:56] az0 commented on #1092
There are still two FPs: Antiy-AVL, Malwarebytes. I am waiting for the vendors.

[2021-01-30 22:09] #844 closed

[2021-01-30 22:11] az0 commented on #844
The account of the user who reported this was deleted, so I can't ask him to test, but it's fixed now.

[2021-01-31 11:43] Gitoffthelawn commented on #870
@az0
Well, it's been over 8 months, so unfortunately I do not remember.  The last time I tried to download Bleachbit, it downloaded from FOSShub, so the process was a bit different.  BTW, it seems like bleachbit.org switches regularly between downloading from bleachbit.org and fosshub.com.  I hope you are doing this intentionally!  Out of curiosity, what's up?

I did find another error: In the "Wr

[2021-01-31 16:07] Bamajon1974 commented on #820
Thank you!

[2021-02-02 11:02] Saibamen commented on #937
@az0 This same error.
Tested with BB 4.2.0 release

[2021-02-03 03:52] Marvin0401 commented on #893
Hi @az0 , In my view, when we start it from the windows context menu (right click --- Shred with BleachBit), the following shell command would be executed.
 : "$INSTDIR\bleachbit.exe" --gui --no-uac --shred "file or folder path"

In this case, the app is set to quit automatically and I think it is a not bug. You can check it on the line 362 of the GUI.py file.
 :      if self._shred_paths:

[2021-02-03 04:12] Marvin0401 commented on #993
Hi @az0 ,

[2021-02-03 04:13] Marvin0401 commented on #993
Could you run this command again?
C:\temp>"c:\Program Files (x86)\BleachBit\bleachbit_console.exe" --no-uac --shred c:\temp\a.log

[2021-02-03 04:19] az0 commented on #937
@Saibamen
Thank you for checking, and I marked it to take a look at it for the next release.

[2021-02-03 05:00] Elaborendum opened #1108 "Context menu entry "Shred with Bleachbit" not localized"
**Describe the bug**
Even if Bleachbit's language isn't english, its entry in the Windows context menu is. Language chosen, spanish, appears to be complete according to LaunchPad.

**To Reproduce**
Steps to reproduce the behavior:
1. Change system language
2. Right click on any file
3. See error

**Expected behavior**
Localized context menu entry.

**Screenshots**
![image](https://user-images.gith

[2021-02-03 05:10] Elaborendum opened #1109 "Unlocalized and lengthy text when requesting to run as admin"
**Describe the bug**
When launching Bleachbit, it requests to run as admin and during this it presents itself as "BleachBit frees space and maintains privacy by quickly wiping files you don’t need and didn’t know you had. Supported applications include Firefox, Flash, Internet Explorer, Java, Opera, Safari, GNOME, and many others." regardless of system language. Launchpad says that it is fully loc

[2021-02-03 12:40] pas-calc opened #1111 "poor documentation on running and var"
**Issue**
Both `running` and `var` are not [documented in CleanerML](https://docs.bleachbit.org/cml/cleanerml.html) language.

**Example**
the cleaner `/usr/share/bleachbit/cleaners/thunderbird.xml` uses `var` (sets a variable) and `running` (checks that a process is currently not running = the program for which it is cleaned).

**Expected behavior**
- `var` is for variable setting (that can be ad

[2021-02-04 10:37] q1nt commented on #1073
I had the same problem after upgrading to 4.2.0 on Windows 10: clicking Shred with Bleachbit in the context menu resulted in the confirmation dialog briefly flashing followed by the program force quitting. Uninstalling and reverting to 4.0.0 fixed the problem

[2021-02-04 18:39] singingotter opened #1114 "files not deleted (permission denied) by Bleachbit [user], but undetected with Bleachbit as Admin"
Linux Mint 18.3 Bleachbit 4.2.0

Run BB as Admin, only a few hundred MB identified to delete.
How to delete  the GBs of junk files?
![Screenshot at 2021-02-04 13-13-11](https://user-images.githubusercontent.com/43887498/106939091-cd257b00-66ed-11eb-9606-97a4f359cc2c.png)
![Screenshot at 2021-02-04 13-14-51](https://user-images.githubusercontent.com/43887498/106939234-fcd48300-66ed-11eb-8bfa-f6765e

[2021-02-04 20:05] thejoker3000 commented on #893
erm, I actually think it would be best if we could see the GUI for if there are errors.

[2021-02-05 15:16] az0 commented on #1114
Do the screenshots above represent the preview and clean modes from the same session? Or is one a normal user account and the other the admin account?

In the session that has the errors, click the hamburger menu (three horizontal lines) and then click on diagnostics. Copy either all the lines or at least the lines that look like below. Then please paste them here.

[code]

Besides what may be the

[2021-02-05 20:04] singingotter commented on #1114
Thanks for the response.
The 2 screenshots are of the same non-admin session, preview and after
deleting. Running as Admin does not detect many junk files.
neither appamor or selinux are on the system. Unaware of any other security
apps.
Diagnostic output;
BleachBit version 4.2.0
Git revision d929e94
...
locale_dir = /usr/share/locale/
options_dir = /home/super/.config/bleachbit
personal_cleaners_

[2021-02-06 00:19] leminhson2398 opened #1115 "A Bug caused by a regex pattern (journald)"
**Describe the bug**
A bug about regular expression matching pattern, the code does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/bleachbit/bleachbit/blob/3a48c53d56545eb624997d6488365c829c0e33d8/bleachbit/Unix.py#L606
2. Take a look at the variable
[code]
3. This regex does not match any output line of ```subprocess.check_output```

The error happens (on

[2021-02-06 16:30] dashriprock007 opened #1116 "Shred with Bleachbit Option force closes before execution"
When I use the option to shred a file by right-clicking....using Windows 10 latest...It FC's unless I get lucky and click the delete button before it disappears.

I have uninstalled/reinstalled etc.

Anyone else?

[2021-02-06 17:28] az0 commented on #1086
I am closing because no reply in a month, but feel free to re-open this issue if the problem continues

[2021-02-06 17:28] #1086 closed

[2021-02-06 17:29] az0 commented on #1116
This seems like these issues

https://github.com/bleachbit/bleachbit/issues/893
https://github.com/bleachbit/bleachbit/issues/993
https://github.com/bleachbit/bleachbit/issues/1086

[2021-02-06 18:58] dashriprock007 commented on #1116
Yes....so this is a work in progress?

[2021-02-06 19:29] haggen88 commented on #1083
Prevent File Recovery

[2021-02-07 15:48] Carmina16 opened #1117 "Exception on FreeBSD"
https://github.com/bleachbit/bleachbit/blob/b630c7c055abf2126fe01e57aa631b4b8f58f666/bleachbit/Unix.py#L503-L507

Is this a MacOS code? In FreeBSD, `subprocess` returns a bytestring, and `re` cannot parse it. Probably a decoding step should be added somewhere?

[2021-02-08 08:36] abitrolly commented on #1117
@Carmina16 that looks like Python 2 code. Can you post the full trace to see the exception and if there was custom `run_ps()` passed?

[2021-02-08 09:15] Carmina16 commented on #1117
[code]

[2021-02-10 15:27] soredake commented on #1010
Would be nice if similar done to `apt autoremove` action.

[2021-02-11 05:24] az0 commented on #1116
@dashriprock007

Yes, a work in progress. Thank you for your patience

[2021-02-11 11:51] pas-calc opened #1118 "Cleaner.py : recently-used.xbel* , delete multiple files"
**Describe the bug**
Not all files are deleted

**To Reproduce**
In [`Cleaner.py`](https://github.com/bleachbit/bleachbit/blob/master/bleachbit/Cleaner.py) : only `recently-used.xbel` (in two different folders) is deleted.

**Expected behavior**
Delete all `~/.local/share/recently-used.xbel*`
([reference](https://github.com/mate-desktop/caja/issues/684#issuecomment-470964594))
Alternative: write c

[2021-02-11 15:29] 229love commented on #993
Hey I am having this issue after updating bleachbit If there is a soultion please be kind enough to point it out.

Thanks.

[2021-02-11 15:34] tapper82 commented on #719
Hi has any one found any more info out about this issue?

[2021-02-11 15:45] A3E3A opened #1119 "Bleachbit for Flathub?"
Hi just recently found out about Bleachbit and tried it out and was blown away by how good it is for system maintenance! I'm on Clear Linux was wondering if it could be submitted to Flatpak? It would be great to be able to use it in other distributions.

[https://github.com/flathub/flathub/wiki/App-Submission](url)
Thank you guys for your time and effort.

[2021-02-11 16:07] KoroushGhazi commented on #719
To the Bleachbit developers:

Guys, I fully understand that changing the underpinnings of a program to make it more compatible with Windows in particular can be a pain. But now is the perfect time to pursue this.

I've been a computer enthusiast for over 30 years, I used to run TweakGuides.com. Even though I'd heard of Bleachbit, I didn't realise it was a great replacement for the CCleaner, I thou

[2021-02-13 21:17] az0 commented on #1119
I'm glad you like BleachBit. Please see https://github.com/bleachbit/bleachbit/discussions/1123

[2021-02-13 21:17] #1119 closed

[2021-02-13 21:21] az0 commented on #1118
I have only the one file on my system, but your reference is helpful (e.g., [how the extra files can be created](https://github.com/mate-desktop/caja/issues/684#issuecomment-269809178)).

[2021-02-13 22:22] az0 commented on #719
I'd like to revisit this after releasing a fix for https://github.com/bleachbit/bleachbit/issues/848 . After that, a possible next steps are research and maybe a proof of concept with wxWidgets (wxPython). Based on some quick research, I noticed the documentation for[ accessibility in wxWidgets](https://www.wxwidgets.org/docs/tutorials/accessibility/) is dated 2003. If anyone is interested, anothe

[2021-02-13 23:39] az0 commented on #893
@Marvin0401

When launched by the Windows context menu ("shred with BleachBit"), the application is expected to close automatically after cleaning is done. Normally it works like this

1. User clicks "shred with BleachBit" from Windows context menu
2. BleachBit launches and shows a preview
3. It shows a confirmation dialog
4. User accepts the confirmation
5. BleachBit deletes the files
6. BleachBi

[2021-02-13 23:59] az0 commented on #893
In BleachBit 4.2.0 (official release), I found this traceback that explains part of the problem

[code]
So this has the same traceback as the issue https://github.com/bleachbit/bleachbit/issues/993

**Note to users who want a workaround**

1. Downgrading to BleachBit before 4.0.0 might help, but it's not recommended
2. You can drag and drop. However, the Windows security model does not allow a non

[2021-02-14 00:00] az0 commented on #993
With BleachBit 4.2.0 (final release), it works with console, but with GUI, it fails with KeyError

[code]

It worked in older versions of BleachBit (apparently before 4.0.0)

[2021-02-14 00:19] az0 opened #1124 "the `--shred --gui` command line is broken in new way"
BleachBit has a simple integration with Windows Explorer that launches it with --no-uac --shred-gui. After merging 3a65231d469a68a8cb2fdc7f60a90fbdf005d63f, I tested on Windows 10 build 1829 (from ci.bleachbit.org). Before this commit, it was broken in this simple way described in https://github.com/bleachbit/bleachbit/issues/893 . Since the commit, it's still broken but more complex. The window i

[2021-02-14 00:20] az0 commented on #993
See the workarounds here: https://github.com/bleachbit/bleachbit/issues/893#issuecomment-778695797

[2021-02-14 01:04] az0 opened #1125 "`[WinError 5] Access is denied` when cleaning Windows Defender - Backup Files"
User has **admin privileges**, and **overwriting files** is enabled.

Diagnostics window (excerpt)
[code]

Application log
[code]

Expected behavior: if file cannot be deleted now, mark it for deletion at reboot.

Ideally, we would have a unit test for this case.

[2021-02-14 01:19] az0 commented on #1035
Before testing Marvin's fix, I tried to reproduce the error on Windows 10 with BleachBit 4.2.0 (build 1829), but I couldn't reproduce it. Later I will try again.

[2021-02-14 01:58] Trueabdrahim opened #1126 "Scroll bar blocking selections. Ubuntu 20.04"
Scroll bar blocking selections. Ubuntu 20.04
![Screenshot from 2021-02-13 20-55-49](https://user-images.githubusercontent.com/79030674/107866357-eb058500-6e3d-11eb-8487-9f44eba0cf6b.png)

Cannot make selections. This occurs full screen or otherwise.

[2021-02-14 02:52] Marvin0401 commented on #993
Hi @az0 ,

[2021-02-14 02:54] Marvin0401 commented on #993
I've found the some issue for the architecture of running command with GUI before based on my checking and testing so I asked you to run the above command. I think I can fix this issue soon.

[2021-02-14 06:38] rados commented on #1124
@az0
I am working on the initial problem - the simple disappearing of the window without deleting the selected file when we execute 'Shred with Bleachbit' context menu command. It is related with #1080 also. I've found that it is a kind of regression introduced with 386afba0 and I decided to first write some tests around those changes and then to introduce a fix.

I'll trace why my fix for #844 (b

[2021-02-15 22:59] rados commented on #1124
@az0, I couldn't reproduce it. I've just checked out the merge commit (bdc04d0b), built the installer, installed from it and run your test command. My debug.log file is 3 KB and there are no duplications in it. Probably I am missing something...

[2021-02-16 15:45] rados commented on #1124
@az0, I've found something. With fixing #844 we started to show the 'confirm delete' dialog only when the respective property is checked and not showing it when the property is not checked. So, when we execute the context menu command and the property is not checked we don't show the dialog and this is why we are observing new behavior. So I suggest to check if this new behavior would still persis

[2021-02-17 20:20] gp1019 commented on #1013
Bleachbit (v. 4.2.0) isn't working for me on Windows 10. It's not a slow start, it just won't open or shred. Antivirus isn't blocking it. Hope this gets fixed soon. Unless if there is a way for me to resolve it. Has been happening since I updated.

[2021-02-18 03:55] az0 commented on #1013
@gp1019

Your issue sounds different, so I encourage you to open a [separate bug ticket](https://github.com/bleachbit/bleachbit/issues/new/choose) for better tracking and troubleshooting.

[2021-02-18 04:29] az0 commented on #1117
Yes, `is_running_darwin()` is for MacOS

[2021-02-18 04:31] az0 commented on #1126
I didn't notice this when I regularly used Ubuntu 20.04, and I don't see it now on Ubuntu 20.10. Do you have any non-default configuration regarding themes or display?

[2021-02-18 04:46] az0 commented on #1111
I documented the [running element and os attribute](https://github.com/bleachbit/docs/commit/246ed99f21fcb5c2e7a43b1c3407cbd6ea5068f7). The var element (multi-values variables) was already documented. From the page you referenced, see click on [variables](https://docs.bleachbit.org/cml/variables.html) and scroll down to the section called [multi-value variables](ulti-value-variables).

Better?

[2021-02-18 05:07] az0 commented on #1092
Malwarebytes: cleared up
Antiy-AVL: still Trojan/Win32.Wacatac, no response from vendor
MaxSecure: Trojan.Malware.7175203.susgen is back

[2021-02-18 11:17] pas-calc commented on #1111
Thanks, that's perfectly fine!
(even though the "multi-value variables" are explained in terms of examples , that should be understandable by means of inductive abstract thinking)

[2021-02-18 11:17] #1111 closed

[2021-02-20 20:44] az0 commented on #893
I am assigning this to @rados because has committed a change related to it.

[2021-02-20 20:44] az0 commented on #993
I am assigning this to @rados because has committed a change related to it.

[2021-02-20 21:24] gp1019 opened #1127 "Bleachbit (v4.2.0) not Opening or Shredding on Windows 10"
**Describe the bug**
Attempted to open Bleachbit but there is no popup, and no sign of it working in the background processes or currently running apps in Task Manager. The shredding feature also doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
Go to shortcut or:
1. Go to 'File explorer'
2. Click on 'C:\Program FIles(86)\Bleachbit'
3. Scroll down and click to 'bleachbit.exe'
4. Err

[2021-02-20 22:36] #1051 closed

[2021-02-20 22:38] az0 commented on #1035
@Surfride10
Thank you for the bug report. I accepted and merged Marvin's fix. In a few minutes, it will post to the [official BleachBit CI site](https://ci.bleachbit.org/) as build 4.2.0.1830. Would you please test it and then write a comment here to confirm it was fixed?

[2021-02-20 23:31] az0 commented on #1127
Thanks for the bug report.

Please try this

1. Hold down the Windows key while pressing the R button. This brings up the Run dialog.
1. Type or paste the command `"%ProgramFiles(x86)%\BleachBit\bleachbit_console.exe" --gui --debug-log=%USERPROFILE%\desktop\bleachbit.log`
1. Click Run
2. Look on the desktop for `bleachbit.log` which might have useful info

As an alternative on #2, you can run it f

[2021-02-21 03:50] Carmina16 commented on #1117
Does it actually work (without exceptions)?

[2021-02-21 15:04] ediowar commented on #1043
I tested the fix for issue #1043 issue running from latest source code git revision https://github.com/bleachbit/bleachbit/commit/86a71599b7b00793f2052b8c6facca7ebe14a93b (with this commit) on Ubuntu 20.04 with an 8GB FAT32 flash drive. It correctly created two temporary files. Here's the log.
[code]

[2021-02-22 02:23] Marvin0401 commented on #1043
Thank you for your testing.

[2021-02-22 07:35] invernosantigos opened #1129 "Versão 3.9.0 causando travamento total do sistema, não apenas lentidão"
Version 3.9.0 is causing total system crash, not just the usual slowness, but an irremediable crash at Kernell level, requiring forced machine shutdown. Even with 8Gb available and no shell process running, it crashes, and it's time for developers to do what they should have done a long time ago: **Decrease the priority of the process**. Or at least create an option to run Bleachbit at shutdown, w

[2021-02-22 10:08] abitrolly commented on #1129
@invernosantigos depletion of CPU resource never crashes system. Also Python apps are single process and I believe BleachBit is not different. Therefore decreasing the priority of the process won't help. You can try to run BleachBit with lowered priority with `nice -10 ./bleachbit.py` and see if anything changes. This command is for running the last version from the repository.

As for reasons tha

[2021-02-23 22:35] gp1019 commented on #1127
Thank you for the info! Got to the log file and bleachbit console. Although, I'm not sure what information I need to look for to identify the problem. There's an error on bleachbit console that says: `ValueError: Not a boolean: ['False']` as the last line of the console if that helps. If not, I can provide a screenshot of the log and console side by side.

As for #2 (if I didn't already do this),

[2021-02-25 23:07] JedMeister opened #1130 "Debian: Bleachbit package leaving cruft behind after removal (i.e. 'apt purge bleachbit')"
When removing the (current v4.2.0) bleachbit Debian 10 package (`bleachbit_4.2.0-0_all_debian10.deb`), `/usr/share/bleachbit/__pycache__` is left behind. The specific message (full output in context below) is:

[code]

Obviously this isn't a huge issue, but IMO it would be nice if this dir too was removed on package removal.

**To Reproduce**

Install:
[code]
Run it, then uninstall:
[code]
[code]

[2021-02-25 23:18] JedMeister commented on #1045
I'm hitting this same (or _very_ similar!?) issue on Debian Buster - 10.8. Also using Wayland.

With the new v4.2.0 release (`bleachbit_4.2.0-0_all_debian10.deb`):
[code]
On Debian at least, it's generally recommended to run GUI apps with `gksudo` rather than `sudo`, but that also gives an error (although this error actually seems related to gksudo itself, rather than bleachbit):
[code]
So this is

[2021-02-26 07:14] abitrolly commented on #1045
@JedMeister can you try to run with `env GDK_BACKEND=x11`?

[2021-02-27 22:29] Trueabdrahim commented on #1126
Not that I am aware of. This may have been a problem in 19.1 also. It has been quite a while. It is very difficult to make any changes in the selections. This occurs on multiple machines.
________________________________
From: Andrew Ziem <notifications@github.com>
Sent: Wednesday, February 17, 2021 11:31 PM
To: bleachbit/bleachbit <bleachbit@noreply.github.com>
Cc: Trueabdrahim <trueabdrahim@hotm

[2021-02-28 21:32] JedMeister commented on #1045
@abitrolly :cry:
[code]

[2021-03-01 18:57] #1043 closed

[2021-03-01 21:29] gp1019 commented on #1127
It seems to work like normal again, thanks you.

[2021-03-01 21:30] #1127 closed

[2021-03-03 00:11] CyberPunkInterface opened #1131 "Add Cleaner For Favorite/Bookmark Icons (Favicons)."
Add Similar cleaning option as (3034) Brave Browser “Bookmarks Icons Extras” cleaning option for other Browsers if possible.

-Internet Explorer
-Chromium
-Firefox
-Microsoft Edge
-Opera
-Pale Moon
-Safari
-Waterfox
-etc.

This is in regaurds to the Favicon Super Cookies Issue

-Also Add (3034) Brave Browser Cleaner to Linux Versions of BleachBit.

[2021-03-03 00:21] CyberPunkInterface commented on #1064
Have updated to 4.2.0 and Now BleachBit finishes without an error, but the traces of Windows Explorer lists are left behind. How do I fix this?

Do I need to install BleachBit Before running Debloat Scripts or Change/Modify the Debloat Scripts to fix this for New Fresh Windows10 Installs?

[2021-03-03 00:38] CouldBeThis commented on #119
Hello,

I think your website should be updated to indicate this package is no longer available on brew, for example this page: https://www.bleachbit.org/download/mac

Sorry I do not have anything more helpful to contribute than that!

[2021-03-04 12:55] rados opened #1132 "Two unit test decorators doesn't work correctly"
**Describe the bug**
The two decorators skipIfWindows  and skipUnlessWindows doesn't work correctly.

**To Reproduce**
Steps to reproduce the behavior:
Just start unit tests under Windows and check that the decorated methods with skipUnlessWindows are not executed at all and check that the decorated with skipIfWindows are displayed with status 'ok' instead of status 'skipped...'

I already fixed t

[2021-03-06 03:46] az0 commented on #1132
Good catch, Rados.

[2021-03-07 15:54] #1132 closed

[2021-03-10 21:08] marsfan opened #1134 "BleachBit name on Windows 10 includes description"
**Describe the bug**
In the _Program Not Responding_ dialog, as well as the UAC prompt on Windows 10, the name for BleachBit includes a summary of the program.

**To Reproduce**
There are two ways to reproduce this:

Steps to reproduce the behavior (method 1):
1. Launch BleachBit as adminstrator
2. View name in User Access Prompt

Steps to reproduce the behavior (method 2):
1. Launch BleachBit
2.

[2021-03-12 04:08] az0 commented on #1035
@Surfride10
I haven't heard back, so I will assume this is fixed. If you have any information, please add a comment to this ticket.

[2021-03-12 04:08] #1035 closed

[2021-03-12 04:11] az0 commented on #1134
This reminds me of https://github.com/bleachbit/bleachbit/issues/617 and maybe another issue. In any case, https://github.com/bleachbit/bleachbit/issues/848 may require a major rewrite of setup.py, so I would like to check back after that is done.

[2021-03-12 07:50] ancar7 opened #1135 "Bug in new 4.2 BleachBit [sqlite.Warning when cleaning Firefox]"
I've been using BleachBit 4.0 for some time with NO error messages, but just downloaded and installed BleachBit 4.2 and now I always get the following error message (in red), which I've never seen before installing 4.2:

![New error message in BleachBit 4 2](https://user-images.githubusercontent.com/80509928/110908652-c08bd800-82d4-11eb-8703-9a8fe1c1195c.PNG)

[2021-03-12 14:21] rados commented on #1135
@ancar7, thanks for this report. If you use Windows you can try the latest unstable build, it should contain the fix for the issue: https://ci.bleachbit.org/?prefix=dl/4.2.0.1833-master/
If you use Linux you can try running from source. Let me know if you need further assistance.

[2021-03-12 14:46] rados commented on #1134
Seems like in our latest unstable build the name is correct. @Marsfan you can try it if you like:

https://ci.bleachbit.org/?prefix=dl/4.2.0.1833-master/

[2021-03-12 18:21] ancar7 commented on #1135
@rados, thank you for your help. However, 4.2.0.1833-setup.exe triggers an immediate WS.Reputation.1 quarantine by Symantec Endpoint Protection on my Windows 10 OS and will not permit this unstable version to be installed. Until this is settled, I feel safer just re-installing Bleach-Bit 4.0.0 for now. Thanks again, Ancar7

[2021-03-12 22:22] az0 commented on #1135
@ancar7 For now you can update to [BleachBit 4.2.0 (final) ](https://github.com/bleachbit/bleachbit/pull/1093)or wait for the next beta version. Beta and final versions are digitally signed, so they are less likely to trigger warnings from antivirus software.

For searching, here is the error `sqlite3.Warning: You can only execute one statement at  time`

For cross reference, I think this was the

[2021-03-14 05:05] 0pLuS0 commented on #942
I don't understand what you mean about the; ```Icon menu path before install:```?

Also ```Icon menu path after install:``` I'm not following either, this is your Icon, if it's your Icon, what do you mean about it being visible and present? Because I see it...

I'm still having this problem with 4.2.0.

![Bleachbit](https://user-images.githubusercontent.com/36190223/111057903-b4de1400-8482-11eb-9b

[2021-03-14 18:23] az0 commented on #1129
@invernosantigos
Could you please narrow this down to one option. For example, is this the "free disk space" option under the "system" category? Or is it the memory cleaner option?

[2021-03-14 18:54] az0 commented on #1108
BleachBit's normal (in-application) translation system cannot be used to translate this message, so some research is needed for another method that would do this.

[2021-03-14 18:56] az0 commented on #1103
@Carmina16
As a temporary workaround, have you considered using search and replace (through `sed` or whatever method)? Or have you already tried it? Did it work?

[2021-03-14 19:35] az0 commented on #1098
I think the PUPs are the more likely explanation. As it is, I don't know how to reproduce this problem.

[2021-03-14 19:43] az0 commented on #968
@DE0001
Do you have this problem with [BleachBit version 4.2.0 (final)](https://www.bleachbit.org/download) or the [latest CI build](https://ci.bleachbit.org/)?

If you do, please launch the [BleachBit debugging terminal](https://docs.bleachbit.org/doc/troubleshooting.html), and please include a screenshot of the (black) console when the application is frozen.

[2021-03-14 19:44] az0 commented on #963
OK, I am closing

[2021-03-14 19:44] #963 closed

[2021-03-14 19:49] az0 commented on #247
It seems to be working well

[2021-03-14 19:49] #247 closed

[2021-03-14 19:50] az0 commented on #253
No response to the question from 2018

[2021-03-14 19:50] #253 closed

[2021-03-14 19:53] az0 commented on #363
Thank you all for your patience.

@Gittyperson  Thank you for testing. OK, let's add a warning for this soon.

[2021-03-14 20:00] az0 commented on #380
No response since 2018, so closing

[2021-03-14 20:00] #380 closed

[2021-03-14 20:01] az0 commented on #382
No response since June 2019, so closing. If you want to continue the discussion, just add a comment to this issue

[2021-03-14 20:01] #382 closed

[2021-03-14 20:03] az0 commented on #383
@Jon-guy30
Thank you for your patience with my overdue reply. I'm not sure how to reproduce the problem.

Are still on Windows 8.1? Do you still have this error with [BleachBit version 4.2.0 (final)](https://www.bleachbit.org/download) or the [latest CI build](https://ci.bleachbit.org/)?

[2021-03-14 20:07] az0 commented on #480
The OpenOffice.org cleaner is still in `Cleaner.py`. This still needs fixed

[2021-03-14 20:08] az0 commented on #556
No response to question from May 2019, so I am closing the issue. If you want to continue the discussion, just add a comment to this issue.

[2021-03-14 20:08] #556 closed

[2021-03-14 20:14] az0 commented on #561
I've had discussions with Michael who has helped maintain BleachBit for openSUSE, and it is working OK. We no longer need a Python 2/3 package, and I haven't heard demand for use as a library. If I notice a problem, I will reconsider for now, it seems PyPI is not a big priority

[2021-03-14 20:14] #561 closed

[2021-03-14 20:16] az0 commented on #501
I would like to revisit this issue after https://github.com/bleachbit/bleachbit/pull/1041 which could have an impact on this

[2021-03-14 20:17] az0 commented on #437
Let's look at this for the next release.

By the way, I would be interested if you have any other feedback to make BleachBit better for enterprises. Please create separate issues.

[2021-03-14 20:21] az0 commented on #681
Linux distributions come with different themes, and some themes don't support dark mode. The user can switch his desktop to a theme that does. BleachBit could be more user-friendly by giving the user a friendly message to explain this.

[2021-03-14 20:22] az0 commented on #742
There was no response for one year, so I am closing this issue. If you want to continue this discussion, feel free to add a comment to this issue.

[2021-03-14 20:22] #742 closed

[2021-03-14 20:23] az0 commented on #825
There was no response for one year, so I am closing this issue. If you want to continue this discussion, feel free to add a comment to this issue.

[2021-03-14 20:23] #825 closed

[2021-03-14 20:27] az0 commented on #865
@NumDeP
I am not sure how to reproduce this or what could have caused this. Are you able to help with some more troubleshooting? First, make sure you are updated to the latest release, which right now is[ BleachBit 4.2.0](https://www.bleachbit.org/news/bleachbit-420). Then would you please try to narrow down the slowness to one option?

One way to do this is to disable all options, and then enable

[2021-03-14 20:31] az0 commented on #600
I am closing with these resolutions

UnboundLocalError: fixed in https://github.com/bleachbit/bleachbit/issues/575

CalledProcessError: Ubuntu users should generally _not_ enable the Yum cleaner

OverflowError: This does not belong under this same ticket because combining unrelated issues under one ticket makes them harder to manage, so please create a separate ticket

[2021-03-14 20:31] #600 closed

[2021-03-14 20:34] az0 commented on #940
The user who reported the original issue (`module gi has no attribute`...) no longer has a GitHub account. (It's the "ghost" account now.) Also, it's exciting that kdeldycke made so much progress. So, I am closing the issue.

If something else comes up, let's open a new ticket

[2021-03-14 20:34] #940 closed

[2021-03-14 21:06] az0 commented on #929
Thank you for the update, and because it works, I will close this issue.

[2021-03-14 21:06] #929 closed

[2021-03-14 21:14] az0 commented on #936
Thank you for your patience with my overdue reply.

After reading your issue, I understand that your firewall will not switch to enabled status. This is an unusual issue that I haven't heard from other users. Since it's been a while since you reported, I want to check whether you are still having this problem? If you found a solution, I am wondering what it was.

For what it's worth, I did some re

[2021-03-14 21:16] az0 commented on #930
From what I read here, Robertpuggle had an issue with his drive being full after cleaning with BleachBit, but then he found the files, so the issue is resolved. Therefore, I will close this ticket. Thank you, ediowar, for your help.

[2021-03-14 21:16] #930 closed

[2021-03-14 21:34] NumDeP commented on #865
Hi @az0 I've included a couple a screenshots indicating the time it usually takes. I am on 4.2.0-2.11 but the result are always similar.

Now the second one would make sense considering quite a bite of disk space is recovered, however, the time is almost identical to the first one as you can see and I think those actual files are deleted sooner.

Now to be quite frank with you I'm basing my experi

[2021-03-14 21:46] NumDeP commented on #878
Arch and Manjaro a quite popular and I for one would like to use it sometime in the future. It would be nice if cleaning the system with BleachBit was a seamless experience.

[2021-03-15 10:15] ediowar commented on #892
At https://docs.bleachbit.org/doc/frequently-asked-questions.html the answer to the question: Why does BleachBit take a long time (more than five minutes) while filling up by hard drive? contains link `https://docs.bleachbit.org/documentation/shred-files-wipe-disk` instead of `https://docs.bleachbit.org/doc/shred-files-and-wipe-disks.html`.

[2021-03-15 11:34] Carmina16 commented on #1103
It works when the paths are rewritten, yes.

[2021-03-16 02:58] az0 commented on #892
@ediowar
Thanks, I fixed the link. (If you do not see it now, refresh the page.)

[2021-03-16 03:08] az0 commented on #865
Thank you

There can be some reasons for the time being similar, even though the delete counts differ. At least for troubleshooting, please make sure these are disabled

- The whole section called Deep Scan
- System:  Localizations
- System: Memory
- System: Free disk space

I am not offended the way you expressed this.

The high count of errors is interesting. There are a few ways to troubleshoot

[2021-03-16 03:08] #865 closed

[2021-03-20 17:15] Elaborendum commented on #1134
Then, #1109 Is a duplicate of this issue.

[2021-03-20 19:34] az0 commented on #119
OK, I added a note

[2021-03-22 01:24] Marvin0401 commented on #1125
Hi @az0 , Can I work on this issue?

[2021-03-22 03:24] Marvin0401 commented on #1053
Hi @az0 , I've reversed our exe using IDA to fix this issue, but I did not get reasonable results yet. It occured when we run it on other drives, not C drives and path includes this pattern, "xx xx xx". That's why I think it would be related to PyGtk issues and if we upgrade python version, it will be fixed automatically.

[2021-03-22 18:50] indiuscartha opened #1138 "Add Cleaners for Interlink Mail Client and Chromium Browser"
Interlink is a mail/news client based on Thunderbird

https://binaryoutcast.com/projects/interlink/

Thanks

[2021-03-24 18:41] KaizenLouie commented on #1116
@az0 I love this product. Just wanna ask if theres any update? downloaded the latest version as of 3/25/2021, when I use the context menu when shredding, before I get to click the Ok button, it closes immediately. Using Win 10 version 2004

[2021-03-25 01:36] az0 commented on #1116
@KaizenLouie

Rados just submitted a fix for it, but I started reviewing it. If you would like early-access testing, there is a binary you can download on [AppVeyor as build 1835](https://ci.appveyor.com/project/az0/bleachbit/builds/38362048/artifacts). Soon I will take a closer look, and it's likely I will merge this code.

[2021-03-25 11:01] rados commented on #1080
@az0
Is finding a way to shred multiple files / folders a priority?

[2021-03-25 11:18] rados commented on #942
@az0
I can trace this one.

[2021-03-25 13:01] armbck commented on #1080
At least to me shredding it is the most used feature of BleachBit.

Btw, if using SendTo-functionality in windows mouse-right-click-menu is easier to implement, that suits fine.

[2021-03-26 13:56] az0 commented on #1013
Rados made a fix for the issue that font caching causes slow start-up, and I accepted the fix. It works only when BleachBit is installed. (It does not work in portable mode.)

Here's how to test:

1. Uninstall BleachBit
2. Delete the folder `%userprofile%\AppData\Local\fontconfig`
3. Install BleachBit 4.2.0.1837 or later from the [CI build site](https://ci.bleachbit.org/)
4. Start BleachBit
5. Let

[2021-03-26 13:57] az0 commented on #1072
Fixed

[2021-03-26 18:25] KaizenLouie commented on #1116
@az0 Thanks Andrew. Just tried the build 1835 and the fix worked like a charm. I guess ill stick around with this test build while theres still no official release yet.

[2021-03-26 20:26] rados commented on #1116
Thanks for confirming it should be safe to use this version. Just to let you know that this fix affected also the functionality of 'Shred settings and quit' so if you use this operation you might want to check it as well.

[2021-03-26 21:01] rados commented on #1126
@az0
I can trace this further...

[2021-03-26 21:42] rados opened #1141 "Use separate Bleachbit.ini files for unit tests."
Currently the unit tests modify the production version of the Bleachbit.ini file and this forms a kind of dependency between some of the unit tests. Also it affects the saved changes user has made on the computer that tests are executed. So we decided to split the file to two versions - one production version as it is currently in use and one test version. The idea is to have a command line option

[2021-03-27 19:08] az0 commented on #1073
I still see this problem on Windows 10 with build 1835 with commit "Fix Windows explorer context menu command and add a test for it"

[2021-03-27 19:09] #893 closed

[2021-03-27 19:09] #993 closed

[2021-03-27 19:09] #1116 closed

[2021-03-27 19:09] #1124 closed

[2021-03-27 19:11] az0 commented on #893
@thejoker3000  thank you for the bug report

This is now fixed, and you can try it out by downloading build 4.2.0.1838 or later from the [CI build site](https://ci.bleachbit.org/). Please allow a few minutes for it to upload. If you are able to test, please add a comment here to confirm it's fixed.

[2021-03-27 19:11] az0 commented on #993
@229love

This is now fixed, and you can try it out by downloading build 4.2.0.1838 or later from the [CI build site](https://ci.bleachbit.org/). Please allow a few minutes for it to upload. If you are able to test, please add a comment here to confirm it's fixed.

[2021-03-27 19:13] az0 commented on #1116
I merged the fix, so it is available in build 4.2.0.1838 and later from the [CI build site](https://ci.bleachbit.org/). Please allow a few minutes for it to upload. If you are able to test, please add a comment here to confirm it's fixed. This fix will also be in the next beta release.

[2021-03-27 20:00] az0 commented on #676
@rados

Can you reproduce this after the application has started? (This is not the font cache issue because that happened before the GUI showed up, and in his screenshot, the GUI has started.)

[2021-03-27 20:02] az0 commented on #850
I cannot reproduce this

[2021-03-27 20:23] az0 commented on #1053
@Marvin0401

Yes, this is one of many reasons that https://github.com/bleachbit/bleachbit/issues/848 is important to fix ASAP.

[2021-03-27 20:27] az0 commented on #1079
Fixed earlier

[2021-03-27 20:27] #1079 closed

[2021-03-27 20:33] az0 commented on #1080
This is currently not a top priority because there have not been man complaints, and there are several decent workarounds:

1. User can drag and drop. However, Windows does not allow this to happen between and elevated and non-elevated process.
1. User can copy files to clipboard and paste into BleachBit.
1. User can open BleachBit, choose open to shred files/folders, and then go "hunting" for the

[2021-03-27 20:50] az0 commented on #960
This no longer fails with BleachBit 1835 on Windows 10 (Version 10.0.19041.746) with Microsoft Edge 88.

[2021-03-27 20:51] #960 closed

[2021-03-27 20:54] az0 commented on #678
On BleachBit build 1835 (a recent commit), the bleachbit.ini file is this format

$ file bleachbit.ini
bleachbit.ini: UTF-8 Unicode (with BOM) text, with CRLF line terminators

[2021-03-27 20:54] #678 closed

[2021-03-27 21:10] armbck commented on #1080
I understand your point of view. The pain grows when having to click several times and needing to focus separately opening BB first (adding to thousands of clicks per day for other reasons), when trying just to quickly delete files securely. Efficiency has a high value. I hope you reconsider this as an investment to user experience!

[2021-03-27 21:26] az0 opened #1142 "file association verb fails when user declines uac dialog"
**To Reproduce**
Steps to reproduce the behavior:
1. Install BleachBit (I used build 1835)
2. Right click on file
3. Click "Shred with BleachBit"
4. Decline the UAC

File name is mangled.

The error happens every time.

**Expected behavior**
Delete file without admin rights.

**Screenshots**
![bb-decline_uac](https://user-images.githubusercontent.com/933680/112735329-c1497e80-8f10-11eb-8142-59069f

[2021-03-27 22:37] az0 commented on #1080
@armbck

I just added a shortcut to make this easier. You can find it in [CI build](https://ci.bleachbit.org/) 1842 or later.

Here are the instructions. Once you can get used to it, it goes quickly.

1. In Windows Explorer, copy the files you want to shred to the clipboard. You can select multiple files using the SHIFT and arrow keys, and the shortcut CTRL+C is the faster than right clicking.
2.

[2021-03-27 22:46] rados commented on #676
Not really, I will live the issue unassigned for now as I don't have an idea what the reason could be.

[2021-03-27 22:59] az0 commented on #676
We cannot reproduce the issue. Because I haven't heard from Tobias here or elsewhere since January 2020, I will close the issue.

@Tobias-B-Besemer
If you can reproduce with a recent version of BleachBit, please reopen.

[2021-03-27 22:59] #676 closed

[2021-03-27 23:12] rados commented on #1082
@mo-moxi
Please note that this has been fixed some time ago. You can try the fix with running from source. Let us know if you need assistance.

[2021-03-27 23:16] az0 commented on #1082
@mo-moxi
This article has  instructions on how to [run from source](https://docs.bleachbit.org/dev/running-from-source-code.html), and here is the tldr version

[code]

Once you have the requirements installed, it's quick and easy. Alternatively, you can wait for the beta release.

If you have problems with this version, please reopen the ticket.

[2021-03-27 23:16] #1082 closed

[2021-03-27 23:18] rados commented on #799
@ediowar @mkhon
You can verify if this has been fixed.

[2021-03-28 14:41] ahmedbilal commented on #1115
I think the `journalctl` has changed their output for `--vacuum-size`. i.e They are outputting detailed messages telling exactly where the cleaning is done.

[code]

I think, we need to handle both cases now?

[2021-03-29 03:30] 229love commented on #993
Yeah let me test and let you know
Thanks.

[2021-03-29 03:42] 229love commented on #993
@az0

The integrate shed feature via the context menu does work. And also as this version is kind of a beta release if I face any issues with it I will inform you.

[2021-03-29 18:12] thejoker3000 commented on #893
Hey,

OK, I will check up on this and let you know. Thanks!

On Sat, Mar 27, 2021 at 8:11 PM Andrew Ziem ***@***.***>
wrote:

[2021-03-30 03:31] #1115 closed

[2021-03-30 03:34] az0 commented on #1115
Thank you for reporting the issue. Sorry, I saw your suggested regex after I already wrote another version, but check whether commit b561d9550673b4b7e3679fcb3b3c94c32ed77863 fixes the problem for you

[2021-03-30 03:43] Marvin0401 commented on #848
Hi @az0 , I've used pyinstaller to upgrade python version in windows, but I did not get it works yet. This is my result by using the python3.8 and pyinstaller (https://we.tl/t-Qu7S81E4ly). It seems runing, but I can not see any UI so I am tracking the issue now. I think I can fix it this week.

[2021-03-31 01:54] rados commented on #1126
![Screenshot from 2021-03-31 04-47-55](https://user-images.githubusercontent.com/332322/113078908-b3c81900-91dc-11eb-8f89-05ccf39e4db8.png)

I could imitate something similar (screenshot attached) with following this simple guide:
https://ubuntu-mate.community/t/tweaking-your-scrollbar-settings/16161

@Trueabdrahim
Could you try to change the style of the scroll bar in a similar way?

[2021-04-02 05:49] treacherousfiend opened #1143 "Bleachbit overwrites upstream winapp2.ini"
**Describe the bug**
Currently, if database updating is enabled and if winapp2.ini does not match the latest release's hash, it is overwritten. This causes an issue for users who want to use the latest upstream version of winapp2.ini but leave the database updating option enabled (in case they do not check it's repo regularly and would like the auto-updater to update in case of new version)

**To

[2021-04-02 19:29] thejoker3000 commented on #893
Ok, so it worked. The program closed only after it was done but the setting is set to not close when done shredding.

[2021-04-03 13:17] mivanm commented on #956
@az0 I'll take it. Please assign to me.
Issue is reproduced on my local machine.

[2021-04-03 19:12] rados commented on #1040
@maxhaz
I've just implemented a fix by appending 'BleachBit' at the end of the path. If you like, you can try this build and see if the issue is solved:
https://ci.appveyor.com/api/buildjobs/7d1lf190okordbfu/artifacts/BleachBit-4.3.0.1859-setup.exe

[2021-04-04 17:07] thejoker3000 commented on #893
Ignore the previous comment. I had changed something in it.

It worked fine with this version you mentioned.

[2021-04-06 01:20] az0 commented on #1135
I am marking this fixed because the fit was committed, and it will be in the next beta release.

[2021-04-06 01:20] #1135 closed

[2021-04-06 02:50] #1040 closed

[2021-04-06 09:15] DE0001 commented on #968
![bb](https://user-images.githubusercontent.com/67836272/113688053-d9fc2600-96c0-11eb-97b0-fdc06f024bfe.png)
Still get it.  Might be just my PC heading towards end of life.

[2021-04-06 21:03] rados commented on #1141
@az0
Seems like implementing command line option is not so simple. We would need a bit of refactoring to initialize the three variables with a function call through CLI.py file. Also we would need some special way to start the unit tests. Seems like environment variable suits better in our case. Should I try it?

[2021-04-06 21:28] az0 commented on #1141
That makes sense. Yes, please try the environment variable. There are
already one or two special environment variables used for unit testing

Andrew

On Tue, Apr 6, 2021, 3:03 PM Radoslav Stoyanov ***@***.***>
wrote:

[2021-04-07 02:49] az0 commented on #968
My guess is that BleachBit is deleting the 40GB file it just created, and sometimes this takes a while. It's confusing because it doesn't give you an indication of that, and it happens in the same thread, so the application freezes. Two solutions are giving feedback on what is happening and making the application multithreaded, so it doesn't freeze even when it's working hard.

If you have a chanc

[2021-04-07 18:18] rados commented on #1072
Reopen the issue because of this omission in the portable application.
https://github.com/bleachbit/bleachbit/pull/1144#issuecomment-813365114

[2021-04-09 21:54] rados commented on #1073
@az0 @abitrolly
Here I suggest running a separate process (with its own GUI, etc.) in parallel only for the context menu command execution. One easy way to achieve it is by giving a special application id when Gtk.Applicaiton is initialized in GUI.py Bleachbit class:

 Gtk.Application.__init__( self, application_id='org.gnome.Bleachbit', ...)

I tried it and it worked. We need something like this

[2021-04-10 06:56] abitrolly commented on #1073
Instead of trying of here and there, I'd like to understand what's going on before I can provide any weighted opinion. I ditched Windows a few years ago, and will unable to test how it work, but I do know something about WinAPI, mutexes and stuff. What I would do is the minimal reproducible example without the weight of complete BleachBit codebase.

1. A minimal `shredbug.py` script that misbehave

[2021-04-11 15:15] az0 commented on #1073
This is OK and would be an improvement.

In the future, I would like to separate the GUI from the worker process (to not lock up the GUI and as a possibly better way to escalate privileges), so IPC will be critical then.

On Linux with GTK, it seems a normal option for the IPC needed for the context menu would be to use DBus for IPC ([reference](https://stackoverflow.com/questions/62089364/how-to-

[2021-04-15 09:15] pitsi opened #1147 "Please add support for google chrome unstable under linux"
**Describe the bug**
Please add support for google chrome unstable under linux.

**To Reproduce**
Steps to reproduce the behavior:
1. Have an existing google chrome unstable installation
2. Run bleachbit with any of the options for google chrome, e.g. `bleachbit -c google_chrome.cache`
3. Notice that nothing is cleaned

The error happens every time.

**Expected behavior**
Bleachbit should clean th

[2021-04-16 19:42] #1147 closed

[2021-04-16 19:51] az0 commented on #1147
@pitsi
Thank you

[2021-04-17 23:59] #1141 closed

[2021-04-20 16:27] ashlyrclark opened #1151 "Refactoring"
**Describe the bug**
A clear and concise description of what the bug is (about one sentence long).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

The error happens (sometimes/every time).

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots

[2021-04-21 14:40] az0 commented on #1151
The issue body looks like the original template, so there is no information here. If you have more information, please re-open the ticket.

[2021-04-21 14:40] #1151 closed

[2021-04-21 14:46] az0 opened #1152 "error in case of no fonts on Windows"
If the Windows fonts are unavailable (e.g., failed to copy), use win32api.MessageBox to display an error message.

[2021-04-22 23:29] teratano opened #1153 "windll' is not defined"
Getting an error from bleachbit.py today - from Archlinux associated w/ windll. See below.
I use  the latest since - I want to clean brave browser (not in 4.2)
I love -> Bleachbit - thx
=Don/

python bleachbit.py
Traceback (most recent call last):
  File "/home/kir/build/bleachbit/bleachbit.py", line 44, in <module>
    app = bleachbit.GUI.Bleachbit()
  File "/home/kir/build/bleachbit/bleachbit/GU

[2021-04-23 02:56] abitrolly commented on #1153
@az0 I see that we only run tests on Windows. Let me add unit testing on Linux through GitHub Actions to see if this bug manifests during tests run. Sounds good?

[2021-04-23 03:32] az0 commented on #1153
What do you think of Travis?

https://travis-ci.org/github/bleachbit/bleachbit

On Thu, Apr 22, 2021, 8:56 PM Anatoli Babenia ***@***.***>
wrote:

[2021-04-23 06:51] abitrolly commented on #1153
@az0 it needs to be reenabled for this repo. I don't see it contributes to commit statuses - https://github.com/bleachbit/bleachbit/commits/master - it is definitely failing, but all checks are green.

[2021-04-24 15:34] rados commented on #1153
Yes, this line: "windows_fonts_folder = get_known_folder_path('Fonts')" should be inside the "if" bellow it. This way we will execute it only if we are in portable_mode which means we are under Windows. Should I fix it?

Thanks @teratano :)

[2021-04-24 18:25] teratano commented on #1153
I verified that - works.
Thx,

diff -Naur Windows.py Windows.py.orig
--- Windows.py 2021-04-24 13:20:41.863205368 -0500
+++ Windows.py.orig 2021-04-24 13:23:03.717092905 -0500
@@ -593,13 +593,12 @@
# Fix #1040: copy only two fonts in order to escape huge default fontconfig caching.
# We do this here only for portable app as for the installed app we do it through the installer.

- #windows_fonts_fo

[2021-04-24 19:26] unbob commented on #1073
Exact same problem for me on Windows 10 Home. I also reverted to v4.0.0 which fixed the problem. Any progress on resolving this problem on the latest release?

[2021-04-24 19:47] unbob commented on #215
I agree with the OPs comments. Somewhat discouraging that there's been no comments in almost 4 years!
I'm also confused by the context menu 'Shred with BleachBit' -  if 'Overwrite files to hide contents' is not selected in edit Preferences > General tab, does that mean that 'Shred with BleachBit' only deletes the file without overwriting to actually "erase" (Shred) the file? Would be nice if someo

[2021-04-24 21:39] rados commented on #1073
@unbob
It should be fixed in our latest unstable build:
https://ci.bleachbit.org/?prefix=dl/4.3.0.1872-master/

[2021-04-24 23:08] unbob commented on #1073
Thanks rados! I'll wait for the stable build. Meantime, v4.0.0 works fine for me.

[2021-04-25 01:18] az0 commented on #215
The context menu always shreds regardless of the preference set in BleachBit.

[2021-04-25 14:14] az0 commented on #848
@Marvin0401
The file is unavailable at that link because "the transfer expired."  The best way to share code is through GitHub forks and pull requests, which automatically build binaries for Windows.

[2021-04-25 14:50] #365 closed

[2021-04-25 14:51] az0 commented on #365
@zero77
Thank you for the suggestion. I added the new CLI option `--all-but-warning` to do this. You can get it now by [running from source](https://docs.bleachbit.org/dev/running-from-source-code.html) (relatively easy on Linux), getting a Windows binary from the [CI build site](https://ci.bleachbit.org/), or waiting for the beta release.

Try it out, and let me know how it goes.

[2021-04-30 22:19] az0 commented on #1153
I noticed it was fixed in this branch https://github.com/rados/bleachbit/commit/caea4a576524076460db7a94cfcba0cd34df60f9 which is part of a bigger PR

[2021-04-30 23:32] #363 closed

[2021-04-30 23:33] az0 commented on #363
Thank you all for your patience. You can test this as build 4.3.0.1876 or newer from the [CI Build](url) site. (Please allow a few minutes for it to upload there.) The fix will also be in the next beta and final releases. If you have a chance to test it, let me know how it goes.

[2021-05-02 10:27] abitrolly commented on #1153
I would prefer the fix to be independent PR, so that it won't be rollbacked together with #1146 if #1146 turns out to be problematic for the next release.

[2021-05-02 10:28] abitrolly commented on #1153
@rados can you do this?

[2021-05-03 03:00] az0 commented on #1153
I cherry picked it

[2021-05-03 05:30] abitrolly commented on #1153
@az0 I gave it one more turn in #1155

[2021-05-05 01:25] az0 opened #1156 "gpg public key expires 2021-05-24"
the 2019 key here expires soon
https://sourceforge.net/projects/bleachbit/files/public_key/

mentioned by Kiran

[2021-05-08 14:08] rados commented on #1073
@az0
I've found that context menu command doesn't work when we install the app only for the current user (not for all users). And I've checked that the installer doesn't write the needed entries in the registry. Is this behavior intentional? The fix seems not complex.

[2021-05-08 18:25] rados opened #1157 "Drag & drop to shred files doesn't work with elevated privileges under Windows"
**To Reproduce**
Steps to reproduce the behavior:
1. Open Bleachbit app with elevated privileges (answer 'Yes' to the UAC dialog)
2. Drag a file and drop it in the Bleachbit window
3. Verify that nothing happens - no information in the app window and the file remains undeleted

**Expected behavior**
The dropped file should be deleted and the app window should display a text about the deletion.

**

[2021-05-08 18:31] rados commented on #1157
Related problem:
1. Open the app with current user privileges (answer 'No' to the UAC dialog)
2. Create an empty file in Windows system directory
3. Drop the newly created file in the Bleachbit's window
4. The windows displays text reading that the file has been deleted but the file remains undeleted actually

[2021-05-08 19:01] az0 commented on #1157
The first issue is related to the Windows permissions model, so [BleachBit 2.2 ](https://www.bleachbit.org/news/bleachbit-22)added a way to shred from the clipboard. The limitation was noted in the release notes. In the most recent release, I made it a little easier by connecting this functionality to CTRL+V on the main window.

I will change the title to reflect the second issue.

[2021-05-08 19:47] az0 commented on #1157
I tried to reproduce the error in the second comment by dragging a dummy text file in `c:\windows\system32`  to the BleachBit window (build 1883), which did not have admin rights. The error was

`[WinError 2] The system cannot find the file specified: 'C:\\windows\\system32\\fonts.txt': Command to shred C:\windows\system32\fonts.txt`

When the same file was in `c:\windows\temp\`, it worked OK. (Th

[2021-05-08 19:51] #1153 closed

[2021-05-08 20:16] az0 commented on #1126
@Trueabdrahim
I am closing this because there was no reply to Rado's question since March 30. If you still have the same problem after trying his suggestion, reopen the issue.

[2021-05-08 20:16] #1126 closed

[2021-05-08 20:17] az0 commented on #1072
@rados  Can this be closed because of 133f2ab7307b7ff9547d51a012dbd002e841db0c ?

[2021-05-08 20:36] az0 commented on #1081
Rados added a fix in 641b294be02f93fab228e14971069eb564a19597 .

@TeslaMagic
Are you able to please test the fix by [running from source code](https://docs.bleachbit.org/dev/running-from-source-code.html)? It's fairly easy on most Linux systems.

The simple method is like this
[code]

[2021-05-08 20:38] az0 commented on #1064
Great to hear, so I would like to close the issue.

Please open a new issue, and please be specific as to what the traces are, so I can reproduce the problem. Maybe a screenshot would help.

I'm not familiar with the scripts, so maybe the authors of the scripts can offer better support. My guess is it may not matter, but I am not sure.

[2021-05-08 20:38] #1064 closed

[2021-05-08 21:08] az0 commented on #1034
@vilhelmgray
Good suggestions. Which theme do you use?

[2021-05-08 21:33] rados commented on #1072
Yes, exactly.

[2021-05-08 22:00] #1072 closed

[2021-05-08 22:07] az0 commented on #1056
@madjoe
I added this option in the preferences.

Are you able to please test the fix by [running from source code](https://docs.bleachbit.org/dev/running-from-source-code.html)? It's fairly easy on most Linux systems.

The simple method is like this
[code]

[2021-05-08 22:11] az0 commented on #1118
@pas-calc
Are you able to please test the fix by [running from source code](https://docs.bleachbit.org/dev/running-from-source-code.html)? It's fairly easy on most Linux systems.

The simple method is like this
[code]

Alternatively, it will be in the next beta release.

[2021-05-08 22:17] az0 commented on #1073
@rados

No, that's not intention. As you probably know, it's a matter of writing the registry key. The "for current user only" installation is often used without administrator privileges, so the user may not have access to write to HKCR. Feel free to add an issue.

[2021-05-08 22:19] az0 opened #1158 "FAIL: test_system_recent_documents (tests.TestCleaner.CleanerTestCase)"
https://ci.appveyor.com/project/az0/bleachbit/builds/39070526#L2279

======================================================================
FAIL: test_system_recent_documents (tests.TestCleaner.CleanerTestCase)
Clean recent documents in GTK
----------------------------------------------------------------------
Traceback (most recent call last):
  File "C:\projects\bleachbit\tests\TestCleaner.py",

[2021-05-08 22:28] rados commented on #1157
@az0
I wanted to say just Windows directory (not Windows\system...)

[2021-05-09 01:12] vilhelmgray commented on #1034
Sorry, I meant [`Gtk.ScrolledWindow.get_vscrollbar()`](https://lazka.github.io/pgi-docs/Gtk-3.0/classes/ScrolledWindow.html#Gtk.ScrolledWindow.get_vscrollbar) because it's actually the vertical bar that is getting in the way here. So instead of hardcoding a margin of 10, you can dynamically adjust it to the current size of the scrollbar width by calling [`Gtk.Widget.get_allocated_width()`](https:/

[2021-05-09 07:21] abitrolly commented on #1158
More errors on Travis.

[code]
 And the comparison with the latest good commit https://github.com/bleachbit/bleachbit/compare/d8c33f873845de00dd50033d60509fe0bacd73b0...master
https://travis-ci.com/github/bleachbit/bleachbit/jobs/503988794#L712

[2021-05-10 12:38] rados commented on #1158
@az0
I am interested to fix this one.

[2021-05-10 12:39] rados commented on #1019
@az0
I can handle this one.

[2021-05-10 12:41] rados commented on #1021
@az0
I can handle this one.

[2021-05-10 13:44] rados commented on #1021
Will investigate why those files are special and if there really is no way to delete them will propose a way to inform the user that we are aware...

[2021-05-10 15:02] az0 commented on #1021
@rados
@abitrolly
When a file cannot be deleted at the moment (e.g., some Internet Explorer files), BleachBit normally schedules it to be deleted on Windows reboot, and this requires admin permissions. It may be a fault in the fallback mechanism, like a different kind of special file generating a different kind of error.

[2021-05-10 16:31] az0 commented on #1021
For troubleshooting, there is this tool
https://www.nirsoft.net/utils/opened_files_view.html

For general purpose, do you mean to kill the process? This can cause issues.

Andrew

On Mon, May 10, 2021 at 9:54 AM Anatoli Babenia ***@***.***>
wrote:

[2021-05-10 17:05] hendrst commented on #1021
Here are the files in question:

![Capture2](https://user-images.githubusercontent.com/59543508/117697207-0f3fdc00-b177-11eb-95f4-68f4c9dbe8bc.JPG)

With the exception of mpengine.dll all are owned by SYSTEM.

![Capture](https://user-images.githubusercontent.com/59543508/117697288-28488d00-b177-11eb-85cc-5cdd3341e88f.JPG)

[2021-05-10 21:46] abitrolly commented on #1021
Not automatically, but at least tell the user.

[2021-05-11 02:33] madjoe commented on #1056
I tested it and "Remember window geometry" works and it's good that you added this in Preferences.
However, I've noticed the main menu of the application is quite wide in size and there should be some submenus included - it's just too wide for my top panel:

![](https://i.imgur.com/Vedt1x9.png)

[2021-05-11 03:02] az0 commented on #1056
I'm glad to hear it works.

On my system (fairly normal Ubuntu 20.10 with GNOME), the menu is a primary menu, which mean it is under a hamburger menu like the first screenshot in this GNOME article: [app menu retirement](https://gitlab.gnome.org/GNOME/Initiatives/-/wikis/App-Menu-Retirement). The way it renders on your screen may be an issue your window manager or configuration, but I am not sure.

[2021-05-11 11:44] jazz-it opened #1161 "The width of the Global Menu is too long"
**Describe the bug**
I've noticed the main menu of the application is quite wide in size and there should be some submenus included - it's just too wide for my top panel:
![](https://i.imgur.com/Vedt1x9.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Open Bleachbit
2. Check the Global Menu widget inside of your panel
The width of all the items inside the Global Menu is just too long.

*

[2021-05-11 11:46] madjoe commented on #1056
As proposed, I opened a new ticket here:
https://github.com/bleachbit/bleachbit/issues/1161

[2021-05-12 03:17] az0 commented on #1161
For cross reference, I wrote a [comment about this](https://github.com/bleachbit/bleachbit/issues/1056#issuecomment-837698795) in another issue. tl;dr Is that on my system (Ubuntu + GNOME), it shows as a hamburger menu, so there is some interaction with the KDE window manager.

[2021-05-13 15:25] rados commented on #1019
@jasmine124
Could you please share some more details as I couldn't reproduce the issue? I tested on two Windows 10 machines and on both when I unchecked 'Passwords' under the 'Opera' section and cleaned (in Bleachbit app) the saved passwords in Opera browser were still there. You can see my screenshots and verify if I've done the right testing. You can share some screenshots as well.

![image](htt

[2021-05-13 18:57] NumDeP commented on #1138
The Chromium browser is similar to Brave-browser which uses its base so if you could include that as well it would be good. You should note that because Brave browser does have some very technical data that is rather critical when it comes to Crypto, you should make sure any essential data isn't accidentally deleted.

[2021-05-13 19:05] NumDeP commented on #926
Hi @az0 could you perhaps reopen this issue as I'm seeing it again. I've included a couple of screenshots to show that the system seems to read that version x.2.1 is obsolete and not x.1.2.

Note - The first one is from the standard openSuse software updater and the second one is via 'sudo zypper dup' which is sort of like the standard software updater but on the terminal.

![Screenshot_20210512_1

[2021-05-17 05:55] jonyxx-alt opened #1162 "The string "About %d minutes remaining." is not being translated"
Something is wrong with the code because the string "About %d minutes remaining." was translated in Swedish in Launchpad 4 years ago but still is not translated in the application.

This is from the Swedish translation starting from line 1883:

msgid "About %d minute remaining."
msgid_plural "About %d minutes remaining."
msgstr[0] "Ungefär %d minut kvar."
msgstr[1] "Ungefär %d minuter kvar."

The

[2021-05-17 19:52] saDimpartuSuseR opened #1163 "Errors in cleaning Google Chrome"

[2021-05-17 19:55] #1163 closed

[2021-05-18 03:30] az0 commented on #1021
#1021 looks like #1004

The issue relates to a rule in windows_defender.xml added  by Tobias in 2019 in revision 6ef3f67c6

`<action command="delete" search="walk.files" path="%CommonAppData%\Microsoft\Windows Defender\Definition Updates\Backup\"/>`

[2021-05-18 04:23] az0 commented on #1157
I can reproduce this on Windows 10 with BleachBit build 1883 (revision 88f1bab53f3b89e0bfc7e5651ef3caa9eefe2e68). I ran BleachBit as non-admin, dragged non-empty text file `c:\windows\copying\` to the application window, and deleted it. However, it was not deleted. With debug logging enabled, the regular window and console window did not show anything more.

The same thing happened for the same fi

[2021-05-18 04:44] az0 commented on #942
@0pLuS0
Have you had a chance to read the message from rados dated March 31?

[2021-05-18 04:48] az0 commented on #799
I am closing because the original reporter (saiballo) confirmed that it works (December 18, 2020 with version 3.9.0.) It also works for me now with Ubuntu 20.10 with the yaru and ubuntu-mono-dark icon themes.

No word recently from ediowar and mkhon, but saiballo, thank you for confirming.

[2021-05-18 04:48] #799 closed

[2021-05-18 05:14] az0 commented on #1053
I cannot reproduce on Windows 10 with BleachBit build 1900 (revision ac97e1e4dce9cdf88043997d98d46d9ba7e3209d) when executable is on a fat32 drive at `e:\xx xx xx\bleachbit.exe`

[2021-05-18 05:25] az0 commented on #937
This could be related to WoW redirection, which affects `%windir%\system32`

[2021-05-18 05:33] #944 closed

[2021-05-18 05:34] az0 commented on #1013
I haven't seen a reply to the request for testing (March 26), so I will assume gitthepie's issue was fixed. If the same issue is not fixed, please reopen this issue.

[2021-05-18 05:34] #1013 closed

[2021-05-18 05:36] az0 commented on #1125
Like https://github.com/bleachbit/bleachbit/issues/1004 except my traceback shows that overwriting was enabled

[2021-05-19 01:01] #1162 closed

[2021-05-19 01:07] az0 commented on #1081
I didn't get a response, but I will assume it is fixed.

@TeslaMagic
If the same issue continues with the new version, please reopen this issue ticket.

[2021-05-25 15:25] unfa opened #1164 "Add cleaners for Brave browser (Chromium-based)"
I've noticed that BleachBit does not detect or clear out any data from the Brave web browser.
It's based on Chromium, so it should be relatively easy to re-use existing code.

[2021-05-26 01:56] az0 commented on #1164
Duplicate to https://github.com/bleachbit/wishlist/issues/92

[2021-05-26 01:56] #1164 closed

[2021-05-26 12:07] rados commented on #1073
@az0
I've decided to fix this with the simplest option - to just run a second instance. It has seemed to me that IPC options are quite an effort for this task. Once we have more reasons to adopt IPC we can improve this as well. The PR is #1165.

[2021-05-26 20:06] rados commented on #1021
@az0
I've tried both your suggestions - to pause the service like we do with Windows Update and to mark the files for removal on reboot. Both don't work with the same reason - Access Denied. Also stopping Windows Defender Antivirus through the interface or through renaming its exe file (MsMpEng.exe) couldn't allow me to manipulate its Backup folder. It seems like the lock is on some kind of a fold

[2021-05-26 21:15] rados opened #1166 "Shred with Bleachbit doesn't work when the application is installed only for the current user"
1. Install for the current user (Windows).
2. Try 'Shred with Bleachbit' context menu command over a file
3. Nothing happens

Expected behavior: the file that we execute the command on should be shredded.

[2021-05-26 22:45] rados commented on #982
@az0
I've just reproduced and started tracing the issue. I could finish it.

[2021-05-29 19:30] az0 commented on #1021
I agree. It seems there is an anti-tampering system.

[2021-05-29 19:57] #1073 closed

[2021-05-30 05:22] ineuw opened #1168 "A minor issue: Dark mode preference is not working with sudo"
**Describe the bug**
Bleachbit is set to dark theme but remains light.
The error happens every time.

**Expected behavior**
To be the same shade as the theme

**Desktop:**
 - OS: Linux Mint Cinnamon 20.1
 - BleachBit version 4.2.0

[2021-05-30 08:49] abitrolly commented on #1168
I can't repeat it with latest version from source.

[code]

[2021-05-30 15:41] Dilbao opened #1169 "Error when setting the default drives to shred."
**Describe the bug**
I am getting this error when I launch the exe:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download portable zip
2. Extract
3. Run bleachbit.exe
4. See error

The error happens every time.

**Desktop (please complete the following information):**
 - OS: Windows 10 v1809
 - BleachBit version 4.2.0 portable

**Additional context**
I also tried the non portable

[2021-05-30 16:20] ineuw commented on #1168
1. If you cannot repeat it, does that mean it doesn't exist? Please see the attached image.
2. I am not a programmer, and your cryptic reply is meaningless to users. Please rephrase your help reply.
3. I am using the standard cinnamon  theme.

![bleachbit, light mode in a dark theme](https://user-images.githubusercontent.com/10367016/120111642-be515100-c140-11eb-9722-c6617db5b759.jpg)

[2021-05-30 17:23] rados commented on #1169
@az0
I've reproduced it and I am ready to trace it further.

[2021-05-30 17:52] rados commented on #1169
@Dilbao
Thanks for finding this.

As a quick fix you can create a Temp folder as this one:
C:\Users\<current_username>\AppData\Local\Temp

Then the error should not appear. Please inform us if this doesn't help.

[2021-05-30 19:51] Dilbao commented on #1169
Thanks for the pointer. I inspected that folder and I think I know why this is happening now. If user's Temp folder is symbolic linked to a ramdisk, this error happens. But only when Preferences\Drives tab is empty.

**Steps to reproduce:**
1- Make a ramdisk (R:), create Temp folder on it (R:\Temp)
(ImDisk Toolkit is a free tool this but I tried with another similar software and problem appeared w

[2021-05-30 20:10] az0 commented on #1169
@rados

If you see a quick/safe fix, let's do it now. Otherwise, let's target this for the next cycle.

[2021-05-31 11:33] rados commented on #1169
I've fixed this by removing '%' symbol from the wrong place of the log warning message (and its translations). So it shouldn't throw this exception anymore (PR #1170). About handling of ram disks, I think we don't need to do anything for them as they are erased after a power loss. But there might be a situation where shredding them could be useful, but this should be a rare case...

[2021-05-31 13:44] ineuw commented on #1168
This happens only in the admin version. I assume it's a permissions issue because the user version works fine.

[2021-05-31 13:49] #1169 closed

[2021-05-31 13:52] az0 commented on #1169
@rados

Thank you for the fix. FYI: The translations have a one-way sync from Launchpad to GitHub, so later translators will need to re-translate this string.

@Dilbao

Thank you for the report. In a few minutes, the fixed version will upload to the [BleachBit CI site](https://ci.bleachbit.org/) as version 4.3.0.1911. Would you please test it and let us know how it works?

[2021-05-31 17:38] az0 opened #1171 "Integrate openSUSE Build Service with GitHub"
https://openbuildservice.org/2021/05/31/scm-integration/

[2021-06-01 01:03] Dilbao commented on #1169
I just tried the v4.3.0.1911 (portable and installer) and no error so far. I can confirm that problem is fixed. Thank you so much!

[2021-06-04 19:25] az0 opened #1172 "BleachBit-4.3.0-portable.zip has two false positives"
https://www.virustotal.com/gui/file/7e93a63b919a6b121576ee3168b71356824eed46fa7238371d49b44489e8e125/detection

Cylance: Unsafe
MaxSecure: Trojan.Malware.300983.susgen

[2021-06-04 19:32] az0 commented on #1090
@WildByDesign

The fix was released in [version 4.3.0 beta](https://www.bleachbit.org/news/bleachbit-430-beta). Give it a try, and let me know in this issue whether it was fixed.

[2021-06-04 19:33] az0 commented on #1086
@ballsar
The fix was released in [version 4.3.0 beta](https://www.bleachbit.org/news/bleachbit-430-beta). Give it a try, and let me know in this issue whether it was fixed.

[2021-06-04 19:34] az0 commented on #1035
@Surfride10
The fix was released in [version 4.3.0 beta](https://www.bleachbit.org/news/bleachbit-430-beta). Give it a try, and let me know in this issue whether it was fixed.

[2021-06-04 19:35] az0 commented on #1116
@dashriprock007
The fix was released in [version 4.3.0 beta](https://www.bleachbit.org/news/bleachbit-430-beta). Give it a try, and let me know in this issue whether it was fixed.

[2021-06-04 19:35] az0 commented on #1115
@leminhson2398
The fix was released in [version 4.3.0 beta](https://www.bleachbit.org/news/bleachbit-430-beta). Give it a try, and let me know in this issue whether it was fixed.

[2021-06-04 19:35] az0 commented on #1116
@dashriprock007
The fix was released in [version 4.3.0 beta](https://www.bleachbit.org/news/bleachbit-430-beta). Give it a try, and let me know in this issue whether it was fixed.

[2021-06-04 19:36] az0 commented on #1135
@ancar7
The fix was released in [version 4.3.0 beta](https://www.bleachbit.org/news/bleachbit-430-beta). Give it a try, and let me know in this issue whether it was fixed.

[2021-06-04 22:30] WildByDesign commented on #1090
@az0  That fix worked. Cheers!

[2021-06-06 13:30] kobiw opened #1173 "Exiting V.4.2.0 on Windows 7 leaves locked files"
When terminating V.4.2.0 Portable by the "x" on top-right (no menu item for exiting is available except with shred settings), some files are left attached to rundll32.exe .
I need to kill that rundll32 process in order to release the files.
Example of a locked file: libwinpthread-1.dll

These lock-ups interfere with expanding a new BleachBit version into the same directory.

System: WIN 7 SP1 32 b

[2021-06-08 18:47] Haurabe opened #1174 ""Wipe free space" does not work properly"
When you use the "wipe free space" function at the very end, the program just freezes up and you have the option to either wait or close it. (but waiting did not do anything)
On the disk itself appears a file that takes all the free space and have to delete it manually. (And this clearly should not be)
P.S.
The program installed on the system disk (where I try to wipe the free space)
Version - ble

[2021-06-13 15:20] az0 commented on #974
I unassigned this issue because of lack of updates. If you have an update, please add a comment. Thank you

[2021-06-13 15:26] az0 commented on #1172
Cylance: VirusTotal no longer reports a detection
MaxSecure: Trojan.Malware.300983.susgen

[2021-06-13 15:28] az0 commented on #1172
I reported to MS via their form https://www.maxsecureantivirus.com/submit_aFalse_Positive.htm

[2021-06-14 00:04] 0pLuS0 commented on #942
Sorry I never mentioned this was always happening in Enterprise and recently I switched to Home, and at present I'm not seeing the issue in Windows Home.

If it does appear again in Win10 Home I'll report back.

P.S. Not sure why versions of WIndows should matter... hmm

[2021-06-17 15:17] rados commented on #1084
@az0
I've verified that the application doesn't start as root but starts otherwise. I'm available to trace further.

[2021-06-18 00:09] az0 commented on #1174
How long did you wait? Do you have a HDD or SSD? How much space is free on it (when not cleaning it)?

So far, this seems like a side effect of

1. The cleaning work is done in the same process as the user interface, so in certain situations the UI becomes non-responsive
2. At the end of cleaning, deleting a single large file can be slow because of how the operating system works

In the future, th

[2021-06-18 00:11] az0 commented on #1084
@rados
Thank you

[2021-06-18 15:44] rados commented on #1084
@mo-moxi
I've found a way to run it. It works on my machine. The article bellow describes it:

xhost si:localuser:root
sudo bleachbit

https://wiki.archlinux.org/title/Running_GUI_applications_as_root

[2021-06-18 15:44] rados commented on #1045
@JedMeister
I've found a way to run it. It works on my machine. The article bellow describes it:

xhost si:localuser:root
sudo bleachbit

https://wiki.archlinux.org/title/Running_GUI_applications_as_root

[2021-06-18 16:04] Haurabe commented on #1174
Yes, I performed this operation on an SSD drive.(There was about 160 gb of free space out of 223 Gb before I started doing the free space cleanup)
It seems like it should have already ended, but the program interface just hung up and that's it.
I tried to wait for about half an hour but nothing changed.
The disk itself is a system disk.
Only shutting down the process via the task manager and manua

[2021-06-18 19:56] rados commented on #241
@az0
I can handle this one.

[2021-06-18 20:47] rados commented on #937
@az0
I can handle this one. I can find this file on my Windows 7 machine but it is accessible and Bleachbit successfully cleans it. So it could be something related with a server machine indeed.

@Saibamen
Can you check what is the date of the file? Last modified, last used, etc...

[2021-06-19 00:22] banaagravrommel opened #1178 "Clean function not working on Internet Explorer"
**Describe the bug**
The function does not work properly on Internet Explorer, upon cleaning everything the history and bookmark were not deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the application
2. Select checkbox beside Internet Explorer
3. Click the clean button

The error happens every time.

**Expected behavior**
It should properly clean the data for Internet Explore

[2021-06-19 00:29] banaagravrommel opened #1179 "Complete data is not loaded on the side nav unless minimizing a tab"
**Describe the bug**
Complete data is not shown unless the user has clicked the minimize button on any tab

**To Reproduce**
Steps to reproduce the behavior:

1. Open the application
2. Scroll down to the side nav
3. Minimize any tab
4. Scroll down to the side nav

The error happens every time.

**Expected behavior**
It should show complete data on the side nav

**Screenshots**
http://recordit.co/

[2021-06-19 00:34] banaagravrommel opened #1180 "Application stops responding upon downloading data for make chaff function"
**Describe the bug**
When user tries to download data on make chaff function the application stops responding for a while.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the application
2. Click BleachBit Icon on the top right
3. Select Make Chaff
4. Click download data

The error happens every time.

**Expected behavior**
The application should not stop responding upon processing

**S

[2021-06-19 00:44] banaagravrommel opened #1181 "Make file via make chaff function not working properly if number of files value is low"
**Describe the bug**
If the number of files is low then the function does not create files. An example is if the value is 25 nothing happens upon completing.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the application
2. Click BleachBit Icon on the top right
3. Select Make Chaff
4. Change number of files
5. Click Make Files

The error happens every time

**Expected behavior**
Preven

[2021-06-19 00:47] banaagravrommel opened #1182 "Website text on About BleachBit is not clickable"
**Describe the bug**
The website text looks like a link but is not clickable.  This should be clickable and would open up to the website page.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the application
2. Click BleachBit Icon on the top right
3. Select About BleachBit
4. Click Website text

The error happens every time.

**Expected behavior**
The link should be clickable and would

[2021-06-19 00:55] banaagravrommel opened #1183 "Make Chaff popup should be automatically closed upon opening another menu"
**Describe the bug**
Make chaff popup should be closed if another popup has been opened.
I would like it if the "make chaff" popup will automatically closed if another popup has been opened like the "preference" popup appears because application should not allow multiple popup open while the other is not close

**To Reproduce**

1. Steps to reproduce the behavior:
2. Open the application
3. Click

[2021-06-19 00:58] banaagravrommel opened #1184 "Prevent users from making any action if something is in progress in the application"
**Describe the bug**
When any function is in progress then the application should be disabled. Preventing users to take any action.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the application
2. Click BleachBit Icon on the top right
3. Select Make Chaff
4. Click Make Files
5. Open the menu

The error happens every time.

**Expected behavior**
The user should be prevented from doing

[2021-06-19 01:02] banaagravrommel opened #1185 "Add a value limit on number of files a user can create"
**Describe the bug**
Add limit on a number of files textbox. If the user wants to create [x] files that go over the maximum value then the user should redo the function

**To Reproduce**
Steps to reproduce the behavior:

1. Open the application
2. Click BleachBit Icon on the top right
3. Select Make Chaff
4. Change value of number of files to [x]
5. Click Make files

The error happens every time

[2021-06-19 01:05] banaagravrommel opened #1186 "Add message indication on make chaff function"
**Describe the bug**
If the function was successful or has failed then a popup message should appear informing the user.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the application
2. Click BleachBit Icon on the top right
3. Select Make Chaff
4. Click Make files

The error happens every time.

**Expected behavior**
A popup message should appear upon completion of the process.

**Sc

[2021-06-19 01:07] banaagravrommel opened #1187 "Improve design of make chaff popup"
**Describe the bug**
Improve design of make chaff popup. It should be readable and pleasing to the user's perspective.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the application
2. Click BleachBit Icon on the top right
3. Select Make Chaff

**Expected behavior**
Popup should be readable and pleasing to the user's perspective.

**Screenshots**
https://ibb.co/xhMr8Zn

**Desktop (ple

[2021-06-19 01:10] banaagravrommel opened #1188 "Add title for help menu popup"
**Describe the bug**
There is no title on help menu

**To Reproduce**
Steps to reproduce the behavior:

1. Open the application
2. Click BleachBit Icon on the top right
3. Select Help

The error happens every time.

**Expected behavior**
A title should be present on help menu popup

**Screenshots**
https://ibb.co/X8Bw5VF

**Desktop (please complete the following information):**

- OS: Windows 10
-

[2021-06-19 01:12] banaagravrommel opened #1189 "Title name inconsistenc on Diagnostics menu"
**Describe the bug**
Menu name is "Diagnostics" and title bar name is "Systems information" it would be better to be consistent. I suggest using the Systems Information instead

**To Reproduce**
Steps to reproduce the behavior:

1. Open the application
2. Click BleachBit Icon on the top right
3. Select Diagnostics

The error happens every time.

**Expected behavior**
The title name should be consi

[2021-06-19 01:14] banaagravrommel opened #1190 "Add manual update button in "About BleachBit" popup"
**Describe the bug**
There is no manual update button on the application. This would be ideal in the future as sometimes automatic updates do not work properly and if users want to update the application instantly.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the application
2. Click BleachBit Icon on the top right
3. Select About BleachBit

The error happens every time.

**Expected

[2021-06-19 01:17] banaagravrommel opened #1191 "Improve process flow on preference menu"
**Describe the bug**
Currently, every change saves automatically. The process should be different, there should be a save button, default button, and reset button.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the application
2. Click BleachBit Icon on the top right
3. Select Preference
4. Change any setting

**Expected behavior**
The process is much more optimized with data not savi

[2021-06-19 01:19] banaagravrommel opened #1192 "Outline not visible on preference section on a certain setting combination"
**Describe the bug**
Outline not visible on preference section if Windows 10 theme = false and Dark mode = false. The outline should be visible as it looks like the button was incorrectly placed

**To Reproduce**
Steps to reproduce the behavior:

1. Open the application
2. Click BleachBit Icon on the top right
3. Select Preference
4. Change tab to Custom

The error happens every time.

**Expected

[2021-06-19 01:21] banaagravrommel opened #1193 "Add tooltips on the application"
**Describe the bug**
Add tooltips to the application. I suggest adding tooltips beside the function upon hovering to inform users what the settings will do. There are some uncommon words used as well which will confuse first-time users.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the application

**Expected behavior**
The tooltip should be present on the application

**Screenshots*

[2021-06-19 01:24] banaagravrommel opened #1194 "Clean function does not work on Brave Browser"
**Describe the bug**
The clean function does not work on Brave Browser, it does not clean anything on the application

**To Reproduce**
Steps to reproduce the behavior:

1. Open the application
2. Select checkbox beside Brave Browser
3. Click clean button

The error happens every time.

**Expected behavior**
The function should work properly and should clean any data selected on the application.

[2021-06-19 02:16] az0 commented on #1189
This makes sense. Good catch. In the future, please attach screenshot to GitHub using drag and drop onto the text area where you type your comment.

[2021-06-19 02:17] az0 commented on #1190
BleachBit has automatic notification of updates, but this opens a web browser for the user to manually download and install, so it seems this isn't necessary.

[2021-06-19 02:22] az0 commented on #1182
Your screen recording makes sense. It looks like a hyperlink, so it should be clickable.

On Ubuntu 20.10 with git revision 3b0b1cd054d00672623a015fdbfff681c4cc1663 (just after 4.3.0 beta) the same hyperlink works, so maybe it's a Windows problem

@banaagravrommel Did you use the BleachBit installer or portable mode?

[2021-06-19 02:24] az0 commented on #1193
@banaagravrommel

Do you mean the preferences dialog (e.g., dark mode)? Or the left panel of the main screen with the cleaning options (e.g., cache, logs, history)?

[2021-06-19 02:25] az0 commented on #1194
@banaagravrommel
Do you use the normal stable release of Brave? Or Brave beta?

[2021-06-19 02:27] az0 commented on #1192
Thank you

I'm attaching your screenshot here in case ibb.co maybe deletes it later

![m5](https://user-images.githubusercontent.com/933680/122628496-9126fd00-d073-11eb-8c54-c884b27b61b9.png)

[2021-06-19 02:29] banaagravrommel commented on #1182
I used BleachBit installer.

On Sat, Jun 19, 2021 at 10:22 AM Andrew Ziem ***@***.***>
wrote:

[2021-06-19 02:29] banaagravrommel commented on #1189
Okay got it

On Sat, Jun 19, 2021 at 10:16 AM Andrew Ziem ***@***.***> wrote:

[2021-06-19 02:29] banaagravrommel commented on #1190
Okay sure

On Sat, Jun 19, 2021 at 10:18 AM Andrew Ziem ***@***.***>
wrote:

[2021-06-19 02:30] banaagravrommel commented on #1193
This can be on the left panel and on preference, typically I suggest the
main functionalities like shred or make chaff

On Sat, Jun 19, 2021 at 10:24 AM Andrew Ziem ***@***.***>
wrote:

[2021-06-19 02:30] banaagravrommel commented on #1194
I did use the stable release.

On Sat, Jun 19, 2021 at 10:26 AM Andrew Ziem ***@***.***> wrote:

[2021-06-19 02:30] banaagravrommel commented on #1192
Okay sure

On Sat, Jun 19, 2021 at 10:27 AM Andrew Ziem ***@***.***>
wrote:

[2021-06-19 02:31] az0 commented on #1179
Thank you. Your video is helpful to demonstrate, and I attached the video here in case recordit.co maybe would delete it later

https://user-images.githubusercontent.com/933680/122628576-085c9100-d074-11eb-999a-2b7483d7698f.mp4

[2021-06-19 07:23] abitrolly commented on #1183
Could you, please, add a clear and concise problem description to your reports? For example:

* I'm always frustrated when [...] because [...]
* I would like it if [...] happened when I [...] because [...]

[2021-06-19 07:27] abitrolly commented on #1179
That's a weird behavior. Nice catch.

[2021-06-19 08:05] abitrolly commented on #1182
This should have been fixed in https://github.com/bleachbit/bleachbit/pull/952 but

@banaagravrommel do you run BB as an administrator?

[2021-06-19 08:55] abitrolly commented on #1084
If BB can detect the condition, it can show this way to users.

[2021-06-19 08:57] abitrolly commented on #1189
Pasting screens from clipboard into edit form works too.

[2021-06-19 19:01] az0 commented on #1189
@abitrolly
You mean it is not read only?

[2021-06-19 19:04] #1190 closed

[2021-06-19 19:13] az0 commented on #1191
In the GNOME Human Interface Guidelines the preferences [dialog ](https://developer.gnome.org/hig/stable/dialogs.html.en)is a presentation dialog, and it gives this guidance

BleachBit doesn't fully support macOSX, but as a "second opinion" from a company known for good user design, here is what Apple recommends for [preference dialogs](https://developer.apple.com/design/human-interface-guidelines

[2021-06-19 19:13] #1191 closed

[2021-06-19 19:16] az0 commented on #1178
Screen recording is helpful. Thank you again for that.

This issue is invalid because of the mismatch: in BleachBit, the browser Internet Explorer was cleaned (as you reported), but then the browser you opened afterwards was Microsoft Edge. There is a separate cleaner for Edge.

One way to start MSIE, is to run the command `iexplore.exe` from the Windows run dialog.

[2021-06-19 19:16] #1178 closed

[2021-06-19 19:17] az0 commented on #1180
Yes, IIRC, the download happens in the same thread as the UI, so downloading can freeze the UI.

[2021-06-19 19:18] az0 commented on #241
@rados
OK, I assigned to you. Thanks

[2021-06-19 19:20] az0 commented on #1181
My guess is that the process in BleachBit happens so far that the file browser doesn't have time to show it, but I will take a closer look.

It may help to enable debug logging in the BleachBit preferences, and then start BleachBit with the console (`bleachbit_console.exe`).

[2021-06-19 19:23] az0 commented on #1185
The purpose of making chaff is similar to the "wipe free space" function, which is designed to fill up storage to 100% (to hide previously deleted files), so making chaff should have the same ability. This would be a bug if BleachBit crashed in this condition, while the proper behavior is to stop attempting to create more files. If selected, it should still delete the files (after the disk-is-full

[2021-06-19 19:29] az0 commented on #1187
I agree that the dialog should be improved, though it is not a top priority now. The dialog was maybe not changed since it was added in BleachBit 3.0.

I uploaded your image in case ibb.co later deletes it.

![github_1187_chaff_ui](https://user-images.githubusercontent.com/933680/122653474-ec073580-d101-11eb-9f4c-294c571dfb7c.png)

[2021-06-19 19:31] az0 commented on #1194
Thank you. I assigned to milestone 4.4 to work on this soon

[2021-06-19 19:33] az0 commented on #1188
OK, this makes sense.

I uploaded your imagine in case ibb.co later deletes it

![github_1188_missing_title](https://user-images.githubusercontent.com/933680/122653603-de05e480-d102-11eb-95cb-e4071090715a.png)

[2021-06-19 21:51] banaagravrommel commented on #1183
I changed the description hope you understand it more

[2021-06-19 21:52] banaagravrommel commented on #1182
Yes, I did.

On Sat, Jun 19, 2021 at 4:05 PM Anatoli Babenia ***@***.***>
wrote:

[2021-06-19 21:56] abitrolly commented on #1182
@banaagravrommel if it doesn't repeat when you run BB as ordinary user, then the title should be changed to reflect that.

[2021-06-19 22:55] rados commented on #1191
@az0
I agree with the immediately apply style but I liked the option to reset to defaults. 'Shred settings and Quit' menu command is not obvious way for resetting the preferences...

[2021-06-19 23:57] rados commented on #1183
We can make the pop up modal, like the Preferences.

[2021-06-20 01:54] az0 commented on #1184
This is a duplicate of https://github.com/bleachbit/bleachbit/issues/1183 in the sense that making the "make chaff" dialog to be modal will fix both issues. What do you think, @banaagravrommel  ?

[2021-06-20 01:56] az0 commented on #1183
OK, the dialog can be modal. This will also fix #1184

[2021-06-20 02:29] az0 commented on #1186
The[ GNOME HIG](https://developer.gnome.org/hig/stable/progress-bars.html.en) don't mention what to do when a progress bar is done. The [macOS guidelines](https://developer.apple.com/design/human-interface-guidelines/macos/indicators/progress-indicators/) state

This issue refers to macOS's statement about "too soon," so we can give better feedback. I don't like a popup that requires user interact

[2021-06-20 10:04] Saibamen commented on #937
![image](https://user-images.githubusercontent.com/905878/122669908-a4df7a00-d1bf-11eb-974c-3e4c50702598.png)

[2021-06-20 17:32] az0 commented on #1172
On VT, MaxSecure still has FP. I am waiting on MaxSecure

[2021-06-20 18:03] #1189 closed

[2021-06-20 18:51] abitrolly commented on #1189
![image](https://user-images.githubusercontent.com/8781107/122684986-8a35f100-d211-11eb-9c6e-10ea1899bd27.png)

I mean you can do Ctrl+Shift+PrtScr and then Ctrl+V directly into issue comment.

[2021-06-21 01:22] banaagravrommel commented on #1182
@abitrolly I checked it just now and it's working fine for both users.

[2021-06-21 07:43] rados commented on #1084
@abitrolly @mo-moxi
Just to warn you that this solution presents security risk:

"All of the following methods have security implications that users should be aware of. As put by Emmanuele Bassi, a GNOME developer: "there are no *real*, substantiated, technological reasons why anybody should run a GUI application as root. By running GUI applications as an admin user you are literally running milli

[2021-06-21 08:18] abitrolly commented on #1084
@rados yes, this warning could be shown too. Although I would say that the major security risk is stealing SSH keys and private documents, and that doesn't require root access. BB does a great job by being open source, but it also need sponsors for bounty hunting programs to cover a;; possible attack vectors.

[2021-06-21 08:26] abitrolly commented on #1182
@banaagravrommel do you mean that nothing had changed and it worked all of the sudden?

[2021-06-21 10:51] banaagravrommel commented on #1182
Yep, I tried just earlier and it worked perfectly. That's weird I haven't
done anything but it is working now.

On Mon, Jun 21, 2021 at 4:26 PM Anatoli Babenia ***@***.***>
wrote:

[2021-06-22 03:44] az0 commented on #1019
@jasmine124
Rados cannot reproduce the issue, so for now I will close this issue. If you have any information, please add a comment to this issue. We can reopen the issue if necessary.

[2021-06-22 03:44] #1019 closed

[2021-06-22 03:46] az0 commented on #437
@rados
I assigned to you because you opened a PR.

@teknowledgist  @Tobias-B-Besemer
There is a build available with this improvement. Are you available to test it please? If so, I will send more details

[2021-06-22 04:13] az0 commented on #1182
@banaagravrommel
Thank you for letting us know, and now I am closing this issue.

[2021-06-22 04:13] #1182 closed

[2021-06-23 06:24] chdslv opened #1196 "Some sections of Bleachit doesn't function"
Some sections of Bleachit doesn't function. Arch Linux.

[code]

[2021-06-23 07:05] abitrolly commented on #1196
@chdslv could you be more specific about the version used and clean operation that fails?

[2021-06-23 07:49] chdslv commented on #1196
Bleachbit 4.2.0
![bleachbit](https://user-images.githubusercontent.com/28350701/123057556-4527df80-d408-11eb-93b4-b34bd80190a3.png)

[2021-06-23 09:40] abitrolly commented on #1196
That's the same Traceback as in https://github.com/bleachbit/bleachbit/issues/1097#issuecomment-766459997 which is supposed to be fixed by https://github.com/bleachbit/bleachbit/pull/951 but appears it is not.

[2021-06-23 10:54] chdslv commented on #1196
Well, I purged Bleachbit and reinstalled, but the problem stays.

[2021-06-23 11:39] abitrolly commented on #1196
I don't think it is fixed them, but still could you check that it is same with latest version from checkout?
[code]

[2021-06-24 03:15] az0 commented on #1194
With Git revision 10ecc2a3c35bfb7a2cff42e5882e542c7c10afcd on Ubuntu 20.10, it cleans Brave 1.26.67 .

[2021-06-24 03:45] az0 commented on #1194
I tested with Brave 1.26.67 on Windows 10 and BleachBit 4.3.0 beta. The first time I tried to clean, Brave was running in the background, so I had to kill the process. (Maybe I didn't wait long enough for it close naturally.) Afterwards, BleachBit cleaned it, and the history was gone when viewing it (CTRL+H).

@banaagravrommel
In your screen recording, facebook.com shows in the autocomplete becaus

[2021-06-24 03:47] #1194 closed

[2021-06-25 02:30] Bamajon1974 commented on #820
Just wanted to throw out a new reason to compile 64-bit BleachBit binaries...to ensure compatibility with future Win OS's.
Apparently MS won't release a Win11 32-bit OS (but apparently will support 32-bit programs)
https://www.neowin.net/news/here-are-the-official-minimum-system-requirements-for-windows-11/

[2021-06-25 03:51] az0 commented on #562
For cross reference, the same `ValueError` as here was reported  with BleachBit 3.9 https://bugs.launchpad.net/ubuntu/+source/bleachbit/+bug/1933289

[2021-06-25 03:53] az0 commented on #1189
Nice!

[2021-06-25 03:54] az0 opened #1197 "Update to SQLite 3.36.0"
https://www.sqlite.org/releaselog/3_36_0.html

[2021-06-25 13:58] ghost opened #1198 "Add Cleaning support for additional web browsers"
Hello Team,

I have shared below the link which has installers for web browser (both online and standalone installer). These web browser have been searched from filehorse.com and then the setup files have been downloaded from the original developer websites. The web browser may feature beta, developer, canary as well as stable build of same web browser. Kindly release cleaning support for the unde

[2021-06-26 15:49] az0 commented on #1172
MaxSecure still has a FP, but it's up to the vendor. Also, the 4.3.0 release is soon obsolete, so closing

[2021-06-26 15:49] #1172 closed

[2021-06-27 15:02] az0 commented on #1198
Link is a multi-gigabyte file---This is not helpful. Also, the user rkher95 is now a ghost, so closing

[2021-06-27 15:02] #1198 closed

[2021-06-27 19:18] az0 opened #1199 "BleachBit-4.4.0-portable.zip has two false positives"
https://www.virustotal.com/gui/file/023a817b69d49fde61a90dde2f06cbb1830c4d4a45527540405af88e221f378e/detection

Cylance: Unsafe

MaxSecure: Trojan.Malware.300983.susgen

[2021-06-27 21:00] Gitoffthelawn opened #1200 "Release v4.4 not marked as latest on GitHub"
Just FYI, even though v4.4 has been officially released, it's not marked as the latest release on GitHub.

[2021-06-27 21:04] az0 commented on #1200
Thank you. I fixed it https://github.com/bleachbit/bleachbit/releases/tag/v4.4.0

[2021-06-27 21:04] #1200 closed

[2021-06-27 21:06] az0 commented on #1092
The only remaining FP is MaxSecure, and it's up to them.

[2021-06-27 21:06] #1092 closed

[2021-06-27 21:10] az0 commented on #1199
Report to MaxSecure via form https://www.maxsecureantivirus.com/submit_aFalse_Positive.htm , and the form responded

[2021-06-27 21:15] az0 commented on #1199
I reported via email to cylancefilesubmit@cylance.com , but I am not sure that's still the best way because they were bought by BlackBerry

[2021-06-27 21:17] az0 commented on #1199
Submitted Cylance false positive via support form at https://www.blackberry.com/us/en/support/smartantivirus

[2021-06-27 23:10] Gitoffthelawn commented on #1200
@az0 You're welcome!  Thanks for the thanks.  Thanks for fixing it.  Thanks for new version! :) :) :)

[2021-06-28 02:21] Gitoffthelawn opened #1201 "v4.4.0 - Scrolls to wrong section when previewing via context menu"
**Describe the bug**
Scrolls to wrong section when previewing via context menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Scroll down in the left pane.
2. Right-click on any item.
3. Click the preview menuitem.
4. Repeat steps 1-3 as needed.
5. Notice that the left pane scrolls unexpectedly.

The error happens every time.

**Expected behavior**
Left pane to not scroll except when direc

[2021-06-28 02:23] Gitoffthelawn opened #1202 "Move/add 'Done' message below progress messages."
**Describe the bug**
Currently, in v4.4.0, the 'Done' message appears *above* the progress messages, making it non-obvious when the cleaning is done.

Recommendation: Move the 'Done' message' below the progress messages and make it larger.

[2021-06-28 06:30] Olaf987 opened #1203 "Scrollbar broken on release 4.4"
Dear all:

For me Bleachbit 4.4.0 is working quite well except that I now have an annoying bug in the interface. The scrollbar that allows you to scroll the settings in the left pane up or down is not working. The scroll drag thingy is not present. You can only get to the to other parts of the setting by clicking an item and then using the arrow keys. This does not break the tool, but it is rather

[2021-06-28 10:38] abitrolly commented on #1203
I can confirm this on Linux with latest source as well.

![Screenshot from 2021-06-28 13-30-23](https://user-images.githubusercontent.com/8781107/123622556-07b2c000-d815-11eb-9556-64a1ee4ba307.png)

Looks like duplicate for https://github.com/bleachbit/bleachbit/issues/1179 and if it doesn't repeat with 4.2 then the regression is likely caused by https://github.com/bleachbit/bleachbit/commit/d8c33

[2021-06-28 13:16] Martii commented on #1203
@abitrolly

Would you please try collapsing one or more of the down arrows... mine just freed up and scrolling works again. Not sure if I can reproduce this... but it's worth a shot.

[2021-06-28 13:18] abitrolly commented on #1203
@Martii yes, collapsing arrows helps as well as scrolling with arrow keys.

[2021-06-28 13:19] Martii commented on #1203
@abitrolly

Thanks. Weird GTK bug.

[2021-06-28 13:21] abitrolly commented on #1203
@Martii just a wild guess that padding box that is added at https://github.com/bleachbit/bleachbit/commit/d8c33f873845de00dd50033d60509fe0bacd73b0 is not updated to the correct size why element is initialized.

[2021-06-28 13:39] Martii commented on #1203
@abitrolly

Possibly... but even if you resize the window the event isn't translated to that `Box`. I'm curious if #1034 will rebreak. I've never seen that particular issue but I'm also under KDE... might be some slight difference with this WM. \*shrugs\*.

[2021-06-29 05:56] Olaf987 commented on #1203
I can confirm that opening and closing a few arrows restores the slider thingy in the scrollbar on windows 10 21H1

[2021-06-29 06:49] francoism90 commented on #1203
A workaround is toggling `Hide irrelevant cleaners`  in Preferences and click Close (Linux/GNOME.

The scrollbar on the cleaning log seems to work fine for me.

[2021-06-29 09:00] m0lz commented on #1203
Can confirm, also on Win 10 21H1 OS Build 19043.1081
Middle mouse wheel does not work but using keyboard cursor keys as a workaround does.

[2021-06-30 00:56] az0 commented on #1204
@XhmikosR
Yes. Good catch.

@Merlote @Alessandro-GH
You can try the Brave cleaner here in [BleachBit version 4.4.0](https://www.bleachbit.org/news/bleachbit-440)

[2021-06-30 00:56] #1204 closed

[2021-06-30 02:40] ineuw commented on #1168
@abitrolly

You were not reading my post. I cloned bleachbit just now, and this is the user version. The missing color problem is with the admin version. I also switched between various dark theme settings and the result is always the same.

[2021-06-30 14:51] abitrolly commented on #1168
@ineuw I hear you. The problem appears only if the BleachBit is run with `sudo`. Right? It makes sense to rename the ticket to reflect that.

[2021-06-30 17:42] rados commented on #1168
Just FYI I cannot reproduce it on my Debian 10. So most probably it is related with the user's OS / local settings.

[2021-06-30 20:32] ineuw commented on #1168
I am also certain that it's a Linux Mint issue. I used a variety of dark themes & settings but it had no effect.

[2021-06-30 22:55] KanadeTachibana2 opened #1206 "Exclude cleaners through command line?"
Hey, I was wondering if it could be possible to implement exclusion of cleaners through the command line interface?

Something like:

--clean --all-but-warning --exclude system.clipboard

Is this viable?

[2021-07-01 02:19] huastone2018 opened #1207 "BleachBit v4.4.0 display unreadble text after installed on win7(64bit), Simplified Chinese os"
**Describe the bug**
The newest BleachBit v4.4.0 display unreadble text when I installed it on win7(64bit), Simplified Chinese operating system. Please see the screenshots below. I like this tools and expect this could be resolved, thank you.

**To Reproduce**

1. install the Bleachbit new version v4.40
2. It prompt old version BleachBit already exist, and follow the instructions to unstall the ol

[2021-07-01 02:46] az0 commented on #1207
@huastone2018
Thank you for a bug report with excellent detail. Would you please also check one more thing? In the folder `c:\program files (x86\bleachbit\share\fonts` are there the two fonts segoeui and tahoma?

[2021-07-01 03:03] az0 commented on #1203
Sorry for this regrettable bug. We'll fix this ASAP.

Until then, I documented the problem and your helpful workarounds in the[ known issues](https://www.bleachbit.org/news/bleachbit-440#known_issues) section of the release notes.

[2021-07-01 03:05] az0 commented on #1203
This happens also on Ubuntu 20.10 with GNOME. Because it's not Windows specific, I will edit the title of this issue.

[2021-07-01 03:27] az0 commented on #1202
This progressbar is created using the [gtk.ProgressBar](https://developer.gnome.org/pygtk/stable/class-gtkprogressbar.html) widget.  The API provides a standard option to adjust  the animation, such as to make it go right to left or bottom to top, but I do not see a straightforward way to move the text below.

With GTK, the best practice for adjusting the text size for a widget is to modify the th

[2021-07-01 03:46] az0 commented on #1168
I tested BleachBit version 4.4.0 on a vanilla install of Linux Mint Cinnamon 20.1, and yes, the BleachBit dark theme option has no effect when running as a regular user or as sudo.

Then, I found a way to get it working.
1. Open the Linux Mint "Themes" application
2. Click on Controls
3. Switch to Adwaita

Then, the dark theme preference in BleachBit works, so it is a limitation of the theme.

@in

[2021-07-01 03:49] az0 commented on #1201
Thank you for the bug report. Yes, I observe that the left pane unexpectedly scrolls to the top when following your procedure. I am on Ubuntu 20.10 with BleachBit 4.4.0.

[2021-07-01 03:54] az0 commented on #1207
For comparison, here is a screenshot of my fonts folder
![share_fonts](https://user-images.githubusercontent.com/933680/124062339-cc1f1e00-d9ed-11eb-9021-87dcc5660528.png)

[2021-07-01 03:55] huastone2018 commented on #1207
Thanks for your attention. Segoeui and tahoma exist in the folder you specified when bleachBit v4.4.0 installed. But them do not exist in the folder when BleachBit v4.0.0 installed. It display unreadable text on v4.4.0 and normal on v4.0.0. Please see the screenshot below:
![fonts screenshot when beachBit 4 4 0](https://user-images.githubusercontent.com/39025953/124062346-2c03dc00-da63-11eb-8ee2-2

[2021-07-01 04:05] az0 commented on #1207
Yes, there was an improvement in BleachBit version 4.4.0 to significantly speed it up the first time it loads, and this changed the contents of the folder. I was worried the fonts might be missing, but they are there.

Please excuse my ignorance about how Simplified Chinese works, but my next concern is whether these fonts maybe lack the ability to show Simplified Chinese characters. I tried testi

[2021-07-01 04:55] huastone2018 commented on #1207
Segoeui and tahoma can not support simplified Chinese display, them only support Western characters， such as english and Greek alphabet。 I hope the BleachBit developers can fix the probelm soon after. Thanks you very much @az0 too.

[2021-07-01 06:40] abitrolly commented on #1207
Yep, the proper fix would be to lookup system fonts if the necessary chars are missing for the current font. Good starting point to remind why Gtk is so slow in doing this.. because I already forgot it.

@huastone2018 which of default fonts on your system you can recommend to copy to BleachBit for display?

[2021-07-01 07:09] ineuw commented on #1168
Thank you. I need this info to demonstrate the developer what's wrong.

[2021-07-01 08:06] Gitoffthelawn commented on #1201
You're welcome, and thanks for the thanks.  AFAIK, it's likely a regression with 4.4.0, but that is from my memory, and not formal comparative testing.

[2021-07-01 08:11] Gitoffthelawn commented on #1202
@az0 I noticed the issue on Windows.  One idea (regardless of platform) is to simply add 1 or 3 blank lined followed by "Done!" to the output in the main BB pane in addition to the progress bar.  That way, as the user watches the progress in the main pane, they will see when BB's actions are completed.  This will be nice for everyone, but especially nice for users that have any of the deep cleanin

[2021-07-01 15:12] VoxNiphili commented on #269
https://www.virustotal.com/gui/file/bb69d916e788c6a658e4b75e945efd6960ce4ddef1f5cc0ce6db86efccbe8113/detection

[2021-07-01 15:35] rados commented on #1207
@az0
I can take this one.

[2021-07-01 16:43] rados commented on #1203
@az0
I can take this one.

[2021-07-01 17:47] rados commented on #1201
@az0
I've reproduced the bug. Seems related with #1203 & #1179 so I can take this one as well.

[2021-07-02 03:28] ineuw commented on #1168
Changing to Adwaita worked but then, I switched back to my "Cinnamox" theme, and the surprising result was that it remained dark. Now, Unselecting/Selecting works with any theme. Thanks. I consider it resolved.

[2021-07-02 03:28] #1168 closed

[2021-07-02 05:04] JWhiteUX opened #1209 "Windows 10 Install Error - Can not write to [several locations]"
Version	10.0.19043 Build 19043
Latest BleachBit

After downloading the [windows installer](https://www.bleachbit.org/download/file/t?file=BleachBit-4.4.0-setup.exe), I was promoted to uninstall previous version. Installer automatically started installation of 4.4.0 - After accepting, I was notified of several failures.

Here is a sample, you'll get the point. It basically fails on the next item wh

[2021-07-02 05:09] JWhiteUX commented on #1209
Ah, looks like I figured it out.

1. When I opened bleachbit
2. it prompted to install the latest version
3. The installer removed the older version but did not fully close the process and left the GUI hanging
4. Closed the GUI and tried a reinstall using the new version
5. Success.

[2021-07-02 05:09] #1209 closed

[2021-07-03 01:34] huastone2018 commented on #1207
@abitrolly the "msyh.ttf" is a good choice for me and it is a default font. “微软雅黑” is general used in Chinese, but it is not a fully free font and can be only freely used in MS windows. When I copy “微软雅黑” to fonts folder in BleachBit v4.4.0, display is normal and two files exist, i.e. msyh.ttf and msyhbd.ttf. It looks some better when only msyh.ttf left.
If thinking over full  freedom, Siyuan font

[2021-07-03 02:02] huastone2018 opened #1210 "Could BleachBit support donations via Chinese WeChat Pay and/or Alipay"
The payments via Wechat Pay and Alipay is very common in China. Good, free and friendly cleanup applications is lack and expected there, maybe someone want BleachBit become better and donate. If donation is difficault this will prevent the attempts.